<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div style="width: 800px; margin: 0 auto; background-color: #26104e;">
  <div style="text-align: center">
    <p style="color: #fff; margin: 0; padding: 5px 10px;"><small>"If you know what you are worth go and get what you deserve"</small></p>
  </div>
  <div style="background: rgba(0,0,0,0.3); text-align: center">
    <a href="https://freeagents.gg" style="color: #fff;">
      <img src="https://freeagents.gg/logo.png" width="240" alt="logo-freeagents">
    </a>
  </div>
  <section style="height: 200px; padding: 150px 50px;">
    <% if @resource.opcion == 'completar perfil' %>
      <p style="color: #fff;"><%= @resource.mensaje %></p>
    <% end %>

    <% if @resource.opcion == 'menor de edad' %>
      <p style="color: #fff;"><%= @resource.mensaje %></p>
      <p style="color: #fff;">Nickname de usuario: <%= @resource.nombre %></p>
      <p style="color: #fff;">Email: <%= @resource.email %></p>
    <% end %>

    <% if @resource.opcion == 'partners' %>
      <p style="color: #fff;"><%= @resource.nombre %> te envia este mensaje desde la seccion partners de FreeAgents</p>
      <p style="color: #fff;">Mensaje: <%= @resource.mensaje %></p>
      <p style="color: #fff;">Responder al siguiente mail: <a href="mailto:<%= @resource.email %>" style="color:#fff;"><%= @resource.email %></a></p>
    <% end %>

    <% if @resource.opcion == 'busqueda' %>
      <p style="color: #fff;"><%= @resource.nombre %> te envia este mensaje desde la seccion de busqueda de jugadores/equipos de
        FreeAgents</p>
      <p style="color: #fff;">Mensaje: <%= @resource.mensaje %></p>
      <p style="color: #fff;">Responder al siguiente mail: <a href="mailto:<%= @resource.email %>" style="color:#fff;"><%= @resource.email %></a></p>
    <% end %>

    <% if @resource.opcion == 'global' %>
      <p style="color: #fff;"><%= @resource.mensaje %></p>
    <% end %>

    <%# @resource.mail_form_attributes.each do |attribute, value|
      next if value.blank? || attribute == 'usuario' || attribute == 'asunto' %>

    <!--<p><b><%#= @resource.class.human_attribute_name(attribute) %>:</b>
        <%#= case value
            when /\n/
              raw(simple_format(h(value)))
            when Time, DateTime, Date
              I18n.l(value)
            else
              value
            end
        %></p>-->
    <%# end %>
    <% unless @resource.class.mail_appendable.blank? %>
      <br/>
      <h4 style="text-decoration:underline"><%= I18n.t :title, scope: [:mail_form, :request], default: 'Request information' %></h4>

      <% @resource.class.mail_appendable.each do |attribute|
        value = @resource.request.send(attribute)

        value = if value.is_a?(Hash) && !value.empty?
                  list = value.to_a.map { |k, v| content_tag(:li, h("#{k}: #{v.inspect}")) }.join("\n")
                  content_tag(:ul, raw(list), style: "list-style:none;")
                elsif value.is_a?(String)
                  value
                else
                  value.inspect
                end
      %>

        <p><b><%= I18n.t attribute, scope: [:mail_form, :request], default: attribute.to_s.humanize %>:</b>
          <%= value.include?("\n") ? simple_format(value) : value %></p>
      <% end %>
      <br/>
    <% end %>
  </section>
  <footer style="background-color: #9147ff;">
    <p style="color: #fff; padding: 5px 10px; text-align: center;">
      <a href="mailto:contacto@freeagents.gg" style="color: #fff;"><i class="fas fa-envelope" style="padding: 0 5px;"></i></a>
      <a href="https://www.twitch.tv/freeagentsesports" style="color: #fff;"><i class="fab fa-twitch" style="padding: 0 5px;"></i></a>
      <a href="https://www.instagram.com/freeagentsesports" style="color: #fff;"><i class="fab fa-instagram" style="padding: 0 5px;"></i></a>
      <a href="https://www.facebook.com/FreeAgentsEsports/" style="color: #fff;"><i class="fab fa-facebook" style="padding: 0 5px;"></i></a>
      <a href="https://www.youtube.com/channel/UC3LUYHFKerNHuogYIhe0amw" style="color: #fff;"><i class="fab fa-youtube" style="padding: 0 5px;"></i></a>
      <a href="https://twitter.com/freeagents11" style="color: #fff;"><i class="fab fa-twitter" style="padding: 0 5px;"></i></a>
    </p>
  </footer>
</div>