<%= form_with(model: faq, class: 'nk-form') do |form| %>
  <% if faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faq.errors.count, "error") %> prohibited this faq from being saved:</h2>

      <ul>
        <% faq.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row vertical-gap">
    <div class="offset-lg-3 col-lg-6">
      <div class="row vertical-gap">
        <div class="col-sm-12 text-center">
          <%= form.label 'Título de la pregunta precuente' %>
          <%= form.text_field :faq_title, class: 'form-control required' %>
        </div>
      </div>
    </div>
    <div class="offset-lg-3 col-lg-6">
      <div class="row vertical-gap">
        <div class="col-sm-12 text-center">
          <%= form.label 'Contenido de la pregunta precuente' %>
          <%= form.text_area :faq_content, class: 'form-control required', rows: 12 %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="text-center">
        <div class="nk-gap-1"></div>
        <%= form.submit 'Confirmar', class: 'nk-btn nk-btn-rounded nk-btn-color-white' do %>
          <span class="icon"><i class="ion-paper-airplane"></i></span>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
