<p id="notice"><%= notice %></p>

<p>
  <strong>Faq title:</strong>
  <%= @faq.faq_title %>
</p>

<p>
  <strong>Faq content:</strong>
  <%= @faq.faq_content %>
</p>

<%= link_to 'Edit', edit_faq_path(@faq) %> |
<%= link_to 'Back', faqs_path %>
