<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <h2 class="text-center"><%= @user.name %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'nk-form' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="offset-sm-4 col-sm-4">
                <%= f.label :email, class: 'col-form-label-sm' %><br/>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="offset-sm-4 col-sm-4">
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
              </div>
            </div>

            <div class="row">
              <div class="offset-sm-4 col-sm-4">
                <%= f.label 'Contraseña actual', class: 'col-form-label-sm mt-15' %><br/>
                <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="offset-sm-4 col-sm-4">
                <%= f.label 'Nueva contraseña', class: 'col-form-label-sm mt-15' %><br/>
                <%= f.password_field :password, autocomplete: "new-password", class: ' form-control' %>
                <% if @minimum_password_length %>

                  <small><%= @minimum_password_length %> caracteres mínimos</small>
                <% end %>
              </div>
            </div>

            <div class="row">
              <div class="offset-sm-4 col-sm-4">
                <%= f.label 'Confirmar contraseña', class: 'col-form-label-sm mt-15' %><br/>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
              </div>
            </div>

          </div>
        </div>

        <div class="col-12">
          <div class="text-center">
            <div class="nk-gap-1"></div>
            <%= f.submit 'Confirmar', class: 'nk-btn nk-btn-rounded nk-btn-color-white' do %>
              <span class="icon"><i class="ion-paper-airplane"></i></span>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="text-center mt-50">
        <h3>Borrar cuenta</h3>
        <p>¿Quiéres darte de baja?</p>
        <%= link_to "Dar de baja mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class: 'nk-btn nk-btn-rounded nk-btn-color-white mb-15' %>
        <br>
        <%= link_to 'Volver', user_path(@user) %>
      </div>

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>


