<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'nk-form') do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="row vertical-gap">
          <div class="offset-lg-3 col-lg-6">
            <div class="row vertical-gap">
              <div class="col-sm-6">
                <label for="fname">Tipo de cuenta
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.select :option, options_for_select([['Jugador', 'jugador'], ['Equipo', 'equipo']]), {}, class: 'form-control required', id: 'opcion' %>
              </div>
              <div class="col-sm-6 jugador">
                <label for="fname">Tipo de jugador
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.select :tipo, options_for_select([['Amateur', 'amateur'], ['Semi-profesional', 'semipro'], ['Profesional', 'pro']]), {}, class: 'form-control required' %>
              </div>
              <div class="col-sm-6">
                <label for="fname">Nombre completo
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.text_field :name, class: 'form-control required', required: true %>
              </div>
              <div class="col-sm-6">
                <label for="lname" class="nombre">Nickname
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.text_field :nickname, class: 'form-control required', required: true %>
              </div>
              <div class="col-sm-6">
                <label for="email">Email
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.text_field :email, class: 'form-control required', autocomplete: 'email', required: true %>
              </div>
              <div class="col-sm-6">
                <label for="age">Fecha de nacimiento
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.date_field :borndate, class: 'form-control required', id: 'user_age', required: true %>
              </div>
              <div class="col-sm-6">
                <label for="whatsapp">Whatsapp
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.text_field :whatsapp, class: 'form-control required', required: true %>
              </div>
            </div>

            <div class="row vertical-gap mt-3">
              <div class="col-sm-6">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> caracteres minimo)</em>
                <% end %><br/>
                <%= f.password_field :password, class: 'form-control', autocomplete: "new-password", required: true %>
              </div>

              <div class="col-sm-6">
                <%= f.label :password_confirmation %><br/>
                <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password", required: true %>
              </div>
              <!--<div class="col-sm-6">
                <label for="country-sel">Dispositivos que uso
                  <span class="text-main-1">*</span>:
                </label>
                <%#= f.select :devices, options_for_select(@devices_list, @user.devices), {include_hidden: false}, multiple: true, class: 'form-control', required: true %>
                <small>manten presionada la tecla ctrl para elegir mas de un dispositivo</small>
              </div>-->
              <!--<div class="col-sm-6">
                <label for="country-sel">Mis juegos
                  <span class="text-main-1">*</span>:
                </label>
                <%#= f.select :games, options_for_select(@games_list, @user.games), {include_hidden: false}, multiple: true, class: 'form-control', required: true %>
                <small>manten presionada la tecla ctrl para elegir mas de un juego</small>
              </div>-->
              <!--<div class="col-sm-6">
                <label for="country-sel">Rol / Posición
                  <span class="text-main-1">*</span>:
                </label>
                <%#= f.text_field :gamerole, class: 'form-control required', required: true %>
              </div>-->
              <div class="col-sm-6">
                <label for="country-sel">País
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.select :country, options_for_select(@country_list, @user.country), { include_blank: 'Seleccionar' }, class: 'form-control required' %>
              </div>
              <div class="col-sm-6 jugador">
                <label for="country-sel">Region
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.text_field :region, class: 'form-control required' %>
              </div>
              <div class="col-sm-6 jugador">
                <label for="country-sel">Rango horario en el que entreno:
                </label>
                <%= f.text_field :timerange, class: 'form-control required' %>
              </div>
              <div class="col-sm-6 jugador">
                <label for="country-sel">Winrate
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.text_field :winrate, class: 'form-control required' %>
              </div>
              <div class="col-sm-6 jugador">
                <label for="country-sel">Partidas jugadas
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.number_field :gameplayed, class: 'form-control required' %>
              </div>
              <div class="col-sm-6 jugador">
                <label for="country-sel">Formo parte de un equipo:
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.select :equipo_opcion, options_for_select([["No", false], ["Sí", true]]), { include_blank: 'Seleccionar' }, class: 'form-control required', id: 'equipo-opcion' %>
              </div>
              <div class="col-sm-6 jugador equipo-opcion d-none">
                <label for="country-sel">Nombre del equipo:
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.text_field :equipo, class: 'form-control required' %>
              </div>
              <div class="col-sm-6 equipo d-none">
                <label for="phone">Liga:
                </label>
                <%= f.text_field :liga, class: 'form-control required' %>
              </div>
            </div>
          </div>
          <div class="offset-lg-3 col-lg-6 menorEdad mt-25 d-none">
            <div class="row vertical-gap">
              <div class="col-12"><p class="text-white">Eres menor de edad. Debes completar los siguientes campos:</p>
              </div>
              <div class="col-sm-6">
                <label for="Tutor">Padre o Tutor
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.text_field :tutor_nombre, class: 'form-control required', placeholder: 'Nombre y Apellido', autocomplete: 'email', required: true %>
              </div>
              <div class="col-sm-6">
                <label for="Tutor">DNI
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.number_field :tutor_dni, class: 'form-control required', autocomplete: 'email', required: true %>
              </div>
              <div class="col-sm-6">
                <label for="Tutor">Parentezco
                  <span class="text-main-1">*</span>:
                </label>
                <%= f.text_field :tutor_parentezco, class: 'form-control required', autocomplete: 'email', required: true %>
              </div>
            </div>
          </div>
          <div class="offset-lg-3 col-lg-6">
            <div class="row vertical-gap">
              <div class="col-12 text-center terms-conditions-reg">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  <a href="" data-toggle="modal" data-target="#modalTerminosCondiciones">Acepto los términos y
                    condiciones</a>
                </label>
              </div>
            </div>
          </div>
          <!--<div class="offset-lg-3 col-lg-6">
            <div class="row vertical-gap">

              <div class="col-sm-6">
                <label for="email">Whatsapp
                  <span class="text-main-1">*</span>:
                </label>
                <%#= f.text_field :whatsapp, class: 'form-control' %>
              </div>
              <div class="col-sm-6">
                <label for="phone">Teléfono fijo
                  <span class="text-main-1">*</span>:
                </label>
                <%#= f.telephone_field :phone, class: 'form-control' %>
              </div>

            </div>-->

          <!--<div class="nk-gap-1"></div>
            <label for="state">Provincia
              <span class="text-main-1">*</span>:
            </label>
            <%#= f.text_field :state, class: 'form-control required' %>

            <div class="nk-gap-1"></div>
            <label for="city">Ciudad
              <span class="text-main-1">*</span>:
            </label>
            <%#= f.text_field :city, class: 'form-control required' %>

            <div class="nk-gap-1"></div>
            <label for="address">Dirección
              <span class="text-main-1">*</span>:
            </label>
            <%#= f.text_field :address, class: 'form-control required' %>

            <div class="nk-gap-1"></div>
            <label for="address">Twitch
              <span class="text-main-1">*</span>:
            </label>
            <%#= f.text_field :twitch, class: 'form-control' %>

            <div class="nk-gap-1"></div>
            <label for="address">Discord
              <span class="text-main-1">*</span>:
            </label>
            <%#= f.text_field :discord, class: 'form-control' %>

            <div class="nk-gap-1"></div>
            <label for="address">Facebook
              <span class="text-main-1">*</span>:
            </label>
            <%#= f.text_field :facebook, class: 'form-control' %>

            <div class="nk-gap-1"></div>
            <label for="address">Twitter
              <span class="text-main-1">*</span>:
            </label>
            <%#= f.text_field :twitter, class: 'form-control' %>

            <div class="nk-gap-1"></div>
            <div class="row vertical-gap">
              <div class="col-sm-6">
                <label for="email">Compartir mi email y whatsapp
                  <span class="text-main-1">*</span>:
                </label>
                <%#= f.select :contactme, options_for_select([['No', false],['Sí', true]], @user.contactme), {}, class: 'form-control required' %>
              </div>
              <div class="col-sm-6">
                <label for="email">Compartir mis redes
                  <span class="text-main-1">*</span>:
                </label>
                <%#= f.select :findme, options_for_select([['No', false],['Sí', true]], @user.contactme), {}, class: 'form-control required' %>
              </div>
            </div>

        </div>-->
          <div class="col-12">
            <div class="text-center">
              <div class="nk-gap-1"></div>
              <%= f.submit 'Confirmar', class: 'nk-btn nk-btn-rounded nk-btn-color-white enviar' do %>
                <span class="icon"><i class="ion-paper-airplane"></i></span>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>

      <div class="text-center">
        <%= render "devise/shared/links" %>
        <%= link_to 'Volver', home_path %>
      </div>

    </div>

  </div>
</div>

<div class="nk-modal modal fade" id="modalTerminosCondiciones" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="ion-android-close"></span>
        </button>

        <h4>Participación y registro</h4>
        <p class="text-justify">
          Con el fin de utilizar nuestros Servicios, o participar en una promoción, concurso o sorteo, se le podrá
          solicitar que se registre en una cuenta o que nos brinde determinada información personal. La participación en
          estos Servicios será voluntaria. Usted deberá tener trece (13) años de edad o más para visitar el sitio y
          usted deberá tener al menos dieciocho (18) años de edad para participar de la mayoría de las ofertas del
          sitio. Asimismo, se le podrá solicitar que cumpla con un requisito de edad mínima mayor y que acepte normas y
          condiciones publicadas adicionales para participar ,registrarse como usuario,crear su perfil,participar en
          determinados concursos, sorteos, eventos especiales u ofertas de servicios adicionales. Usted podrá cancelar
          susregistros en el sitio siguiendo las instrucciones para abandonar la suscripción o para dejar de recibir
          avisos del sitio que se incluyen en los Servicios o en las comunicaciones electrónicas correspondientes que
          enviamos.Los Servicios podrán solicitar que usted nos proporcione determinada información personal. Usted
          acepta que proporcionará información exacta, actual y verídica ,que la actualizará según sea necesario para
          mantener su exactitud. FREE AGENTS ESPORTS conservará y usará su información de acuerdo con su Política de
          Privacidad. Usted acepta que no ocultará su identidad proporcionándonos información falsa,
          o proporcionándonos información de otra persona que usted no está autorizado a proporcionar. Si usted nos
          ofrece información que no está autorizado a dar, podremos suspender o rescindir su registro o participación en
          el sitio y entablar una demanda con el fin de buscar una reparación. En los casos en que usted proporciona su
          dirección de correo electrónico a FREE AGENTS ESPORTS, permitirá que usemos la dirección de correo electrónico
          para enviarle notificaciones relacionadas con los Servicios, incluidas, entre otras, notificaciones exigidas
          por ley, en lugar de correo postal. Usted no podrá optar por dejar de recibir avisos por correo electrónico
          relacionados con los Servicios. Asimismo, podremos enviarle correos electrónicos comerciales en nuestro nombre
          .Usted podrá optar por dejar de recibir dichos correos electrónicos en cualquier momento siguiendo las
          instrucciones para cancelar la suscripción que se incluyen en cada correo comercial.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="nk-gap-2"></div>

<script type="text/javascript" charset="utf-8">
    $("#opcion").change(function () {
        if ($(this).val() == 'jugador') {
            $(".nombre").html('Nickname <span class="text-main-1">*</span>:');
            $('.jugador').removeClass('d-none');
            $('.equipo').addClass('d-none');
        } else {
            $(".nombre").html('Nombre del Equipo <span class="text-main-1">*</span>:');
            $('.jugador').addClass('d-none');
            $('.equipo').removeClass('d-none');
        }
    });
    $(document).on('change', '#user_age', function () {
        var dob = new Date($('#user_age').val());
        var month_diff = Date.now() - dob.getTime();
        var age_dt = new Date(month_diff);
        var year = age_dt.getUTCFullYear();
        var age = Math.abs(year - 1970);
        if (age < 18) {
            $(".menorEdad").removeClass('d-none');
        } else {
            if (!$(".menorEdad").hasClass('d-none')) {
                $(".menorEdad").addClass('d-none')
            }
        }
    });
    $(".terms-conditions-reg .form-check-input").change(':checked', function () {
        if (!$(this).is(':checked')) {
            $(".enviar").attr('disabled', 'true');
        } else {
            $(".enviar").removeAttr('disabled');
        }
    });
    $(document).on('change', "#equipo-opcion", function () {
        if($(this).val() === 'true') {
            $(".equipo-opcion").removeClass('d-none');
        } else {
            $(".equipo-opcion").addClass('d-none');
        }
    });
</script>