<%#- if controller_name != 'sessions' %>
  <%#= link_to "Log in", new_session_path(resource_name) %><br />
<%# end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "No eres miembro aún?", new_registration_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Olvidaste tu clave?", new_password_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "No recibiste las intrucciones de confirmación?", new_confirmation_path(resource_name) %><br />
<% end %>

<% if user_signed_in? %>
  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "No recibiste las intrucciones para desbloquear la cuenta?", new_unlock_path(resource_name) %><br />
  <% end %>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Loguear con #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %><br />
  <% end %>
<% end %>
