<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <!-- START: Teammate Card -->
      <div class="nk-teammate-card justify-content-center" style="background-color: transparent;">
        <div class="row">
          <div class="col-sm-12 text-center">
            <% if @partner.image.present? %>
              <%= image_tag(@partner.image, class: 'img-fluid') %>
            <% else %>
              <br>
              "No hay imagen de partner cargada"
            <% end %>
          </div>
          <div class="col-sm-12 text-center">
            <div class="player-info">
              <p>
                Partner: <strong class="h5"><%= @partner.name %></strong> <br>
                Web: <strong class="h5"><%= @partner.url %></strong> <br>
              </p>
            </div>
          </div>
        </div>
        <% if current_user.id == 2 %>
          <%= link_to edit_partner_path(@partner), class:'boton-edicion', data: { toggle: 'tooltip', placement: 'bottom', title: 'Editar'} do %>
            <span class="fas fa-edit"></span>
          <% end %>
        <% end %>
      </div>
      <div class="nk-gap-2"></div>

    </div>
    <div class="col-12 text-center">
      <%= link_to 'Volver', administrator_index_path(partners: 'all'), class: 'text-white' %>
    </div>
  </div>
</div>
<div class="nk-gap-3"></div>
