<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <!-- START: Reg-form -->
      <%= form_with(model: @banner, class: 'nk-form') do |f| %>

        <div class="row vertical-gap mt-50">
          <div class="offset-0 offset-lg-3 col-lg-6">
            <div class="row vertical-gap">
              <%= f.label 'Activo' %>
              <%= f.select :active,options_for_select([["No", false],["Sí", true]], @banner.active), {include_blank: false}, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row vertical-gap mt-20">
          <div class="offset-0 offset-lg-3 col-lg-6">
            <div class="row vertical-gap">
              <%= f.label 'Título' %>
              <%= f.text_field :title, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row vertical-gap mt-20">
          <div class="offset-0 offset-lg-3 col-lg-6">
            <div class="row vertical-gap">
              <%= f.label 'Contenido' %>
              <%= f.text_area :content, class: 'form-control', rows: '4' %>
            </div>
          </div>
        </div>
        <div class="row vertical-gap mt-20">
          <div class="offset-0 offset-lg-3 col-lg-6 text-center">
            <a class="nk-btn nk-btn-rounded nk-btn-color-white nk-anchor text-white agregar_imagenes">Agregar imagenes</a>
          </div>
        </div>
        <div id="cambiar_imagen" class="d-none">
          <div class="row vertical-gap mt-20">
            <div class="offset-0 offset-lg-3 col-lg-6">
              <div class="row vertical-gap">
                <%= f.label 'Banner' %>
                <%= f.file_field :image, class: 'form-control' %>
              </div>
              <div class="text-white">
                <i class="fa fa-times" id="image_file_size" style="color: red;"></i> El archivo no supera 1MB <br>
                <i class="fa fa-times" id="image_file_extension" style="color: red;"></i> El archivo es .jpeg, .jpg, .png
              </div>
              <img id="image_preview" class="img-fluid p-50">
            </div>
          </div>
          <div class="row vertical-gap mt-20">
            <div class="offset-0 offset-lg-3 col-lg-6">
              <div class="row vertical-gap">
                <%= f.label 'Thumbnail' %>
                <%= f.file_field :thumb, class: 'form-control' %>
              </div>
              <div class="text-white">
                <i class="fa fa-times" id="thumb_file_size" style="color: red;"></i> El archivo no supera 1MB <br>
                <i class="fa fa-times" id="thumb_file_extension" style="color: red;"></i> El archivo es .jpeg, .jpg, .png
              </div>
              <img id="thumb_preview" class="img-fluid p-50">
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <div class="nk-gap-1"></div>
            <%= f.submit 'Confirmar', class: 'nk-btn nk-btn-rounded nk-btn-color-white', id: 'confirm_button' do %>
              <span class="icon"><i class="ion-paper-airplane"></i></span>
            <% end %>
          </div>
        </div>
        <!-- END: Reg-form -->
      <% end %>
    </div>

  </div>
</div>

<div class="nk-gap-2"></div>

<script>
  $(".agregar_imagenes").on('click', function(){
      if ( $("#confirm_button").prop('disabled','false') ) {
          $(this).prop('disabled', 'true');
          $("#cambiar_imagen").removeClass('d-none');
      }
  });
  $("#banner_image").change(function(){
      var fileExtension = ['jpeg', 'jpg', 'png'];
      if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
          $("#image_file_extension").removeClass('fa-check').addClass('fa-times').css('color', 'red');
      } else {
          $("#image_file_extension").removeClass('fa-times').addClass('fa-check').css('color', 'green');
          const file = this.files[0];
          console.log(file);
          if (file) {
              let reader = new FileReader();
              reader.onload = function (event) {
                  console.log(event.target.result);
                  $('#image_preview').attr('src', event.target.result);
              }
              reader.readAsDataURL(file);
          }
      }
      if (this.files[0].size <= 1048576){
          $("#image_file_size").removeClass('fa-times').addClass('fa-check').css('color', 'green');
      } else {
          $("#image_file_size").removeClass('fa-check').addClass('fa-times').css('color', 'red');
      }
      if (($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) != -1) && (this.files[0].size <= 1048576)) {
          $("#confirm_button").enable()
      } else {
          $("#confirm_button").disable()
      }
  });
  $("#banner_thumb").change(function(){
      var fileExtension = ['jpeg', 'jpg', 'png'];
      if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
          $("#thumb_file_extension").removeClass('fa-check').addClass('fa-times').css('color', 'red');
      } else {
          $("#thumb_file_extension").removeClass('fa-times').addClass('fa-check').css('color', 'green');
          const file = this.files[0];
          console.log(file);
          if (file) {
              let reader = new FileReader();
              reader.onload = function (event) {
                  console.log(event.target.result);
                  $('#thumb_preview').attr('src', event.target.result);
              }
              reader.readAsDataURL(file);
          }
      }
      if (this.files[0].size <= 1048576){
          $("#thumb_file_size").removeClass('fa-times').addClass('fa-check').css('color', 'green');
      } else {
          $("#thumb_file_size").removeClass('fa-check').addClass('fa-times').css('color', 'red');
      }
      if (($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) != -1) && (this.files[0].size <= 1048576)) {
          $("#confirm_button").enable()
      } else {
          $("#confirm_button").disable()
      }
  });
</script>