<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <%= render 'form', banner: @banner %>

      <div class="text-center">
        <%= link_to 'Volver', administrator_index_path(banners: 'all') %>
      </div>

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>
