<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <!-- START: Teammate Card -->
      <div class="nk-teammate-card m-auto">
        <div class="row">
          <div class="col-sm-12">
            <% if @banner.image.present? %>
              <%= image_tag(@banner.image, class: 'img-fluid') %>
            <% end %>
              <br>
            <% if @banner.thumb.present? %>
              <%= image_tag(@banner.thumb, class: 'img-fluid') %>
            <% else %>
              "No hay banner cargado"
            <% end %>
          </div>
          <div class="col-sm-12">
            <div class="player-info">
              <p>
                Título: <strong class="h5"><%= @banner.title %></strong> <br>
                Contenido: <strong class="h5"><%= @banner.content %></strong> <br>
              </p>
            </div>
          </div>
        </div>
        <% if current_user.id == 2 %>
          <%= link_to edit_banner_path(@banner), class:'boton-edicion', data: { toggle: 'tooltip', placement: 'bottom', title: 'Editar'} do %>
            <span class="fas fa-edit"></span>
          <% end %>
        <% end %>
      </div>
      <div class="nk-gap-2 bg-dark-6"></div>

    </div>
    <div class="col-12 text-center">
      <%= link_to 'Volver', administrator_index_path(banners: 'all') %>
    </div>
  </div>
</div>
<div class="nk-gap-3"></div>
