<%= form_with(model: group, class: 'nk-form') do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row vertical-gap">
    <div class="offset-sm-3 col-lg-6">
      <div class="row vertical-gap">
        <div class="col-sm-12">
          <label for="name" class="col-form-label-sm">Nombre</label>
          <%= form.text_field :name, class: 'form-control' %>
        </div>


        <div class="col-sm-12">
          <%= form.label 'País', class: 'col-form-label-sm mt-15' %>
          <%= form.select :country, options_for_select(@country_list, @group.country), { include_blank: false }, class: 'form-control' %>
        </div>

        <div class="col-sm-12">
          <%= form.label 'Liga', class: 'col-form-label-sm mt-15' %>
          <%= form.text_field :league, class: 'form-control' %>
        </div>


        <div class="col-sm-12">
          <%= form.label 'Juegos', class: 'col-form-label-sm mt-15' %>
          <%= form.select :games, options_for_select(@games_list, @group_games), { include_hidden: false }, multiple: true, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="field">
          <%#= form.label :user_id %>
  <%#= form.text_field :user_id %>
        </div>-->

  <div class="col-12">
    <div class="text-center">
      <div class="nk-gap-1"></div>
      <%= form.submit 'Confirmar', class: 'nk-btn nk-btn-rounded nk-btn-color-white' do %>
        <span class="icon"><i class="ion-paper-airplane"></i></span>
      <% end %>
    </div>
  </div>
<% end %>