<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <!-- START: Reg-form -->
      <%= form_with(model: @group, class: 'nk-form') do |f| %>

        <div class="row vertical-gap mt-50">
          <div class="offset-0 offset-3 col-lg-6">
            <div class="row vertical-gap">
              <p class="mb-3 text-white">Recomendamos una imagen de 200x200px y fondo transparente</p>
              <%= f.file_field :image, class: 'form-control' %>
            </div>
            <div class="text-white">
              <i class="fa fa-times" id="file_size" style="color: red;"></i> El archivo no supera 1MB <br>
              <i class="fa fa-times" id="file_extension" style="color: red;"></i> El archivo es .jpeg, .jpg, .png
            </div>
            <img id="image_preview" class="img-fluid p-50">
          </div>
          <div class="col-12">
            <div class="text-center">
              <div class="nk-gap-1"></div>
              <%= f.submit 'Confirmar', class: 'nk-btn nk-btn-rounded nk-btn-color-white', id: 'confirm_button', disabled: true do %>
                <span class="icon"><i class="ion-paper-airplane"></i></span>
              <% end %>
            </div>
          </div>
        </div>
        <!-- END: Reg-form -->
      <% end %>

      <div class="text-center">
        <%= link_to 'Volver', user_path(current_user.id) %>
      </div>

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>

<script>
  $("#group_image").change(function(){
      var fileExtension = ['jpeg', 'jpg', 'png'];
      if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
          $("#file_extension").removeClass('fa-check').addClass('fa-times').css('color', 'red');
      } else {
          $("#file_extension").removeClass('fa-times').addClass('fa-check').css('color', 'green');
          const file = this.files[0];
          console.log(file);
          if (file) {
              let reader = new FileReader();
              reader.onload = function (event) {
                  console.log(event.target.result);
                  $('#image_preview').attr('src', event.target.result);
              }
              reader.readAsDataURL(file);
          }
      }
      if (this.files[0].size <= 1048576){
          $("#file_size").removeClass('fa-times').addClass('fa-check').css('color', 'green');
      } else {
          $("#file_size").removeClass('fa-check').addClass('fa-times').css('color', 'red');
      }
      if (($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) != -1) && (this.files[0].size <= 1048576)) {
          $("#confirm_button").enable()
      } else {
          $("#confirm_button").disable()
      }
  });
</script>