<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">
      <% if user_signed_in? %>
        <div class="row filtros">
          <div class="col-md-6">
            <%= form_with(controller: controller, method: 'get', class: 'd-flex') do |f| %>
              <%= f.text_field :nombre, class: 'form-control', placeholder: 'Buscar equipo', data: { turbolinks: false } %>
              <%= button_tag type: 'submit', class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 ml-15' do %>
                <i class="fas fa-search"></i>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-6 boton-filtro">
            <%= link_to 'Limpiar filtros', groups_path, class:"nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 mr-5" %>
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3" data-toggle="modal" data-target="#modalFiltrarBusqueda">Filtrar Equipos</button>
          </div>
        </div>
      <% end %>

      <div class="row">
        <!-- START: Teams -->
        <% @groups_pagination.each do |group| %>
          <div class="col-xl-4 col-md-6  my-2">
            <div class="nk-team">
              <div class="row">
                <div class="col-sm-4 d-flex justify-content-center align-items-center">
                  <div class="nk-team-logo">
                    <% if group.image.present? %>
                      <%= image_tag(group.image, class: 'img-fluid') %>
                    <% else %>
                      <%= image_tag("logo.png", class: 'img-fluid') %>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="nk-team-cont">
                    <div class="nk-content">
                      <h3 class="h5 mb-20">
                        <span class="text-main-1"><%= link_to group.name, group %></span>
                      </h3>
                      <p class="h5 mb-20 ml-30">
                        <% if user_signed_in? && group.user_id == current_user.id %>
                          <%= link_to edit_group_path(group) do %>
                            <i class="fa fa-edit"></i>
                          <% end %>
                          <%= link_to group, method: :delete, data: { confirm: 'Estás seguro?' } do %>
                            <i class="fa fa-trash ml-10"></i>
                          <% end %>
                        <% end %>
                      </p>
                    </div>
                    <i class="fa fa-user"></i> <%= group.players.nil? ? 'Todavia no tiene miembros' : group.players.scan(/\d*\d/).count %>
                    <!--<div class="nk-team-photo" style="background-image: url(<%#= image_path('team-photo.png') %>);"></div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <!-- END: Teams -->
      </div>
      <div class="nk-gap-2"></div>
      <!-- START: Pagination -->
      <div class="col-lg-9">
        <div class="nk-pagination nk-pagination-left">
          <nav>
            <%= will_paginate(
                  @groups_pagination,
                  previous_label: '<span class="ion-ios-arrow-back"></span>',
                  next_label: '<span class="ion-ios-arrow-forward"></span>',
                  )
            %>
          </nav>
        </div>
      </div>
      <!-- END: Pagination -->

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>
<div class="nk-gap-2"></div>
