<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <% if params["/groups/find_user/new_member"].present? || params[:find_user] %>
        <div class="table-responsive">
          <table class="table table-sm text-white">
            <thead>
            <tr>
              <th scope="col">Nickname</th>
              <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            <% if @users.present? %>
              <% @users.each do |user| %>
                <% unless user.option == "equipo" %>
                  <tr>
                    <td><%= user.nickname %></td>

                    <td class="user-<%= user.id %>">
                      <%= link_to user, class: 'mx-3' do %>
                        <i class="fa fa-eye"></i>
                      <% end %>
                      <% unless GroupInvitation.where(user_id: user.id, group_id: @group.id).present? %>
                        <% if user.groups.nil? %>
                          <%#= link_to 'Invitar al equipo', group_new_member_path(find_user: @find_user, user_id: user.id), class:'nk-btn nk-btn-rounded nk-btn-color-white .nk-btn-color-dark-3 ml-3' %>
                          <%= button_to 'Invitar al equipo', group_invitations_path(user_id: user.id, group_id: @group.id, user_invited: 1), method: :put, class:'nk-btn nk-btn-rounded nk-btn-color-white .nk-btn-color-dark-3 ml-3', onclick:"removeButton(#{user.id});" %>
                        <% else %>
                          <% unless user.group_ids.include?(@group.id) %>
                            <%#= link_to 'Invitar al equipo', group_new_member_path(find_user: @find_user, user_id: user.id), class:'nk-btn nk-btn-rounded nk-btn-color-white .nk-btn-color-dark-3 ml-3' %>
                            <%= button_to 'Invitar al equipo', group_invitations_path(user_id: user.id, group_id: @group.id, user_invited: 1), method: :put, class:'nk-btn nk-btn-rounded nk-btn-color-white .nk-btn-color-dark-3 ml-3', onclick:"removeButton(#{user.id});" %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% else %>
              <tr>
                <td>La búsqueda no obtuvo resultados</td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <%= form_with scope: group_new_member_path(:find_user) , class: 'nk-form', local: true do |form| %>
          <div class="row vertical-gap">
            <div class="offset-sm-3 col-lg-6">
              <div class="row vertical-gap">
                <div class="col-sm-12">
                  <%= form.label 'Buscar usuario', class: 'col-form-label-sm mt-15' %>
                  <%= form.text_field :user, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="text-center">
                <div class="nk-gap-1"></div>
                <%= form.submit 'Buscar miembro', class: 'nk-btn nk-btn-rounded nk-btn-color-white' do %>
                  <span class="icon"><i class="ion-paper-airplane"></i></span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="text-center mt-25">
        <% if params["/groups/find_user/new_member"].present? || params[:find_user] %>
          <%= link_to 'Volver', :back %>
        <% else %>
          <%= link_to 'Volver', group_path(@group.id) %>
        <% end %>
      </div>

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>

<script type="text/javascript" charset="utf-8">
  function removeButton(user_id) {
      $(".user-"+user_id+" .button_to").addClass('d-none');
  }
</script>
