<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <!-- START: Teammate Card -->
      <div class="nk-teammate-card m-auto padding-teammate background-team" style=" background: url(<%= asset_path('pro_teams/sub_equipo_fondo.webp') %>);">
        <div class="row">
          <div class="col-lg-2 group-avatar">
            <% avatar = User.find_by(id: @group.user_id).image %>
            <% if @group.image.attached? %>
              <%= image_tag(@group.image, class: 'img-fluid') %>
            <% else %>
              <%= image_tag("logo.png", class: 'img-fluid') %>
            <% end %>
            <%# if @group.user_id == current_user.id %>
              <%#= link_to group_avatar_path(@group), class: 'boton-edicion avatar', data: { toggle: 'tooltip', placement: 'bottom', title: 'Editar' } do %>
                <!--<span class="fas fa-edit"></span>-->
              <%# end %>
            <%# end %>
          </div>
          <div class="col-lg-10">
            <div class="player-info">
              <h3><strong class="h3"><%= @group.name %></strong></h3>
              <p>
                <% if @group.league.present? %>
                  Liga: <strong class="h5"><%= @group.league %></strong><br>
                <% else %>
                  <%= link_to 'Necesitas cargar tu liga', group_path(@group) if current_user.id == @group.user_id %><br>
                <% end %>
                <% if @group.country.present? %>
                  País: <strong class="h5"><%= Country.find_by(id: @group.country).name %></strong> <br>
                <% else %>
                  <%= link_to 'Necesitas cargar tu país', group_path(@group) if current_user.id == @group.user_id %><br>
                <% end %>
                <% if @group_games.present? %>
                  Juegos:
                  <% @group_games.each do |game_id| %>
                    <% group_game = Game.find_by(id: game_id) %>
                    <strong class="h5"><%= group_game.name unless group_game.nil? %> </strong>
                  <% end %> <br>
                <% else %>
                  <%= link_to 'Necesitas cargar tus juegos', group_path(@group) if current_user.id == @group.user_id %><br>
                <% end %>
                Pertenece al Equipo: <%= link_to User.find_by(id: @group.user_id).nickname, user_path(@group.user_id) %>
              </p>
            </div>
          </div>
        </div>
        <% if @group.user_id == current_user.id %>
          <%= link_to edit_group_path(@group), class: 'boton-edicion', data: { toggle: 'tooltip', placement: 'bottom', title: 'Editar' } do %>
            <span class="fas fa-edit"></span>
          <% end %>
        <% end %>
      </div>

      <!-- END: Teammate Card -->

      <% if @group.user_id == current_user.id %>
        <div class="nk-gap-3"></div>
        <h3 class="nk-decorated-h-2">
          <span>Opciones</span>
        </h3>
        <div class="row">
          <div class="col-sm-4 mt-15 d-flex justify-content-between">
            <%= link_to 'crear búsqueda de jugadores', new_find_user_path, class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor' %>
            <%= link_to 'eliminar equipo', group_path(@group), method: :delete, data: { confirm: "Vas a eliminar el equipo #{@group.name}" }, class: 'nk-btn nk-btn-rounded btn-danger nk-anchor ml-md-5' %>
          </div>
        </div>
      <% end %>
      <div class="nk-gap-3"></div>
      <h3 class="nk-decorated-h-2">
        <span>Integrantes</span>
      </h3>
      <% if @group.user_id == current_user.id %>
        <div class="row">
          <div class="col-sm-4 mt-15">
            <%= link_to 'Nuevo miembro', group_new_member_path(group_id: @group.id), class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor' %>
          </div>
        </div>
      <% end %>
      <div class="mt-25">
        <% if @group.players.nil? || @group.players == "[]" %>
          "No hay miembros"
        <% else %>
          <div class="table-responsive">
            <table class="table table-sm text-white">
              <thead>
              <tr>
                <th scope="col">Nickname</th>
                <% if @group.user_id == current_user.id || @group_players.include?(current_user.id.to_s) %>
                  <th scope="col">Opciones</th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <% @group_players.each do |player_id| %>
                <%
                  user = User.find_by(id: player_id)
                %>
                <tr>
                  <td>
                    <strong class="h5"><%= link_to user.name, user_path(player_id) if user.present? %></strong>
                  </td>
                  <% if @group.user_id == current_user.id || player_id.include?(current_user.id.to_s) %>
                    <td>
                      <%= link_to group_path(@group, remove_player: player_id), data: { toggle: 'tooltip', placement: 'bottom', title: 'Editar' } do %>
                        <span class="fas fa-trash"></span>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="nk-gap-3"></div>
