<div class="container">
  <div class="row filtros">
    <div class="col-md-6">
      <%= form_with(controller: controller, method: 'get', class: 'd-flex') do |f| %>
        <%= f.text_field :nombre, class: 'form-control', placeholder: 'Buscar equipo', data: { turbolinks: false } %>
        <% if params[:equipos].present? %>
          <%= f.hidden_field :equipos, value: 'equipos' %>
          <%= f.hidden_field :tipo, value: params[:tipo] %>
        <% end %>
        <%= button_tag type: 'submit', class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 ml-15' do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6 boton-filtro">
      <%= link_to 'Limpiar filtros', users_path(equipos: 'equipos', tipo: params[:tipo]), class:"nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 mr-5" %>
      <button class="nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3" data-toggle="modal" data-target="#modalFiltrarBusqueda">Filtrar Equipos</button>
    </div>
  </div>
</div>