<!-- START: Reg-form -->
<%= form_with(model: user, class: 'nk-form') do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row vertical-gap">
    <div class="col-lg-6">
      <div class="row vertical-gap">
        <% if current_user.role.id == 2 %>
          <div class="col-sm-6">
            <label for="fname">Tipo de cuenta:</label>
            <%= f.text_field :option, class: 'form-control', disabled: true %>
          </div>
          <div class="col-sm-6">
            <label for="fname">Email:</label>
            <%= f.text_field :email, class: 'form-control', disabled: true %>
          </div>
        <% end %>
        <div class="col-sm-6">
          <label for="fname">Nombre completo:</label>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <% if current_user.role.id == 2 %>
          <div class="col-sm-6">
            <label for="age">Fecha de nacimiento</label>
            <%= f.date_field :borndate, class: 'form-control', id: 'user_age' %>
          </div>
        <% end %>
        <% if @is_user %>
          <div class="col-sm-6">
            <label for="country-sel">Rango horario en el que entreno:
            </label>
            <%= f.text_field :timerange, class: 'form-control' %>
          </div>
          <div class="col-sm-6">
            <label for="country-sel">Dispositivos que uso:
            </label>
            <%= f.select :devices, options_for_select(@devices_list, @user_devices), { include_hidden: false }, multiple: true, class: 'form-control' %>
            <small>manten presionada la tecla ctrl para elegir mas de un dispositivo</small>
          </div>
          <div class="col-sm-6">
            <label for="lname">Tipo de jugador</label>
            <%= f.select :tipo, options_for_select([['Amateur', 'amateur'],['Semi-profesional', 'semipro'],['Profesional', 'pro']]), {}, class: 'form-control required' %>
          </div>
        <% end %>
        <% if !@is_user && current_user.role.id == 2 %>
          <div class="col-sm-6">
            <label for="lname">Tipo de equipo</label>
            <%= f.select :tipo, options_for_select([['Amateur', 'amateur'],['Profesional', 'pro']]), {}, class: 'form-control required' %>
          </div>
        <% end %>
        <div class="col-sm-6">
          <label for="country-sel">Mis juegos:
          </label>
          <%= f.select :games, options_for_select(@games_list, @user_games), { include_hidden: false }, multiple: true, class: 'form-control' %>
          <small>manten presionada la tecla ctrl para elegir mas de un juego</small>
        </div>
        <% if @is_user %>
          <div class="col-sm-6">
            <label for="country-sel">Rol / Posición:
            </label>
            <%= f.text_field :gamerole, class: 'form-control' %>
          </div>
          <div class="col-sm-6">
            <label for="country-sel">Winrate:
            </label>
            <%= f.text_field :winrate, class: 'form-control' %>
          </div>
          <div class="col-sm-6">
            <label for="country-sel">Partidas jugadas:
            </label>
            <%= f.number_field :gameplayed, class: 'form-control' %>
          </div>
          <div class="col-sm-6 jugador">
            <label for="country-sel">Formo parte de un equipo:
              <span class="text-main-1">*</span>:
            </label>
            <%= f.select :equipo_opcion, options_for_select([["No", false], ["Sí", true]]), { include_blank: 'Seleccionar' }, class: 'form-control', id: 'equipo-opcion' %>
          </div>
          <div class="col-sm-6 jugador equipo-opcion d-none">
            <label for="country-sel">Nombre del equipo:
              <span class="text-main-1">*</span>:
            </label>
            <%= f.text_field :equipo, class: 'form-control' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row vertical-gap">

        <div class="col-sm-6">
          <label for="email">Whatsapp:
          </label>
          <%= f.text_field :whatsapp, class: 'form-control' %>
          <small>ejemplo: 5401145549889</small>
        </div>

        <% if @is_user %>
          <div class="col-sm-6">
            <label for="phone">Teléfono fijo:</label>
            <%= f.telephone_field :phone, class: 'form-control' %>
            <small>ejemplo: +5401145549889</small>
          </div>
        <% end %>
        <% unless @is_user %>
          <div class="col-sm-6">
            <label for="phone">Liga:
            </label>
            <%= f.text_field :liga, class: 'form-control' %>
          </div>
        <% end %>
        <div class="col-sm-6">
          <label for="country-sel">País:
          </label>
          <%= f.select :country, options_for_select(@country_list, @user.country), { include_blank: false }, class: 'form-control' %>
        </div>
      </div>

      <% if @is_user %>
        <div class="nk-gap-1"></div>
        <label for="country-sel">Region:
        </label>
        <%= f.text_field :region, class: 'form-control required' %>
        <div class="nk-gap-1"></div>
        <label for="state">Provincia:
        </label>
        <%= f.text_field :state, class: 'form-control' %>

        <div class="nk-gap-1"></div>
        <label for="city">Ciudad:
        </label>
        <%= f.text_field :city, class: 'form-control' %>

        <div class="nk-gap-1"></div>
        <label for="address">Dirección:
        </label>
        <%= f.text_field :address, class: 'form-control' %>

        <div class="nk-gap-1"></div>
        <label for="address">Liquipedia:
        </label>
        <%= f.text_field :liquipedia, class: 'form-control' %>

        <div class="nk-gap-1"></div>
        <label for="address">Twitch:
        </label>
        <%= f.text_field :twitch, class: 'form-control' %>

        <div class="nk-gap-1"></div>
        <label for="address">Instagram:
        </label>
        <%= f.text_field :discord, class: 'form-control' %>

        <div class="nk-gap-1"></div>
        <label for="address">Facebook:
        </label>
        <%= f.text_field :facebook, class: 'form-control' %>

        <div class="nk-gap-1"></div>
        <label for="address">Youtube
          <span class="text-main-1"></span>:
        </label>
        <%= f.text_field :youtube, class: 'form-control' %>

        <div class="nk-gap-1"></div>
        <label for="address">Twitter:
        </label>
        <%= f.text_field :twitter, class: 'form-control' %>

        <div class="nk-gap-1"></div>
        <label for="address">Steam
          <span class="text-main-1"></span>:
        </label>
        <%= f.text_field :steam, class: 'form-control' %>

        <div class="nk-gap-1"></div>
        <div class="row vertical-gap">
          <div class="col-sm-6">
            <label for="email">Compartir mi email y whatsapp:
            </label>
            <%= f.select :contactme, options_for_select([['No', false], ['Sí', true]], @user.contactme), {}, class: 'form-control' %>
          </div>
          <div class="col-sm-6">
            <label for="email">Compartir mis redes:
            </label>
            <%= f.select :findme, options_for_select([['No', false], ['Sí', true]], @user.contactme), {}, class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="offset-lg-3 col-lg-6 menorEdad mt-25 d-none">
      <div class="row vertical-gap">
        <div class="col-12"><p class="text-white">Eres menor de edad. Estos campos deberian estar completos:</p>
        </div>
        <div class="col-sm-6">
          <label for="Tutor">Padre o Tutor
            <span class="text-main-1">*</span>:
          </label>
          <%= f.text_field :tutor_nombre, class: 'form-control required', placeholder: 'Nombre y Apellido', autocomplete: 'email', required: true %>
        </div>
        <div class="col-sm-6">
          <label for="Tutor">DNI
            <span class="text-main-1">*</span>:
          </label>
          <%= f.number_field :tutor_dni, class: 'form-control required', autocomplete: 'email', required: true %>
        </div>
        <div class="col-sm-6">
          <label for="Tutor">Parentezco
            <span class="text-main-1">*</span>:
          </label>
          <%= f.text_field :tutor_parentezco, class: 'form-control required', autocomplete: 'email', required: true %>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="text-center">
        <div class="nk-gap-1"></div>
        <%= f.submit 'Confirmar', class: 'nk-btn nk-btn-rounded nk-btn-color-white' do %>
          <span class="icon"><i class="ion-paper-airplane"></i></span>
        <% end %>
      </div>
    </div>
  </div>
  <!-- END: Reg-form -->
<% end %>
<script type="text/javascript" charset="utf-8">
    $(document).on('change', '#user_age', function () {
        var dob = new Date($('#user_age').val());
        var month_diff = Date.now() - dob.getTime();
        var age_dt = new Date(month_diff);
        var year = age_dt.getUTCFullYear();
        var age = Math.abs(year - 1970);
        if (age < 18) {
            $(".menorEdad").removeClass('d-none');
        } else {
            if (!$(".menorEdad").hasClass('d-none')) {
                $(".menorEdad").addClass('d-none')
            }
        }
    });
    $(document).on('change', "#equipo-opcion", function () {
        if($(this).val() === 'true') {
            $(".equipo-opcion").removeClass('d-none');
        } else {
            $(".equipo-opcion").addClass('d-none');
        }
    });
</script>