<!-- START: Reg-form -->
<%= form_with(model: user, class: 'nk-form') do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row vertical-gap">
    <div class="col-lg-6">
      <div class="row vertical-gap">
        <div class="col-sm-6">
          <label for="fname">Nombre completo</label>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="col-sm-6">
          <label for="lname">Nickname</label>
          <%= f.text_field :nickname, class: 'form-control required' %>
        </div>
        <div class="col-sm-6">
          <label for="lname">Tipo de jugador</label>
          <%= f.select :tipo, options_for_select([['Amateur', 'amateur'],['Semi-profesional', 'semipro'],['Profesional', 'pro']]), {}, class: 'form-control required' %>
        </div>

        <div class="col-sm-6">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres minimo)</em>
          <% end %><br />
          <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <div class="col-sm-6">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
        </div>

        <div class="col-sm-6">
          <label for="age">Fecha de nacimiento
            <span class="text-main-1">*</span>:
          </label>
          <%= f.date_field :borndate, class: 'form-control required', id: 'user_age' %>
        </div>
        <div class="col-sm-6">
          <label for="country-sel">Rango horario en el que entreno:
          </label>
          <%= f.text_field :timerange, class: 'form-control required' %>
        </div>
        <div class="col-sm-6">
          <label for="country-sel">Dispositivos que uso
            <span class="text-main-1">*</span>:
          </label>
          <%= f.select :devices, options_for_select(@devices_list, @user.devices), {include_hidden: false}, multiple: true, class: 'form-control' %>
          <small>manten presionada la tecla ctrl para elegir mas de un dispositivo</small>
        </div>
        <div class="col-sm-6">
          <label for="country-sel">Mis juegos
            <span class="text-main-1">*</span>:
          </label>
          <%= f.select :games, options_for_select(@games_list, @user.games), {include_hidden: false}, multiple: true, class: 'form-control' %>
          <small>manten presionada la tecla ctrl para elegir mas de un juego</small>
        </div>
        <div class="col-sm-6">
          <label for="country-sel">Rol / Posición
            <span class="text-main-1">*</span>:
          </label>
          <%= f.text_field :gamerole, class: 'form-control required' %>
        </div>
        <div class="col-sm-6">
          <label for="country-sel">Winrate
            <span class="text-main-1">*</span>:
          </label>
          <%= f.text_field :winrate, class: 'form-control required' %>
        </div>
        <div class="col-sm-6">
          <label for="country-sel">Partidas jugadas
            <span class="text-main-1">*</span>:
          </label>
          <%= f.number_field :gameplayed, class: 'form-control required' %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row vertical-gap">
        <div class="col-sm-6">
          <label for="email">Email
            <span class="text-main-1">*</span>:
          </label>
          <%= f.text_field :email, class: 'form-control required', autocomplete: 'email' %>
        </div>
        <div class="col-sm-6">
          <label for="email">Whatsapp
            <span class="text-main-1">*</span>:
          </label>
          <%= f.text_field :whatsapp, class: 'form-control' %>
        </div>
        <div class="col-sm-6">
          <label for="phone">Teléfono fijo
            <span class="text-main-1">*</span>:
          </label>
          <%= f.telephone_field :phone, class: 'form-control' %>
        </div>
        <div class="col-sm-6">
          <label for="country-sel">País
            <span class="text-main-1">*</span>:
          </label>
          <%= f.select :country, options_for_select(@country_list, @user.country), { include_blank: 'Seleccionar' }, class: 'form-control required' %>
        </div>
      </div>

      <div class="nk-gap-1"></div>
      <label for="state">Provincia
        <span class="text-main-1">*</span>:
      </label>
      <%= f.text_field :state, class: 'form-control required' %>

      <div class="nk-gap-1"></div>
      <label for="city">Ciudad
        <span class="text-main-1">*</span>:
      </label>
      <%= f.text_field :city, class: 'form-control required' %>

      <div class="nk-gap-1"></div>
      <label for="address">Dirección
        <span class="text-main-1">*</span>:
      </label>
      <%= f.text_field :address, class: 'form-control required' %>

      <div class="nk-gap-1"></div>
      <label for="address">Liquipedia
        <span class="text-main-1"></span>:
      </label>
      <%= f.text_field :liquipedia, class: 'form-control' %>

      <div class="nk-gap-1"></div>
      <label for="address">Twitch
        <span class="text-main-1"></span>:
      </label>
      <%= f.text_field :twitch, class: 'form-control' %>

      <div class="nk-gap-1"></div>
      <label for="address">Instagram
        <span class="text-main-1"></span>:
      </label>
      <%= f.text_field :discord, class: 'form-control' %>

      <div class="nk-gap-1"></div>
      <label for="address">Facebook
        <span class="text-main-1"></span>:
      </label>
      <%= f.text_field :facebook, class: 'form-control' %>

      <div class="nk-gap-1"></div>
      <label for="address">Youtube
        <span class="text-main-1"></span>:
      </label>
      <%= f.text_field :youtube, class: 'form-control' %>

      <div class="nk-gap-1"></div>
      <label for="address">Twitter
        <span class="text-main-1"></span>:
      </label>
      <%= f.text_field :twitter, class: 'form-control' %>

      <div class="nk-gap-1"></div>
      <label for="address">Steam
        <span class="text-main-1"></span>:
      </label>
      <%= f.text_field :steam, class: 'form-control' %>

      <div class="nk-gap-1"></div>
      <div class="row vertical-gap">
        <div class="col-sm-6">
          <label for="email">Compartir mi email y whatsapp
            <span class="text-main-1">*</span>:
          </label>
          <%= f.select :contactme, options_for_select([['No', false],['Sí', true]], @user.contactme), {}, class: 'form-control required' %>
        </div>
        <div class="col-sm-6">
          <label for="email">Compartir mis redes
            <span class="text-main-1">*</span>:
          </label>
          <%= f.select :findme, options_for_select([['No', false],['Sí', true]], @user.contactme), {}, class: 'form-control required' %>
        </div>
      </div>

    </div>
    <div class="col-12">
      <div class="text-center">
        <div class="nk-gap-1"></div>
        <%= f.submit 'Confirmar', class: 'nk-btn nk-btn-rounded nk-btn-color-white' do %>
          <span class="icon"><i class="ion-paper-airplane"></i></span>
        <% end %>
      </div>
    </div>
  </div>
  <!-- END: Reg-form -->
<% end %>
