<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <!-- START: Reg-form -->
      <%= form_with(model: @user, class: 'nk-form') do |f| %>

        <div class="row vertical-gap mt-50">
          <div class="offset-3 col-lg-6">
            <div class="row vertical-gap">
              <%= f.text_area :description, class: 'form-control', rows: '4' %>
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <div class="nk-gap-1"></div>
              <%= f.submit 'Confirmar', class: 'nk-btn nk-btn-rounded nk-btn-color-white' do %>
                <span class="icon"><i class="ion-paper-airplane"></i></span>
              <% end %>
            </div>
          </div>
        </div>
        <!-- END: Reg-form -->
      <% end %>

      <div class="text-center">
        <%= link_to 'Volver', user_path(current_user.id) %>
      </div>

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>
