<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <%= render 'form2', user: @user %>

      <div class="text-center">
        <%= link_to 'Volver', user_path(@user.id) %>
      </div>

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>
