<%= render '_partials/breadcrumbs' %>

<% if params[:equipos].present? %>
  <%= render 'filters' %>
<% end %>

<div class="container">

  <!--end pro teams-->
  <div class="nk-gap-2"></div>
  <div class="row <%= "list-pro-teams" if params[:tipo] == 'pro' %>">
    <%= image_tag('pro_teams/proteams-titulo.webp', class: 'pro-team-logo') if params[:tipo] == 'pro'  %>
    <% @users_pagination.each do |user| %>
      <div class="col-md-6">
        <div class="row listado">
          <div class="col-lg-3 col-4 bg-avatar">
            <% if user.image.attached? %>
              <%= image_tag(user.image, class: 'img-fluid') %>
            <% else %>
              <%= image_tag('logo.png', width: '126px') %>
            <% end %>
          </div>
          <div class="col-lg-9 col-8">
            <div class="nk-content">
              <h3 class="h5">
                <span class="text-main-1"><%= link_to (user.nickname).truncate(20), user %></span>
              </h3>
              <p class="h5 mt-15">
                <% if user_signed_in? && current_user.role.id == 2 %>
                  <%= link_to edit_user_path(user) do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash ml-10"></i>
                  <% end %>
                <% end %>
              </p>
            </div>
            <div class="nk-opciones">
              <% if user.option == 'jugador' %>
                <i class="fas fa-video"></i> <%= Video.where(user_id: user.id).count %> Videos compartidos
              <% else %>
                <i class="fas fa-users"></i> Equipos: <%= Group.where(user_id: user.id).count %>
                <%= image_tag('pro_teams/proteam-ICO.webp', class: 'pro-icon') if params[:tipo] == 'pro' %>
              <% end %>
            </div>
            <!--<div class="nk-team-photo" style="background-image: url(<%#= image_path('team-photo.png') %>);"></div>-->
          </div>
        </div>
      </div>
    <% end %>
    <!-- END: Teams -->
    <div class="nk-gap-2"></div>
    <!-- START: Pagination -->
    <div class="col-lg-9">
      <div class="nk-pagination nk-pagination-left">
        <nav>
          <%= will_paginate(
                @users_pagination,
                previous_label: '<span class="ion-ios-arrow-back"></span>',
                next_label: '<span class="ion-ios-arrow-forward"></span>',
              )
          %>
        </nav>
      </div>
    </div>
    <!-- END: Pagination -->


  </div>
</div>

<div class="nk-gap-2"></div>
<div class="nk-gap-2"></div>