<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">
      <!-- START: Teammate Card -->
      <div class="nk-teammate-card m-auto padding-teammate <%= "#{'background-team' if @user.option == 'equipo'}" %>"
           style="background: <%= @user.option == 'equipo' ? "url(#{asset_path('pro_teams/equipo_fondo.webp')})" : '#000'  %>;">
        <div class="row">
          <div class="col-lg-2 user-avatar">
            <% if @user.image.present? %>
              <%= image_tag(@user.image, class: 'img-fluid') %>
            <% else %>
              <%= image_tag("logo.png", class: 'img-fluid') %>
            <% end %>
            <% if @user.option == 'jugador' %>
              <div class="player-likes">
                <%= image_tag("icons/ico_corona.png", width: '50', class: 'mr-4') %> <%= @user.trophy %>
              </div>
            <% end %>
            <% if @user == current_user %>
              <%= link_to user_avatar_path(@user), class: 'boton-edicion avatar', data: { toggle: 'tooltip', placement: 'bottom', title: 'Editar' } do %>
                <span class="fas fa-edit"></span>
              <% end %>
            <% end %>
          </div>
          <div class="col-lg-10">
            <div class="player-info">
              <% if @user.option == 'jugador' %>
                <p>
                  Nombre completo: <strong class="h5"><%= @user.name %></strong> <br>
                  Nickname: <strong class="h5"><%= @user.nickname %></strong> <br>
                  Tipo de jugador: <strong class="h5"><%= @user.tipo %></strong> <br>
                  Fecha de nacimiento: <strong class="h5"><%= l(@user.borndate, format: "%d/%m/%Y") %></strong> <br>
                  <% if @user.country && @user.country != "" %>
                    País: <strong class="h5"><%= Country.find_by(id: @user.country).name %></strong> <br>
                  <% elsif current_user == @user %>
                    <%= link_to 'Agrega tu país', edit_user_path(@user) %> <br>
                  <% end %>
                  <% if @user.region && @user.region != "" %>
                    Región: <strong class="h5"><%= @user.region %></strong> <br>
                  <% elsif current_user == @user %>
                    <%= link_to 'Agrega tu región', edit_user_path(@user) %> <br>
                  <% end %>
                  <% if @user.city && @user.city != "" %>
                    Ciudad: <strong class="h5"><%= @user.city %></strong> <br>
                  <% elsif current_user == @user %>
                    <%= link_to 'Agrega tu ciudad', edit_user_path(@user) %> <br>
                  <% end %>
                  <% if @user.address && @user.address != "" && (@user == current_user || current_user.role.id == 2) %>
                    Domicilio: <strong class="h5"><%= @user.address %></strong> <br>
                  <% elsif current_user == @user %>
                    <%= link_to 'Agrega tu dirección', edit_user_path(@user) %> <br>
                  <% end %>
                  <% if @user.phone && @user.phone != "" && (@user == current_user || current_user.role.id == 2) %>
                    Teléfono: <strong class="h5"><%= @user.phone %></strong> <br>
                  <% elsif current_user == @user %>
                    <%= link_to 'Agrega tu teléfono', edit_user_path(@user) %> <br>
                  <% end %>
                  <% if @user.devices  && @user.devices != "" %>
                    Dispositivos que uso:
                    <% @user_devices.each do |device_id| %>
                      <strong class="h5"><%= Device.find_by(id: device_id).name %> -</strong>
                    <% end %>
                    <br>
                  <% elsif current_user == @user %>
                    <%= link_to 'Agrega tus dispositivos', edit_user_path(@user) %> <br>
                  <% end %>
                  <% if @user.games && @user.games != "" %>
                    Mis juegos:
                    <% @user_games.each do |game_id| %>
                      <strong class="h5"><%= Game.find_by(id: game_id).name %> </strong>
                    <% end %>
                    <br>
                  <% elsif current_user == @user %>
                    <%= link_to 'Agrega tus juegos', edit_user_path(@user) %> <br>
                  <% end %>
                  <% if @user_teams.present?  && @user.teams != "" && Group.find_by(id: @user_teams) %>
                    Mis equipos:
                    <% @user_teams.each do |team_id| %>
                      <strong class="h5"><%= link_to Group.find_by(id: team_id.to_i).name, group_path(team_id.to_i) %>
                        </strong>
                    <% end %>
                    <br>
                  <% end %>
                  <% if @user.gamerole && @user.gamerole != "" %>
                    Rol/Posición: <strong class="h5"><%= @user.gamerole %></strong> <br>
                  <% elsif current_user == @user %>
                    <%= link_to 'Agrega tu Rol/Posición de juego', edit_user_path(@user) %> <br>
                  <% end %>
                  <% if @user.gameplayed  && @user.gameplayed != "" %>
                    Partidas jugadas: <strong class="h5"><%= @user.gameplayed %></strong> <br>
                  <% elsif current_user == @user %>
                    <%= link_to 'Agrega tus partidas jugadas', edit_user_path(@user) %> <br>
                  <% end %>
                  <% if @user.winrate && @user.winrate != "" %>
                    Winrate: <strong class="h5"><%= @user.winrate %></strong> <br>
                  <% elsif current_user == @user %>
                    <%= link_to 'Agrega tu winrate', edit_user_path(@user) %> <br>
                  <% end %>
                  <% if @user.timerange && @user.timerange != "" %>
                    Rango horario en el que juego: <strong class="h5"><%= @user.timerange %></strong> <br>
                  <% elsif current_user == @user %>
                    <%= link_to 'Agrega tu rango horario en el que juegas', edit_user_path(@user) %> <br>
                  <% end %>
                  <% if @user.equipo_opcion %>
                    Pertenezco al equipo: <strong class="h5"><%= @user.equipo %></strong> <br>
                  <% end %>
                </p>
                <% if @user.contactme || current_user.role.id == 2 %>
                  <% if @user.liquipedia.present? || @user.twitch.present? || @user.discord.present? || @user.facebook.present? || @user.youtube.present? || @user.twitter.present? %>
                    <div class="player-social">
                      Puedes encontrarme en:
                      <ul class="nk-social-links">
                        <% if @user.liquipedia.present? %>
                          <li>
                            <a class="nk-social-liquipedia" href="<%= @user.liquipedia %>" target="_blank">
                              <span class="fas fa-puzzle-piece"></span>
                            </a>
                          </li>
                        <% end %>
                        <% if @user.twitch.present? %>
                          <li>
                            <a class="nk-social-twitch" href="<%= @user.twitch %>" target="_blank">
                              <span class="fab fa-twitch"></span>
                            </a>
                          </li>
                        <% end %>
                        <% if @user.discord.present? %>
                          <li>
                            <a class="nk-social-instagram" href="<%= @user.discord %>" target="_blank">
                              <span class="fab fa-instagram"></span>
                            </a>
                          </li>
                        <% end %>
                        <% if @user.facebook.present? %>
                          <li>
                            <a class="nk-social-facebook" href="<%= @user.facebook %>" target="_blank">
                              <span class="fab fa-facebook"></span>
                            </a>
                          </li>
                        <% end %>
                        <% if @user.youtube.present? %>
                          <li>
                            <a class="nk-social-youtube" href="<%= @user.youtube %>" target="_blank">
                              <span class="fab fa-youtube"></span>
                            </a>
                          </li>
                        <% end %>
                        <% if @user.twitter.present? %>
                          <li>
                            <a class="nk-social-twitter" href="<%= @user.twitter %>" target="_blank">
                              <span class="fab fa-twitter"></span>
                            </a>
                          </li>
                        <% end %>
                        <% if @user.steam.present? %>
                          <li>
                            <a class="nk-social-steam" href="<%= @user.steam %>" target="_blank">
                              <span class="fab fa-steam"></span>
                            </a>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                <% end %>
                <% if @user.findme || current_user.role.id == 2 %>
                  <div class="player-social">
                    Puedes contactarme por:
                    <ul class="nk-social-links">
                      <% if @user.email.present? %>
                        <li>
                          <a class="nk-social-envelope" href="mailto:<%= @user.email %>">
                            <span class="fa fa-envelope"></span>
                          </a>
                        </li>
                      <% end %>
                      <% if @user.whatsapp.present? %>
                        <li>
                          <a class="nk-social-whatsapp" href="https://wa.me/<%= @user.whatsapp %>" target="_blank">
                            <span class="fab fa-whatsapp"></span>
                          </a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              <% else %>
                Nombre del equipo: <strong class="h5"><%= @user.nickname %></strong> <br>
                <% if current_user == @user %>
                  <% if @user.whatsapp.present? && @user.whatsapp != "" %>
                    Whatsapp: <%= @user.whatsapp %> (solo tú puedes ver esto)
                  <% else %>
                    <%= link_to 'Agrega tu whatsapp', edit_user_path(@user) %>
                  <% end %> <br>
                <% end %>
                <% if @user.country && @user.country != "" %>
                  País:
                  <strong class="h5"><%= Country.find_by(id: @user.country).name %></strong>
                  <br>
                <% elsif current_user == @user %>
                  <%= link_to 'Agrega tu país', edit_user_path(@user) %>
                  <br>
                <% end %>
                <% if @user.liga && @user.liga != "" %>
                  Liga:
                  <strong class="h5"><%= @user.liga %></strong>
                  <br>
                <% elsif current_user == @user %>
                  <%= link_to 'Agrega tu liga', edit_user_path(@user) %>
                  <br>
                <% end %>
                <% if @user.games && @user.games != "" %>
                  <% @user_games.each do |game_id| %>
                    <% user_game = Game.find_by(id: game_id) %>
                    <strong class="h5"><%= user_game.name unless user_game.nil? %> </strong>
                  <% end %>
                <% elsif current_user == @user %>
                  <%= link_to 'Agrega los juegos que juegas', edit_user_path(@user) %>
                  <br>
                <% end %>
                <% if @user.option == 'equipo' %>
                  <br><br>
                  <%= image_tag('pro_teams/proteam-ICO.webp', width: '40px;', data: {toggle:"tooltip", placement:"bottom"}, title:"PRO TEAM") if @user.tipo == 'pro' %>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
        <% if @user == current_user %>
          <%= link_to edit_user_path(@user), class: 'boton-edicion', data: { toggle: 'tooltip', placement: 'bottom', title: 'Editar' } do %>
            <span class="fas fa-edit"></span>
          <% end %>
        <% end %>
      </div>
      <!--<div class="nk-gap-2 bg-dark-6"></div>-->

      <!-- END: Teammate Card -->

      <% if @user == current_user %>
        <div class="nk-gap-3"></div>
        <h3 class="nk-decorated-h-2">
          <span>Opciones</span>
        </h3>
        <% if current_user.active %>
          <div class="row text-center">
            <% if @user.option == 'equipo' %>
              <% if @user_own_group %>
                <div class="col-sm-4 mt-15">
                  <%= link_to 'Crear nuevo equipo', new_group_path(user: @user.id), class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor' %>
                </div>
                <div class="col-sm-4 mt-15">
                  <%= link_to 'ver mis equipos', groups_path(user: @user.id), class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor' %>
                </div>
              <% end %>
            <% else %>
              <div class="col-sm-4 mt-15">
                <%= link_to 'crear búsqueda de equipo', new_find_team_path, class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor' %>
              </div>
            <% end %>
            <% if !@user.description.present? %>
              <div class="col-sm-4 mt-15">
                <%= link_to user_description_path(@user), class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor text-white' do %>
                  Agregar una breve descripción
                <% end %>
              </div>
            <% end %>
            <% if @user.option == 'jugador' %>
              <div class="col-sm-4 mt-15">
                <%= link_to "compartir un video", new_video_path, class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor text-white' %>
              </div>
            <% end %>
            <div class="col-sm-4 mt-15">
              <%= link_to "Cambiar contraseña / email", edit_user_registration_path(@user), class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor' %>
            </div>
          </div>
        <% else %>
          <div class="row text-center">
            <div class="col-sm-4 mt-15">
              <h4>Cuenta inhabilitada</h4>
              <p>Debes consultar con el administrador sobre el estado de tu cuenta enviando un email a <a href="mailto:info@freeagents.gg">info@freeagents.gg</a></p>
            </div>
          </div>
        <% end %>
      <% end %>

      <% is_user = true if @user.option == 'jugador' %>
      <% if is_user && (@user == current_user || current_user.role.id == 2) && @user.menor == true %>
        <div class="nk-gap-3"></div>
        <h3 class="nk-decorated-h-2">
          <span>Cuenta menor de edad</span>
        </h3>
        <div class="row text-center">
          <div class="col-sm-4 mt-15">
            <p>
              Padre o Tutor: <%= @user.tutor_nombre %> <br>
              DNI Tutor: <%= @user.tutor_dni %> <br>
              Parentezco: <%= @user.tutor_parentezco %>
            </p>
          </div>
        </div>
      <% end %>

      <!-- START: Biography -->
      <div class="nk-gap-3"></div>
      <div>
        <% if @user.description.present? %>
          <h3 class="nk-decorated-h-2">
            <span>breve descripción</span>

          </h3>
          <p>
            <%= @user.description %>
            <% if @user == current_user %>
              <%= link_to user_description_path(@user), class: 'ml-15', data: { toggle: 'tooltip', placement: 'bottom', title: 'Editar' } do %>
                <span class="fas fa-edit"></span>
              <% end %>
            <% end %>
          </p>
        <% end %>
      </div>
      <!-- END: Biography -->

      <% if @user.option == 'equipo' %>
        <!-- START: Breadcrumbs -->
        <ul class="nk-breadcrumbs lista-sub-equipos">
          <li>EQUIPOS </li>
        </ul>
        <div class="nk-gap-1"></div>
        <!-- END: Breadcrumbs -->
        <div class="row sub-teams">
          <% @groups.each do |group| %>
            <div class="col-md-6">
              <div class="nk-team">
                <div class="nk-team-logo">
                  <% if group.user.image.attached? %>
                    <%= image_tag(group.user.image, width: '126px') %>
                  <% else %>
                    <%= image_tag('logo.png', width: '126px') %>
                  <% end %>
                </div>
                <div class="nk-team-cont">
                  <div class="nk-content">
                    <h3 class="h5 mb-20">
                      <span class="text-main-1"><%= link_to (group.name).truncate(20), group %></span>
                    </h3>
                  </div>
                  <i class="fa fa-users"></i> <%= group.players.nil? ? 'Todavia no tiene miembros' : group.players.scan(/\d*\d/).count %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <!-- START: Latest videos -->
      <% if Video.where(user_id: @user).any? && current_user.active %>
        <div class="nk-widget nk-widget-highlighted">
          <h4 class="nk-widget-title">
              <span>
                <span class="text-main-1">Videos de</span> <%= @user.nickname %></span>
          </h4>
          <div class="nk-widget-content">
            <div class="nk-popup-gallery">
              <div class="row sm-gap vertical-gap">
                <% @videos.each do |video| %>
                  <div class="col-lg-6 d-fluid">
                    <div class="nk-gallery-item-box">
                      <%= video.embeded.html_safe %>

                      <!--<div class="nk-gallery-item-description">
                        <h4>Called Let</h4>
                        Divided thing, land it evening earth winged whose great after. Were
                        grass night. To Air itself saw bring fly fowl. Fly years behold
                        spirit day greater of wherein winged and form. Seed open don't thing
                        midst created dry every greater divided of, be man is. Second Bring
                        stars fourth gathering he hath face morning fill. Living so second
                        darkness. Moveth were male. May creepeth. Be tree fourth.
                      </div>-->
                    </div>
                    <div class="text-center">
                      <% if video.user_id == current_user.id %>
                        <%= link_to edit_video_path(video), class: 'mx-3' do %>
                          Editar <i class="fa fa-edit"></i>
                        <% end %>
                        <%= link_to video, class: 'mx-3', method: :delete, data: { confirm: '¿Estás seguro?' } do %>
                          Eliminar <i class="fa fa-trash"></i>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- END: Latest videos -->
    </div>

  </div>
</div>
<div class="nk-gap-3"></div>

