<!-- START: Accordion -->
<div class="container">
  <div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
    <h2 class="text-center">Resetear tu clave</h2>
    <p class="text-center">Se enviará un correo para resetear tu clave</p>
    <div class="row">
      <div class="offset-md-3 col-md-6">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.label :password, "Nueva clave" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres mínimo)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Confirmar nueva clave" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <div class="actions text-center">
            <%= f.submit "Cambiar mi clave", class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor text-white' %>
          </div>
        <% end %>

      </div>
    </div>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<!-- END: Accordion -->
<div class="nk-gap-4"></div>
