<!-- START: Accordion -->
<div class="container">
  <div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
    <h2 class="text-center">¿Olvidaste tu clave?</h2>
    <p class="text-center">Se enviará un correo para resetear tu clave</p>
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control' %>
          </div>

          <div class="text-center">
            <%= f.submit "Resetear mi clave", class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor text-white' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<!-- END: Accordion -->
<div class="nk-gap-4"></div>
