<%= form_with(model: video, class:'nk-form nk-form-style-1') do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    Ten en cuenta que todos los videos están sujetos a aprobación del Administrador del sitio.
    <br>
    Por el momento solo se admiten videos de youtube y twitch (no live)
    <br>
    Para agregar un video debes copiar la URL que figura en la barra de dirección de tu navegador.
  </p>
  <%= form.text_field :video, class: 'form-control', placeholder: 'Agregá la URL de tu video', id: 'video_url', required: true %>

  <%= form.text_field :embeded, id: 'embeded_video', class: 'd-none' %>

  <div id="preview_video" class="d-flex"></div>

  <div class="col-12">
    <div class="text-center">
      <div class="nk-gap-1"></div>
      <a href="" class="nk-btn nk-btn-rounded nk-btn-color-white" onclick="revisar(); return false;">Revisar</a>
      <%= form.submit 'Confirmar', id:'confirm_button', class: 'nk-btn nk-btn-rounded nk-btn-color-white', disabled: true do %>
        <span class="icon"><i class="ion-paper-airplane"></i></span>
      <% end %>
    </div>
  </div>

<% end %>

<script>
    function revisar(){
        event.preventDefault();
        let video = $("#video_url").val();
        let url = ""

        if (video.match(/youtube/gm)) {
            url = video.match(/(?:youtube(?:-nocookie)?\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|\S*?[?&]v=)|youtu\.be\/)([a-zA-Z0-9_-]{11})/gm);
            result_url = url.toString().split("youtube.com/watch?v=").join("")
            video = '<iframe width="560" height="315" src="https://www.youtube.com/embed/' + result_url + '" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
        }

        if (video.match(/twitch/gm)) {
            url = video.match(/(?:https:\/\/)?twitch\.tv\/(\S+)/gm);
            result_url = url.toString().split("twitch.tv/videos/").join("")
            console.log(result_url);
            video = '<iframe src="https://player.twitch.tv/?video=v' + result_url + '&parent=<%= request.host %>&parent=www.<%= request.host %>&autoplay=false" frameborder="0" allowfullscreen="true" scrolling="no" height="315" width="560"></iframe>'
            console.log(video);
        }

        if (url.length == 0) {
            $("#preview_video").html('<p>Hay un problema con tu video</p>')
        } else {
            $("#preview_video").html(video);
            $("#embeded_video").val(video);
            $("#confirm_button").removeAttr('disabled');
        }
    }
</script>