<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="offset-0 offset-lg-3 col-lg-6">

      <%= render 'form', video: @video %>

      <div class="text-center pt-15">
        <%= link_to 'Volver', user_path(current_user.id) %>
      </div>

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>
