<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @video.video %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @video.votes %>
</p>

<p>
  <strong>Voted by:</strong>
  <%= @video.voted_by %>
</p>

<p>
  <strong>User:</strong>
  <%= @video.user_id %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
