<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">
      <!-- START: Latest Matches -->

      <div class="nk-gap-2"></div>
      <h3 class="nk-decorated-h-2">
        <span class="text-main-1">Votá</span> tu favorito</span>
      </h3>
      <div class="row">
        <% cache @videos_pagination do %>
          <% @videos_pagination.each do |video| %>
            <% cache video do %>
              <div class="col-md-6">
                <div class="nk-gap"></div>
                <div class="responsive-embed responsive-embed-16x9">
                  <%= video.embeded.html_safe %>
                  <% if user_signed_in? && current_user.role.id == 2 %>
                    <div class="delete-video-button">
                      <%= link_to video_path(id: video, ggwp_all: true), method: :delete, data: { confirm: 'Está seguro?' }, class: "nk-btn nk-btn-rounded nk-btn-color-white nk-anchor text-white" do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <div class="nk-gap"></div>
                <div class="row">
                  <div class="col-3">
                    <% @user =  User.find_by(id: video.user_id) %>
                    <% if @user.image.present? %>
                      <%= image_tag(@user.image, width: '100%') %>
                    <% else %>
                      <%= image_tag('logo.png', width: '100%') %>
                    <% end %>
                  </div>
                  <div class="col-9">
                    <div class="ggwp-vote" id="video-<%= video.id %>">
                      <div class="row">
                        <div class="col-12">
                          <h3 class="h4">Video de <i><%= @user.name %></i></h3>
                        </div>
                        <div class="col-6">
                          <%= image_tag('icons/ico_trofeo.png', width: '80') %>
                          <p class="text-white" style="position: absolute; top: 0; left: 102px;">
                            <strong><%= Vote.where(video_id: video.id).count %></strong>
                          </p>
                        </div>
                        <% if user_signed_in? %>
                          <div class="col-6">
                            <% if !video.voted?(current_user) %>
                              <%= button_to vote_path(video), method: 'put', class: 'nk-btn nk-btn-rounded nk-btn-color-main-1 .nk-btn-color-dark-3', onclick: "vote(#{video.id});" do %>
                                <i class="fa fa-arrow-left"></i> <%= image_tag('icons/ico_trofeo.png', width: '50px') %>
                              <% end %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <!-- END: Match Description -->
      <div class="nk-gap-2"></div>
      <!-- START: Pagination -->
      <div class="col-lg-12">
        <div class="nk-pagination text-center">
          <nav>
            <%= will_paginate(
                  @videos_pagination,
                  previous_label: '<span class="ion-ios-arrow-back"></span>',
                  next_label: '<span class="ion-ios-arrow-forward"></span>',
                  inner_window: 1, outer_window: 1
                  )
            %>
          </nav>
        </div>
      </div>
      <!-- END: Pagination -->


    </div>
    <div class="col-lg-4"></div>
  </div>
</div>

<div class="nk-gap-2"></div>

<script>
    /*$(function () {
        $(".social-container a, .social-container button").jqss();
    });*/
    function vote(video_id){
        console.log(video_id)
        valor_actual = $("#video-"+video_id+" .trofeos_acumulados strong").html();
        $("#video-"+video_id+" .button_to").addClass('d-none');
        $("#video-"+video_id+" .trofeos_acumulados strong").html((parseInt(valor_actual) + 1).toString());
    }
</script>