<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-8">
      <div class="nk-gap-2"></div>
      <h3 class="nk-decorated-h-2">
            <span>
              <span class="text-main-1">Jugada Ganadora </span> de <%= l(Date.today.last_month, format: "%B") %></span>
      </h3>

      <!-- START: Now Playing -->
      <div class="responsive-embed responsive-embed-16x9">
        <% if @top1.present? %>
          <% if @top1.last.present? %>
            <%= Video.find_by(id: @top1.last.id).embeded.html_safe %>
          <% end %>
        <% end %>
      </div>
      <!-- END: Now Playing -->

      <!-- START: Match Description -->
      <div class="nk-gap-2"></div>
      <div class="row">
        <div class="col-4">
          <% if @top1.present? %>
            <% if find_video(@top1.last.id).image.present? %>
              <%= image_tag(find_video(@top1.last.id).image, width: '65%') %>
            <% else %>
              <%= image_tag('logo.png', width: '65%') %>
            <% end %>
          <% end %>
        </div>
        <div class="col-8">
          <div class="ggwp-index">
            <h3 class="h4">
              <% if !@top1.present? %>
                No hubo resultados de la votación
              <% else %>
                Video ganador de <i></i><%= find_video(@top1.last).nickname %></i>
              <% end %>
            </h3>
            <% if @top1.present? %>
              <%= image_tag('icons/ico_trofeo.png', width: '100') %>
              <h4 class="text-white"><%= @top1.first %></h4>
            <% end %>
          </div>
        </div>
      </div>
      <!-- END: Match Description -->

      <!-- START: Share -->
      <div class="nk-gap"></div>
      <div class="nk-post-share social-container">
        <span class="h5">Compartir:</span>

        <ul class="nk-social-links-2">
          <li>
              <a href="https://www.facebook.com/sharer.php?u=<%= request.base_url + '/ggwp' %>" class="nk-social-facebook facebook" title="Compartir en Facebook" data-share="facebook">
                <span class="fab fa-facebook"></span>
              </a>
          </li>
          <li>
                <a href="https://twitter.com/intent/tweet?url=<%= request.base_url + '/ggwp' %>" class="nk-social-twitter" title="Compartir en Twitter" data-share="twitter">
                  <span class="fab fa-twitter"></span>
                </a>
          </li>

          <!-- Additional Share Buttons
                    <li><span class="nk-social-linkedin" title="Share page on LinkedIn" data-share="linkedin"><span class="fa fa-linkedin"></span></span></li>
                    <li><span class="nk-social-vk" title="Share page on VK" data-share="vk"><span class="fa fa-vk"></span></span></li>
                -->
        </ul>
      </div>
      <!-- END: Share -->

      <!-- START: Latest Matches -->

      <div class="nk-gap-2"></div>
      <h3 class="nk-decorated-h-2">
        <span class="text-main-1">Votá</span> tu favorito</span>
      </h3>
      <% cache @videos_pagination do %>
        <% @videos_pagination.each do |video| %>
          <% cache video do %>
            <div class="nk-gap"></div>
            <div class="responsive-embed responsive-embed-16x9">
              <%= video.embeded.html_safe %>
              <% if user_signed_in? && current_user.role.id == 2 %>
                <div class="delete-video-button">
                  <%= link_to video_path(id: video, ggwp: true), method: :delete, data: { confirm: 'Está seguro?' }, class: "nk-btn nk-btn-rounded nk-btn-color-white nk-anchor text-white" do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="nk-gap"></div>
            <div class="row">
              <div class="col-4">
                <% @user =  User.find_by(id: video.user_id) %>
                <% if @user.image.present? %>
                  <%= image_tag(@user.image, width: '65%') %>
                <% else %>
                  <%= image_tag('logo.png', width: '65%') %>
                <% end %>
              </div>
              <div class="col-8">
                <div class="ggwp-vote" id="video-<%= video.id %>">
                  <div class="row">
                    <div class="col-12">
                      <h3 class="h4">Video de <i><%= @user.nickname %></i></h3>
                    </div>
                    <div class="col-4">
                      <%= image_tag('icons/ico_trofeo.png', width: '80') %>
                    </div>
                    <div class="col-8">
                      <h4 class="text-white trofeos_acumulados">
                        trofeos acumulados <br>
                        <strong><%= Vote.where(video_id: video.id).count %></strong>
                      </h4>
                    </div>
                    <% if user_signed_in? %>
                      <div class="col-12 boton-votacion">
                        <% if !video.voted?(current_user) %>
                          <%= button_to "Votar", vote_path(video), method: 'put', class: 'nk-btn nk-btn-rounded nk-btn-color-main-1 .nk-btn-color-dark-3', onclick: "vote(#{video.id});"  %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <!-- END: Match Description -->
      <div class="nk-gap-2"></div>
      <!-- START: Pagination -->
      <div class="col-lg-12">
        <div class="nk-pagination text-center">
          <nav>
            <%= will_paginate(
                  @videos_pagination,
                  previous_label: '<span class="ion-ios-arrow-back"></span>',
                  next_label: '<span class="ion-ios-arrow-forward"></span>',
                  inner_window: 1, outer_window: 1
                  )
            %>
          </nav>
        </div>
      </div>
      <!-- END: Pagination -->


    </div>
    <div class="col-lg-4">
      <!--
            START: Sidebar

            Additional Classes:
                .nk-sidebar-left
                .nk-sidebar-right
                .nk-sidebar-sticky
        -->
      <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
        <div class="nk-widget nk-widget-highlighted">
          <h4 class="nk-widget-title">
            <span><span class="text-main-1">Top 3</span> GGWP de <%= l(Date.today.last_month, format: "%B") %></span>
          </h4>
          <div class="nk-widget-content">
            <% @top3.each do |video| %>
              <div class="nk-gallery-item-box">
              <% if !video.last.nil? %>
                <%= Video.find_by(id: video.last).embeded.html_safe %>
                  <% if user_signed_in? && current_user.role.id == 2 %>
                    <div class="delete-video-button">
                      <%= link_to video_path(id: video, ggwp: true), method: :delete, data: { confirm: 'Está seguro?' }, class: "nk-btn nk-btn-rounded nk-btn-color-white nk-anchor text-white" do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                    </div>
                  <% end %>
              <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="nk-widget nk-widget-highlighted">
          <h4 class="nk-widget-title">
                <span>
                  <span class="text-main-1">Mas</span> ggwp</span>
          </h4>
          <div class="nk-widget-content">
            <div class="nk-popup-gallery">
              <div class="row sm-gap vertical-gap">
                <% (1..3).each do %>
                  <div class="col-12">
                    <% video = Video.ids.sort.sample %>
                    <div class="nk-gallery-item-box">
                      <%= Video.find_by(id: video).embeded.html_safe %>
                      <% if user_signed_in? && current_user.role.id == 2 %>
                        <div class="delete-video-button">
                          <%= link_to video_path(id: video, ggwp: true), method: :delete, data: { confirm: 'Está seguro?' }, class: "nk-btn nk-btn-rounded nk-btn-color-white nk-anchor text-white" do %>
                            <i class="fas fa-trash"></i>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-12">
                <div class="nk-product-cat">
                  <div class="nk-product-cont text-center">
                    <div class="nk-gap-1"></div>
                    <%= link_to 'Ver más', ggwp_all_path, class: 'nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1' %>
                  </div>
                </div>
              </div>
              <div class="nk-gap-2"></div>
            </div>
          </div>
        </div>

      </aside>
      <!-- END: Sidebar -->
    </div>
  </div>
</div>

<div class="nk-gap-2"></div>

<script>
    /*$(function () {
        $(".social-container a, .social-container button").jqss();
    });*/
    function vote(video_id){
        console.log(video_id)
        valor_actual = $("#video-"+video_id+" .trofeos_acumulados strong").html();
        $("#video-"+video_id+" .button_to").addClass('d-none');
        $("#video-"+video_id+" .trofeos_acumulados strong").html((parseInt(valor_actual) + 1).toString());
    }
</script>