<div class="nk-gap-2"></div>
<%# reset_counter = current_user.update(mail_for_complete_profile: nil, mail_for_complete_profile_count: nil) %>
<%# console %>
<div class="container">

  <!-- START: Image Slider -->
  <div class="nk-image-slider" data-autoplay="8000">
    <% cache @banners do %>
      <% @banners.each do |banner| %>
        <% cache banner do %>
          <div class="nk-image-slider-item">
            <% if banner.image.present? && banner.thumb.blob.present? %>
              <img src="<%= rails_blob_path(banner.image) %>" class="nk-image-slider-img" data-thumb="<%= rails_blob_path(banner.thumb) %>">
              <%#= image_tag(banner.image, class: 'nk-image-slider-img', data: { thumb: image_path(banner.thumb.blob.filename).html_safe }) %>
            <% end %>
            <%#= image_path(banner.image, class: 'nk-image-slider-img', data: {thumb: image_path(banner.thumb)}) %>
            <% if banner.title.present? %>
              <div class="nk-image-slider-content">

                <h3 class="h4"><%= banner.title %></h3>
                <% if banner.content.present? %>
                  <p class="text-white"><%= banner.content %></p>
                <% end %>

              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <!-- END: Image Slider -->

  <!-- START: Categories -->
  <div class="nk-gap-2"></div>
  <div class="row vertical-gap">
    <div class="col-lg-3">
      <div class="nk-feature-1">
        <!--<div class="nk-feature-icon">
          <%#= image_tag('icons/ico_mouse.png') %>
        </div>-->
        <div class="nk-feature-cont text-center">
          <% if user_signed_in? %>
            <h3 class="nk-feature-title"><%= link_to "crea tu perfil", user_path(current_user) %></h3>
          <% end %>
          <% unless user_signed_in? %>
            <h4 class="nk-feature-title text-main-1">
              <%= link_to "registrate", new_user_registration_path, class: 'pb-2' %>
              <br>
            </h4>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="nk-feature-1">
        <!--<div class="nk-feature-icon">
          <%#= image_tag('icons/ico_ps4.png') %>
        </div>-->
        <div class="nk-feature-cont text-center">
          <% if user_signed_in? %>
            <% if current_user.option == 'jugador' %>
              <h4 class="nk-feature-title text-main-1"><%= link_to 'Unite a un equipo', find_users_path %></h4>
            <% else %>
              <h3 class="nk-feature-title"><%= link_to 'Creá tu equipo', new_group_path(user: current_user.id) %></h3>
              <% if @user_own_group %>
                <h3 class="nk-feature-title"><%= link_to 'Ver tus equipos', groups_path(user: current_user.id) %></h3>
              <% end %>
            <% end %>
          <% else %>
            <h3 class="nk-feature-title"><%= link_to "Equipos", groups_path %></h3>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="nk-feature-1">
        <!--<div class="nk-feature-icon">
          <%#= image_tag('icons/ico_xbox.png') %>
        </div>-->
        <div class="nk-feature-cont text-center">
          <h3 class="nk-feature-title"><%= link_to 'Tu jugada favorita', ggwp_path %></h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="nk-feature-1">
        <!--<div class="nk-feature-icon">
          <%#= image_tag('icons/ico_xbox.png') %>
        </div>-->
        <div class="nk-feature-cont text-center">
          <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="VE5KUV38QN6U4" />
            <button type="submit" class='boton-donar'><h3 class="nk-feature-title">Cómo apoyarnos?</h3></button>
            <!--<input type="image" src="https://pics.paypal.com/00/s/YjQ3N2E2ODEtMzZhNy00NDZhLThjMDEtZWNjMDQ5YjE5ODI4/file.PNG" border="0" name="submit" title="Cómo apoyar a Free Agents Esports" alt="Donar con PayPal" />-->
            <img alt="" border="0" src="https://www.paypal.com/en_AR/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Categories -->

  <div class="nk-gap-2"></div>
  <div class="row vertical-gap">
    <div class="col-lg-8">

      <!-- START: Latest Matches -->
      <div class="nk-gap-2"></div>
      <h3 class="nk-decorated-h-2">
            <span>
              <span class="text-main-1">Video </span> de la semana
            </span>
      </h3>
      <div class="nk-gap"></div>
      <div class="row">
        <% if !@top_week.present? %>
          No hubo resultados de votación
        <% else %>
          <div class="col-md-4">
            <div class="nk-widget-match p-0">
              <div class="nk-widget-match-teams">
                <div class="nk-widget-match-team-logo">
                  <% if @top_week.present? %>
                    <% if find_video(@top_week.last.id).image.present? %>
                      <%= image_tag(find_video(@top_week.last.id).image, width: '65%') %>
                    <% else %>
                      <%= image_tag('logo.png', width: '65%') %>
                    <% end %>
                  <% end %>
                </div>
                <div class="nk-match-score bg-dark-3 text-center">
                  <% if @top_week.present? %>
                    <% @user1 = User.find_by(id: @top_week.last.user_id) %>
                    <%= @user1.nickname %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="nk-gap-2"></div>
            <div class="ggwp-index">
              <% if @top_week.present? %>
                <%= image_tag('icons/ico_trofeo.png', width: '80') %>
                <h4 class="text-white"><%= @top_week.first %></h4>
                <%= link_to 'Ver Perfil', user_path(@user1), class: 'nk-btn nk-btn-rounded nk-btn-color-main-1 .nk-btn-color-dark-3' %>
              <% end %>
            </div>

          </div>
          <div class="col-md-8">
            <div class="responsive-embed responsive-embed-16x9">
              <% if @top_week.present? %>
                <% if @top_week.last.present? %>
                  <%= Video.find_by(id: @top_week.last.id).embeded.html_safe %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- END: Latest Matches -->

      <div class="nk-gap-2"></div>
      <h3 class="nk-decorated-h-2">
            <span>
              <span class="text-main-1">Video </span> del mes
            </span>
      </h3>
      <div class="nk-gap"></div>
      <div class="row">
        <% if @top1.present? %>
          <div class="col-md-4">
            <div class="nk-widget-match p-0">
              <div class="nk-widget-match-teams">
                <div class="nk-widget-match-team-logo">
                  <% if @top1.last.present? %>
                    <% if find_video(@top1.last.id).image.present? %>
                      <%= image_tag(find_video(@top1.last.id).image, width: '65%') %>
                    <% else %>
                      <%= image_tag('logo.png', width: '65%') %>
                    <% end %>
                  <% end %>
                  <div class="nk-match-score bg-dark-3 text-center">
                    <% if @top1.present? %>
                      <% @user2 = User.find_by(id: @top1.last.user_id) %>
                      <%= @user2.nickname %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="ggwp-index">
                <% if @top1.present? %>
                  <%= image_tag('icons/ico_trofeo.png', width: '80') %>
                  <h4 class="text-white"><%= @top1.first %></h4>
                  <%= link_to 'Ver Perfil', user_path(@user2), class: 'nk-btn nk-btn-rounded nk-btn-color-main-1 .nk-btn-color-dark-3' %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="responsive-embed responsive-embed-16x9">
              <% if @top1.present? %>
                <% if @top1.last.present? %>
                  <%= Video.find_by(id: @top1.last.id).embeded.html_safe %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% else %>
          No hubo resultados de la votación
        <% end %>
      </div>

      <!-- START: Best Selling -->
      <div class="nk-gap-3"></div>
      <h3 class="nk-decorated-h-2">
            <span>
              <span class="text-main-1">Jugadores</span> Destacados</span>
      </h3>
      <div class="nk-gap"></div>
      <div class="row vertical-gap">

        <% @top4.each do |top| %>
          <div class="col-md-6 mt-50 mb-30">
            <div class="nk-product-cat">
              <div class="row">
                <div class="col-sm-4 user-avatar">
                  <a class="nk-product-image">
                    <% if (User.find(top.last)).image.attached? %>
                      <%= image_tag((User.find(top.last)).image, width: '65%') %>
                    <% else %>
                      <%= image_tag('logo.png', width: '65%') %>
                    <% end %>
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><%= truncate((User.find(top.last)).nickname, length:15) %></a>
                    </h3>
                    <!--<div class="nk-gap-1"></div>-->
                    <div class="nk-product-rating" data-rating="3">
                      <%#= image_tag('icons/ico_trofeo.png', width: '45%') %>
                      <%= image_tag('icons/ico_corona.png', width: '40px') %>
                      <small class="text-white"><%= top.first %></small>
                    </div>
                    <!--<div class="nk-gap-1"></div>
                    <div class="nk-gap-1"></div>-->
                    <div>
                      <%= link_to 'Ver perfil', user_path(top.last), class: 'nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="col-12">
          <div class="nk-product-cat last">
            <div class="nk-product-cont text-center">
              <div class="nk-gap-1"></div>
              <%= link_to 'Ver más', games_path, class: 'nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1' %>
            </div>
          </div>
        </div>

      </div>
      <!-- END: Best Selling -->


      <div class="nk-gap-2"></div>


    </div>
    <div class="col-lg-4">
      <!--
            START: Sidebar

            Additional Classes:
                .nk-sidebar-left
                .nk-sidebar-right
                .nk-sidebar-sticky
        -->
      <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">

        <!--<div class="nk-widget nk-widget-highlighted">
          <h4 class="nk-widget-title">
                <span>
                  <span class="text-main-1">Video</span> del mes</span>
          </h4>
          <div class="nk-widget-content">
            <div class="nk-gallery-item-box mb-15">
              <%# if @top1.present? %>
                <%# if @top1.last.present? %>
                  <%#= Video.find_by(id: @top1.last.id).embeded.html_safe %>
                <%# end %>
              <%# else %>
                No hubo resultados de la votación
              <%# end %>
            </div>
          </div>
        </div>-->

        <div class="nk-widget nk-widget-highlighted">
          <h4 class="nk-widget-title">
                <span>
                  <span class="text-main-1">Top 3</span> Videos Más votados</span>
          </h4>
          <div class="nk-widget-content">
            <% cache @top3_all do %>
              <% @top3_all.each do |video| %>
                <% cache video do %>
                  <div class="nk-gallery-item-box mb-15">
                    <% if !video.last.nil? %>
                      <%= Video.find_by(id: video.last).embeded.html_safe %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-12">
            <div class="nk-product-cat last">
              <div class="nk-product-cont text-center">
                <div class="nk-gap-1"></div>
                <%= link_to 'Ver más', ggwp_path, class: 'nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1' %>
              </div>
            </div>
          </div>
          <div class="nk-gap-2"></div>
        </div>

      </aside>
      <div class="nk-gap-2"></div>
      <!-- END: Sidebar -->
    </div>
  </div>
</div>

<!-- Seiyria Bootstrap Slider -->
<script src="<%= request.base_url + '/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js' %>"></script>
