<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <!-- START: Teams -->
      <% @users_pagination.each do |user| %>
        <div class="nk-team">
          <div class="nk-team-logo">
            <% if user.image.attached? %>
              <%= image_tag(user.image, width: '126px') %>
            <% else %>
              <%= image_tag('logo.png', width: '126px') %>
            <% end %>
          </div>
          <div class="nk-team-cont">
            <div class="nk-content">
              <h3 class="h5 mb-20">
                <span class="text-main-1"><%= link_to user.nickname, user %></span>
              </h3>
              <p class="h5 mb-20 ml-30">
                <% if user_signed_in? && current_user.role.id == 2 %>
                  <%= link_to edit_user_path(user) do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash ml-10"></i>
                  <% end %>
                <% end %>
              </p>
            </div>
            <i class="fa fa-file-video-o"></i> <%= Video.where(user_id: user.id).count %> Videos compartidos
            <!--<div class="nk-team-photo" style="background-image: url(<%#= image_path('team-photo.png') %>);"></div>-->
          </div>
        </div>
      <% end %>
      <!-- END: Teams -->
      <div class="nk-gap-2"></div>
      <!-- START: Pagination -->
      <div class="col-lg-9">
        <div class="nk-pagination nk-pagination-left">
          <nav>
            <%= will_paginate(
                  @users_pagination,
                  previous_label: '<span class="ion-ios-arrow-back"></span>',
                  next_label: '<span class="ion-ios-arrow-forward"></span>',
                  )
            %>
          </nav>
        </div>
      </div>
      <!-- END: Pagination -->

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>
<div class="nk-gap-2"></div>