<div class="nk-gap-2"></div>

<!-- START: Breadcrumbs -->
<div class="nk-gap-1"></div>
<%= render '_partials/breadcrumbs' %>
<div class="nk-gap-1"></div>
<!-- END: Breadcrumbs -->

<!-- START: Accordion -->
<div class="container">
  <p>
    Estamos muy felices de saber que estás leyendo esto! Si deseas acompañarnos en esta iniciativa y ser parte de FREE
    AGENTS ESPORTS podés hacerlo enviándonos un mensaje .Te responderemos a la brevedad.
  </p>
  <div class="row">
    <div class="offset-md-3 col-md-6 mt-50">
      <div class="nk-widget">
        <h4 class="nk-widget-title">
          <span class="text-main-1">Envíanos</span> un mensaje</h4>
        <div class="nk-widget-content">
          <form action="php/contact.php" class="nk-form nk-form-ajax" novalidate="novalidate">
            <div class="row vertical-gap sm-gap">
              <div class="col-md-6">
                <input type="email" class="form-control required" name="email" placeholder="Email *"
                       aria-required="true">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control required" name="name" placeholder="Nombre *"
                       aria-required="true">
              </div>
            </div>
            <div class="nk-gap"></div>
            <textarea class="form-control required" name="message" rows="5" placeholder="Mensaje *"
                      aria-required="true"></textarea>
            <div class="nk-gap-1"></div>
            <button class="nk-btn nk-btn-rounded nk-btn-color-white">
              <span>Enviar</span>
              <span class="icon"><i class="ion-paper-airplane"></i></span>
            </button>
            <div class="nk-form-response-success"></div>
            <div class="nk-form-response-error"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Accordion -->