<%= render '_partials/breadcrumbs' %>

<!-- START: Accordion -->
<div class="container">
  <div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
    <p class="text-white">
      <u>Definición:</u>
      <br><br>
      <i>“Plataforma”</i> sitio web <b>FREE AGENTS ESPORTS</b> publicada por <b>FREE AGENTS ESPORTS</b> y disponible
      para los usuarios
      registrados.
      <br><br>
      <i>“Contenido”</i> significa cualquier dato o información cargada por los Usuarios, incluidos, entre otros,
      diseños,
      imágenes, animaciones, videos, archivos de audio, fuentes, logotipos, ilustraciones, composiciones, obras de arte,
      interfaces, texto, obras literarias y cualquier otro material.
      <br><br>
      <i>"Usuario"</i> significa cualquier persona, organización o empresa que se haya registrado en la Plataforma y la
      utilice.
      Una vez registrado, el usuario puede publicar y compartir contenido, comunicarse con otros usuarios y acceder a la
      base de datos de <b>FREE AGENTS ESPORTS</b>.
      <br><br>
      <i>"Contrato"</i> significa la convención vinculante entre <b>FREE AGENTS ESPORTS</b> y el Cliente que acepta
      estos Términos y
      Condiciones, la Política de Privacidad y cualquier enmienda a la misma de vez en cuando.
      <br><br>
      <i>"Materiales"</i> significa cualquier software necesario, todo el texto informativo, documentación de software,
      diseño y
      <i>"apariencia"</i>, fotografías, gráficos, audio, video, mensajes, mensajería instantánea e interactiva, diseño y
      funciones, archivos, documentos, imágenes ó otros materiales, ya sean publicados públicamente o transmitidos de
      forma privada, así como todos los trabajos derivados de los mismos. Todos los Materiales son propiedad de FREE
      AGENTS ESPORTS.
      <br><br>
      <i>"Servicios"</i> se refiere a los servicios y características ofrecidos por <b>FREE AGENTS ESPORTS</b> a través
      de la Plataforma
      a sus Usuarios. Los Servicios Básicos se proporcionan de forma gratuita a todos los Usuarios. De acuerdo con las
      prácticas y usos de Internet, se puede insertar publicidad en la Plataforma. Se recuerda que los cargos de
      conexión
      relacionados con el uso de los Servicios no son asumidos por <b>FREE AGENTS ESPORTS</b> y siguen siendo
      responsabilidad del
      Usuario.
      <br><br>
      <i>"<b>FREE AGENTS ESPORTS</b>"</i> significa una empresa registrada con sede en
      <i>"Base de datos de <b>FREE AGENTS ESPORTS</b>"</i> hace referencia a una recopilación de datos e información de
      acceso público
      sobre jugadores (foto, fecha de nacimiento, nombre apellido, edad, puntaje en los juegos, videos Game play,etc.),
      equipos, ligas y resultados de juegos y otros datos relacionados con el comportamiento deportivo y no deportivo
      del
      usuario. La base de datos de <b>FREE AGENTS ESPORTS</b> es propiedad de <b>FREE AGENTS ESPORTS</b> y está
      protegida por
      <i>“Equipo”</i> significa una página en línea de un club de ESPORTS en la Plataforma.
    </p>
    <br><br>
    <p class="text-white">
      <u>Aceptación de términos</u>
      <br><br>
      <b>FREE AGENTS ESPORTS</b> es una plataforma para agentes libres, jugadores, equipos de deportes electrónicos, que
      permite
      a los usuarios crear su propio perfil deportivo, publicar contenido, conectarse con otros usuarios, compartir
      información y acceder a la base de datos de <b>FREE AGENTS ESPORTS</b>. Estos Términos y Condiciones ("Términos")
      se
      aplican a cada visitante de la Plataforma, así como a los Usuarios que utilizan y acceden a los Servicios que
      están
      disponibles a través del Sitio.
      <br><br>
      Estos Términos, así como la Política de privacidad, son el acuerdo completo entre los Usuarios y FREE AGENTS
      ESPORTS. Al visitar la Plataforma, iniciar sesión y utilizar los Servicios relacionados de cualquier manera, los
      Usuarios y Clientes aceptan y aceptan estos Términos, nuestra Política de Privacidad y cualquier otro aviso legal
      o
      pauta publicada en la Plataforma.
      <br><br>
      <b>FREE AGENTS ESPORTS</b> puede modificar estos Términos cuando lo considere necesario y dicha modificación
      entrará en
      vigencia una vez que <b>FREE AGENTS ESPORTS</b> las publique en la Plataforma. Los usuarios aceptan estar sujetos
      a
      cualquier cambio en estos Términos cuando los Usuarios utilicen los Servicios después de que se publique dicha
      modificación.
      <br><br>
      Si los Usuarios no están de acuerdo con estos Términos, no deben usar los Servicios.
    </p>
    <br><br>
    <p class="text-white">
      <u>Descripción de los Servicios</u>
      <br><br>
      Para utilizar los Servicios, los Usuarios deben tener acceso a Internet, ya sea directamente o mediante
      dispositivos
      que accedan a contenido móvil y basado en la web.
      <br><br>
      Los Servicios pueden incluir ciertas comunicaciones de <b>FREE AGENTS ESPORTS</b>, como anuncios de servicio,
      mensajes
      administrativos y contenido de terceros (es decir, RSS-Feeds). Los Clientes y Usuarios no pueden acceder a los
      Servicios por ningún medio que no sea a través de las interfaces de servicios que proporcionamos.
      Cualquier característica nueva o actualización de los Servicios, incluido el lanzamiento de nuevas herramientas y
      recursos, estará sujeta a los presentes Términos.
      <br><br>
      Nuestros servicios web y móviles permiten a los usuarios acceder a servicios básicos como, entre otros, la
      creación
      de su perfil deportivo profesional, la carga de videos game play , puntaje, datos personales, foto, la publicación
      y
      el intercambio de contenido, la comunicación con otros usuarios a través del foro, compartir su perfil a los
      canales
      vinculados, el aumento de su popularidad de acuerdo a los votos de los visitantes, el acceso a la base de datos de
      <b>FREE AGENTS ESPORTS</b>.
    </p>
    <br><br>
    <p class="text-white">
      <u>Conclusión del contrato y registro del usuario</u>
      <br><br>
      <u>Un contrato</u>
      <br><br>
      Al celebrar el Contrato, el Usuario garantiza a FREE AGENTS que tiene el derecho y la autoridad legales para
      entrar
      y cumplir con sus obligaciones. El Usuario también garantiza que tiene el derecho legal de representar y está
      facultado para celebrar contratos legalmente vinculantes en nombre de la empresa u organización.
      Para celebrar el Contrato, el Usuario debe proporcionar una dirección de correo electrónico válida, un nombre,
      detalles relacionados con los deportes electrónicos ESPORTS en los que se desempeña.
      Los usuarios son responsables de mantener la confidencialidad de la contraseña y la cuenta, y de todas las
      actividades que ocurran en su cuenta.
      <br><br>
      En consideración al uso de los Servicios, los Usuarios acuerdan mantener y actualizar datos de registro
      verdaderos,
      precisos, actuales y completos.
      <br><br>
      Las personas menores de 16 años pueden convertirse en un Usuario, cargar sus datos e información una vez que hayan
      completado los datos de la persona responsable que incluye nombre, apellido, documento te identidad y su
      parentezco.
    </p>
    <br><br>
    <p class="text-white">
      <u>Registro</u>
      <br><br>
      Para registrarse en la Plataforma y obtener una cuenta, los Usuarios deben proporcionar una dirección de correo
      electrónico válida, una contraseña secreta, un nombre y una autorización firmada por su padre, tutor o encargado
      si
      es menor de 16 años. Los usuarios también deben seleccionar su Juego, rol en el mismo, otros juegos, dispositivos
      que usa, cargar videos game play, foto, puntaje.
      <br><br>
      Con el fin de utilizar nuestros Servicios, o participar en una promoción, concurso o sorteo, se le podrá solicitar
      que se registre en una cuenta o que nos brinde determinada información personal. La participación en estos
      Servicios será voluntaria. Usted deberá tener trece (13) años de edad o más para visitar el sitio y usted deberá
      tener al menos dieciocho (18) años de edad para participar de la mayoría de las ofertas del sitio. Asimismo, se le
      podrá solicitar que cumpla con un requisito de edad mínima mayor y que acepte normas y condiciones publicadas
      adicionales para participar ,registrarse como usuario, crear su perfil, participar en determinados concursos,
      sorteos, eventos especiales u ofertas de servicios adicionales. Usted podrá cancelar susregistros en el sitio
      siguiendo las instrucciones para abandonar la suscripción o para dejar de recibir avisos del sitio que se incluyen
      en los Servicios o en las comunicaciones electrónicas correspondientes que enviamos.Los Servicios podrán solicitar
      que usted nos proporcione determinada información personal. Usted acepta que proporcionará información exacta,
      actual y verídica ,que la actualizará según sea necesario para mantener su exactitud. FREE AGENTS ESPORTS
      conservará y usará su información de acuerdo con su Política de Privacidad. Usted acepta que no ocultará su
      identidad proporcionándonos información falsa, o proporcionándonos información de otra persona que usted no está
      autorizado a proporcionar. Si usted nos ofrece información que no está autorizado a dar, podremos suspender o
      rescindir su registro o participación en el sitio y entablar una demanda con el fin de buscar una reparación. En
      los casos en que usted proporciona su dirección de correo electrónico a FREE AGENTS ESPORTS, permitirá que usemos
      la dirección de correo electrónico para enviarle notificaciones relacionadas con los Servicios, incluidas, entre
      otras, notificaciones exigidas por ley, en lugar de correo postal. Usted no podrá optar por dejar de recibir
      avisos por correo electrónico relacionados con los Servicios. Asimismo, podremos enviarle correos electrónicos
      comerciales en nuestro nombre .Usted podrá optar por dejar de recibir dichos correos electrónicos en cualquier
      momento siguiendo las instrucciones para cancelar la suscripción que se incluyen en cada correo comercial.
      <br><br>
      <b>FREE AGENTS ESPORTS</b> no se hace responsable por los vínculos que puedan generarse fuera de la actividad como
      Usuario
      en la plataforma. <b>FREE AGENTS ESPORTS</b> no genera encuentros ,reuniones ,pruebas entre Usuarios , equipos
      ,manager u
      otras personas relacionadas con los deportes electrónicos .
    </p>
    <br><br>
    <p class="text-white">
      <u>Aviso de Privacidad</u>
      <br><br>
      Nuestro Aviso de privacidad, que forma parte de estos Términos, describe cómo recopilamos, protegemos y usamos los
      datos de registro de los Usuarios y cierta otra información sobre los visitantes y los Usuarios. Alentamos a los
      usuarios y visitantes a leer el Aviso de privacidad y a utilizar la información que contiene para ayudarlos a
      tomar
      decisiones informadas.
    </p>
    <br><br>
    <p class="text-white">
      <u> Cuenta y seguridad</u>
      <br><br>
      Los usuarios son responsables de mantener la seguridad de su cuenta, por todas las actividades que ocurren o
      acciones tomadas bajo la cuenta. Los usuarios acuerdan notificar inmediatamente a <b>FREE AGENTS ESPORTS</b> por
      escrito
      sobre cualquier uso no autorizado de la cuenta o cualquier otra violación de seguridad. <b>FREE AGENTS ESPORTS</b>
      no será
      responsable de ninguna pérdida o daño de los Usuarios en caso de incumplimiento de esta obligación de seguridad.
      Los
      usuarios reconocen y aceptan que, bajo ninguna circunstancia, <b>FREE AGENTS ESPORTS</b> será responsable, de
      ninguna
      manera, de los actos u omisiones de los Usuarios o de terceros, incluidos los daños y perjuicios de cualquier tipo
      incurridos como resultado de dichos actos u omisiones.
    </p>
    <br><br>
    <p class="text-white">
      <u>Derechos de propiedad</u>
      <br><br>
      Los Servicios, todo el software confidencial y patentado que se utiliza en relación con los Servicios, los
      Materiales, el contenido incluido en los anuncios de los patrocinadores o en la información presentada a los
      visitantes y Usuarios a través de los Servicios o por los anunciantes, y todos los demás materiales y servicios
      proporcionados por o propiedad de <b>FREE AGENTS ESPORTS</b> u otras partes que han otorgado licencias de sus
      materiales,
      contenido o servicios prestados a <b>FREE AGENTS ESPORTS</b>, están protegidas por derechos de autor, marcas
      comerciales,
      secretos comerciales y otras leyes de propiedad intelectual.
      <br><br>
      Damos a los Usuarios permiso para utilizar los Materiales en la medida necesaria para acceder a los Servicios
      relacionados de acuerdo con estos Términos.
      <br><br>
      Este permiso no permite a los visitantes y usuarios almacenar, copiar, reproducir, republicar, modificar, cargar,
      publicar, traducir, raspar, alquilar, arrendar, prestar, vender, distribuir, transferir, transmitir, mostrar,
      descompilar, realizar ingeniería inversa, revertir el ensamblaje , descifrar o intentar descubrir cualquier código
      de programación o cualquier código fuente utilizado en o con los Materiales, o distribuir de cualquier otra manera
      los Materiales que no sean los específicamente permitidos en estos Términos. Los visitantes y los usuarios no
      pueden
      vender, asignar, sublicenciar, otorgar una garantía real ni intentar transferir ningún derecho sobre los Servicios
      o
      Materiales, crear trabajos derivados basados ​​en o explotar comercialmente de alguna manera los Servicios o
      Materiales, en su totalidad o en parte, salvo lo expresamente permitido en estos Términos. Cualquier uso de los
      Servicios o Materiales para cualquier propósito que no sea el específicamente permitido en este documento o sin
      nuestro consentimiento previo o el consentimiento previo por escrito de nuestros licenciantes o anunciantes, según
      corresponda, está expresamente prohibido. Nos reservamos todos los derechos no otorgados expresamente en estos
      Términos.
      <br><br>
      Los usuarios serán propietarios de toda la propiedad intelectual relacionada con su Contenido, incluidos los
      diseños, imágenes, animaciones, videos, archivos de audio, fuentes, logotipos, ilustraciones, composiciones, obras
      de arte, interfaces, texto, obras literarias y cualquier otro material creado por ellos. Al publicar o cargar
      Contenido, los Usuarios deberán aceptar que su Contenido se redistribuirá automáticamente en la Plataforma.
    </p>
    <br><br>
    <p class="text-white">
      <u>Normas</u>
      <br><br>
      <u>Usuarios:</u>
      <br><br>
      debe poseer todos los derechos sobre cualquier Contenido cargado por ellos, incluidos, entre otros, diseños,
      imágenes, animaciones, videos, archivos de audio, fuentes, logotipos, ilustraciones, composiciones, obras de arte,
      interfaces, texto, obras literarias y cualquier otro material, o de otra manera tener todo el poder, título,
      licencias, consentimientos y autoridad, en y para el Contenido, según sea necesario para usar, publicar,
      transferir
      o licenciar legalmente todos y cada uno de los derechos e intereses en y para dicho Contenido;
      debe garantizar que su Contenido sea verdadero, actual, preciso, que no infrinja los derechos de ningún tercero y
      que de ninguna manera sea ilegal que posean, publiquen, transmitan o muestren en el país en el que residen o en el
      que reside <b>FREE AGENTS ESPORTS</b>
      debe haber obtenido todos los consentimientos y permisos requeridos por todas las leyes aplicables, con respecto a
      la publicación, transmisión y publicación de cualquier información personal y / o imagen o semejanza de cualquier
      persona, entidad o propiedad que sea parte de su Contenido;
      Los usuarios no:
      Deben cargar, publicar, transmitir o poner a disposición cualquier Contenido que:
    </p>
    <ol class="text-white">
      <li>
        sea ilegal, dañino, amenazante, abusivo, acosador, tortuoso, difamatorio, vulgar, obsceno, calumnioso, invasivo
        de la privacidad de otra persona (hasta, pero sin excluir, cualquier dirección, correo electrónico, número de
        teléfono o cualquier otra información de contacto sin el consentimiento del propietario de dicha información),
        odioso u objetable desde el punto de vista racial, étnico o de otro modo;
      </li>
      <li>
        cargar, publicar, enviar por correo electrónico, transmitir o poner a disposición o iniciar cualquier Contenido
        que contenga virus de software, gusanos, caballos de Troya o cualquier otro código de computadora, archivos o
        programas que interrumpan, destruyan o limiten la funcionalidad de los Servicios o los Materiales o que pueda
        afectar la capacidad de cualquier Usuario para acceder a la Plataforma y los Servicios;
      </li>
      <li>
        Utilizar los Servicios o Materiales para fines ilícitos o para realizar cualquier actividad ilícita, incluidos,
        entre otros, fraude, malversación de fondos, blanqueo de capitales o uso de información privilegiada, cargar,
        publicar, enviar por correo electrónico, transmitir o poner a disposición o iniciar cualquier Contenido. que
        contenga virus de software, gusanos, caballos de Troya o cualquier otro código informático, archivos o programas
        que
        interrumpan, destruyan o limiten la funcionalidad de los Servicios o los Materiales o que puedan afectar la
        capacidad de cualquier Usuario para acceder a la Plataforma y los Servicios;
      </li>
    </ol>
    <p class="text-white">
      Al publicar o cargar Contenido, los Usuarios deberán aceptar que su Contenido se redistribuirá automáticamente en
      la
      Plataforma.
      Los usuarios reconocen y aceptan que su incumplimiento de cualquiera de los anteriores o cualquier tergiversación
      realizada por ellos en este documento puede resultar en la cancelación inmediata de su cuenta y / o los Servicios
      que se les brindan, con o sin previo aviso.
      Todo el contenido de los usuarios es responsabilidad exclusiva de quien carga dicho contenido. Los usuarios son
      total y exclusivamente responsables de todo el Contenido que cargan, publican, transmiten o ponen a disposición a
      través de los servicios. <b>FREE AGENTS ESPORTS</b> no revisa ni es responsable del Contenido de usuario cargado.
      Si los Usuarios se dan cuenta del uso indebido de los Servicios de <b>FREE AGENTS ESPORTS</b> por parte de
      cualquier
      Usuario, deben comunicarse con <b>FREE AGENTS ESPORTS</b> por correo electrónico a info@freeagents.gg
    </p>
    <br><br>
    <p class="text-white">
      <u>Uso de la base de datos de <b>FREE AGENTS ESPORTS</b></u>
      <br><br>
      <b>FREE AGENTS ESPORTS</b> posee los derechos de propiedad intelectual de la base de datos de
      <b>FREE AGENTS ESPORTS</b>. No se
      permite la copia de la totalidad o una parte sustancial de la base de datos de <b>FREE AGENTS ESPORTS</b> sin el
      consentimiento previo por escrito de <b>FREE AGENTS ESPORTS</b>
      <br><br>
      <b>FREE AGENTS ESPORTS</b> ha creado la base de datos de <b>FREE AGENTS ESPORTS</b>, que se actualiza
      periódicamente. Los usuarios
      pueden acceder a los datos y la información contenida en la base de datos de <b>FREE AGENTS ESPORTS</b>.
      <br><br>
      La siguiente información es parte de la base de datos de <b>FREE AGENTS ESPORTS</b> y está disponible y los
      usuarios
      pueden
      acceder a ella y actualizarla:
      <br>
      Creación, modificación y eliminación de perfil de jugador
      <br>
      Creación, modificación y eliminación del perfil oficial del equipo
      <br>
      Creación, modificación y eliminación de perfil de marca
      <br>
      Creación, modificación y eliminación de estadísticas de jugadores.
      <br>
      Creación, modificación y eliminación de galerías de imágenes, videos, fotos y otros medios.
      <br>
      La siguiente información es parte de la base de datos de <b>FREE AGENTS ESPORTS</b> y está disponible y los
      usuarios
      con
      acceso de equipo pueden acceder a ella y actualizarla:
      <br>
      Creación, modificación y eliminación del perfil oficial del equipo
      <br>
      Creación, modificación y eliminación de galerías de imágenes, videos, fotos y otros medios.
      <br>
      Creación, modificación y eliminación de la descripción y el logotipo del equipo
      <br>
      Los usuarios aceptan además que no:
      <br>
      Envíe material que tenga derechos de autor o que esté sujeto a derechos de propiedad de terceros (u otros),
      incluidos los derechos de privacidad y publicidad, a menos que los Usuarios sean los propietarios de dichos
      derechos
      o tengan permiso del propietario legítimo para publicar el material y otorgar a FREE AGETNS ESPORTS todos los
      derechos de licencia.
      <br>
      Envíe información falsa (consulte la Sección normas)
      para cumplir con cualquier obligación legal; o
      cuando se ha producido un incumplimiento de los Términos y condiciones; o
      para las operaciones de gestión de la base de datos <b>FREE AGENTS ESPORTS</b>; o
      si algún dato es inexacto; o
      si algún dato es ingresado por alguien que no está autorizado para hacerlo
      <br>
      <b>FREE AGENTS ESPORTS</b> puede corregir o eliminar datos de la base de datos de <b>FREE AGENTS ESPORTS</b>:
      <br>
      <b>FREE AGENTS ESPORTS</b> puede retirar el servicio proporcionado aquí a un Usuario en cualquier momento y tiene
      derecho,
      a su sola discreción, a cancelar o ralentizar el acceso a la Base de datos de <b>FREE AGENTS ESPORTS</b> por
      cualquier
      motivo, en particular por no cumplir con los Términos y condiciones.
      <br>
      <b>FREE AGENTS ESPORTS</b> puede suspender el acceso a la base de datos de <b>FREE AGENTS ESPORTS</b>, o parte de
      ella, con fines
      de mantenimiento, actualizaciones, correcciones de seguridad e implementación de nuevos servicios.
      <br>
      <b>FREE AGENTS ESPORTS</b> puede eliminar los datos personales de un individuo a pedido de este individuo.
      <br>
      Los visitantes y usuarios aceptan que <b>FREE AGENTS ESPORTS</b> no se hace responsable de la información falsa en
      un
      perfil de jugador, página de equipo, ligas, estadísticas, clasificación o resultados. <b>FREE AGENTS ESPORTS</b>
      no
      garantiza la precisión, integridad o disponibilidad de la base de datos de <b>FREE AGENTS ESPORTS</b> o de los
      datos
      contenidos en ella.
      <br>
      El uso de la base de datos de <b>FREE AGENTS ESPORTS</b> y los datos contenidos en ella es por cuenta y riesgo del
      usuario
      o visitante. <b>FREE AGENTS ESPORTS</b> no se hace responsable de ningún daño directo o indirecto de cualquier
      naturaleza,
      que surja del uso de la base de datos de <b>FREE AGENTS ESPORTS</b>. Cualquier incumplimiento de las reglas de
      derechos de
      autor o derechos de base de datos está sujeto a sanciones penales bajo el delito de infracción, sin perjuicio de
      cualquier reclamo por daños y perjuicios de los titulares de los derechos de autor.
      <br>
      Si los Usuarios se dan cuenta de un uso indebido de la Base de datos de <b>FREE AGENTS ESPORTS</b> por parte de
      cualquier
      persona, organización o empresa, deben comunicarse con <b>FREE AGENTS ESPORTS</b> por correo electrónico a….
    </p>
    <p class="text-white">
      <u>Renuncia de garantías</u>
      <br><br>
      <b>FREE AGENTS ESPORTS</b> no será responsable del mal funcionamiento, interrupción de los Servicios, pérdida de
      datos,
      difusión accidental de datos personales o sensibles y de cualquier otro daño debido a ataques fraudulentos como
      piratas informáticos, ladrones, piratas informáticos, crackers, virus, etc.
      <br><br>
      <b>FREE AGENTS ESPORTS</b> no será responsable si alguna vez la Plataforma contiene errores tipográficos u otros
      errores o
      inexactitudes y / o no está completa. Por lo tanto, nos reservamos el derecho de corregir cualquier error,
      inexactitud u omisión, y de cambiar o actualizar la información en cualquier momento.
      <br><br>
      Bajo ninguna circunstancia <b>FREE AGENTS ESPORTS</b> será responsable de cualquier retraso o falla en la
      Plataforma
      y / o
      cualquiera de los Servicios y / o información en la Plataforma que resulte directa o indirectamente de, surja de,
      se
      relacione o esté en conexión con eventos más allá de lo razonable. control de <b>FREE AGENTS ESPORTS</b>,
      incluidos,
      entre
      otros, fallas de Internet, fallas de equipos, fallas de energía eléctrica, huelgas, disputas laborales,
      disturbios,
      insurrecciones, disturbios civiles, escasez de mano de obra o materiales, incendios, inundaciones, tormentas,
      terremotos, explosiones, casos fortuitos, guerra, terrorismo, luchas intergalácticas, acciones gubernamentales,
      órdenes de cortes, agencias o tribunales o incumplimiento de terceros.
      <br><br>
      <b>FREE AGENTS ESPORTS</b> no será responsable de las pérdidas derivadas de un evento de fuerza mayor.
    </p>
    <br><br>
    <p class="text-white">
      <u>Exención de responsabilidad por daños indirectos.</u>
      <br><br>
      EN LA MÁXIMA MEDIDA POSIBLE POR LA LEY, EN NINGÚN CASO <b>FREE AGENTS ESPORTS</b>, SUS PROVEEDORES O CUALQUIER
      TERCERO
      MENCIONADO EN CUALQUIER PLATAFORMA DE <b>FREE AGENTS ESPORTS</b> SERÁN RESPONSABLES DE CUALQUIER DAÑO (INCLUYENDO,
      SIN
      LIMITACIÓN, DAÑOS INCIDENTALES Y CONSECUENTES, DAÑOS RESULTANTES O PERJUICIOS, PÉRDIDA DE DATOS, PÉRDIDA DE
      OPORTUNIDAD DE EMPLEO O INTERRUPCIÓN COMERCIAL) COMO RESULTADO DEL USO O LA INCAPACIDAD DE UTILIZAR CUALQUIER
      PLATAFORMA <b>FREE AGENTS ESPORTS</b> Y EL CONTENIDO DE <b>FREE AGENTS ESPORTS</b>, YA SEA BASADO EN GARANTÍA,
      CONTRATO, AGRAVIO O
      CUALQUIER OTRA TEORÍA LEGAL, Y SI FREE AGENTS ESPORTS ESTÁ RECOMENDADO O NO. POSIBILIDAD DE TALES DAÑOS.
      <br><br>
      <u>Prohibida la reventa o uso comercial no autorizado.</u>
      <br><br>
      Los usuarios acuerdan no revender ni ceder derechos u obligaciones bajo estos Términos. También acuerdan no hacer
      ningún uso comercial no autorizado de ninguna Plataforma <b>FREE AGENTS ESPORTS</b>.
      <br><br>
      <u>Indemnización</u>
      <br><br>
      Los visitantes y usuarios acuerdan defender, indemnizar y eximir de responsabilidad a <b>FREE AGENTS ESPORTS</b>,
      sus
      afiliados y sus respectivos funcionarios, directores, empleados, inversores y agentes, de y contra cualquier
      reclamo, acción o demanda, incluidos, entre otros, los honorarios legales y contables razonables, alegando o como
      resultado de (i) cualquier Contenido u otro Material proporcionado a cualquier Plataforma de
      <b>FREE AGENTS ESPORTS</b>,
      (ii) el uso de la Base de datos de <b>FREE AGENTS ESPORTS</b> por parte de los Usuarios, o (iii) el incumplimiento
      de estos
      Términos por parte de los Usuarios. <b>FREE AGENTS ESPORTS</b> notificará a los Usuarios de inmediato sobre
      cualquier
      reclamo, demanda o procedimiento.
      <br><br>
      <u>Controversias</u>
      <br><br>
      El uso de la Plataforma, así como el Contrato entre <b>FREE AGENTS ESPORTS</b> y los Usuarios, se regirán por
      estos
      Términos y Condiciones y estarán sujetos a las leyes materiales del Gran Ducado de Luxemburgo. Cualquier disputa
      que
      surja de estos Términos y Condiciones, o de la orden de compra, o litigio de cualquier otra naturaleza entre FREE
      AGENTS ESPORTS y visitantes y Usuarios estará sujeto a la jurisdicción del Tribunal de Distrito del Gran Ducado de
      Luxemburgo.
      <br><br>
      Si un tribunal de jurisdicción competente considera que alguna disposición de los Términos de
      <b>FREE AGENTS ESPORTS</b> es
      inválida, ilegal, nula o inaplicable por cualquier motivo, dicha disposición se considerará separable y no
      afectará
      la validez y aplicabilidad de las disposiciones restantes. Ninguna renuncia a cualquier incumplimiento o
      incumplimiento de cualquiera de los Términos de <b>FREE AGENTS ESPORTS</b> se considerará una renuncia a cualquier
      incumplimiento o incumplimiento anterior o posterior.
      <br><br>
      <u>Avisos</u>
      <br><br>
      Estos Términos de uso se redactaron en español y pueden traducirse a otros idiomas para comodidad de los
      visitantes
      y usuarios. Los visitantes y los usuarios pueden acceder y ver versiones en otros idiomas cambiando la
      configuración
      de idioma del sitio web de Users <b>FREE AGENTS ESPORTS</b> (si existe una traducción). Si una versión traducida
      (no
      al
      español) de estos Términos y condiciones entra en conflicto de alguna manera con su versión en español,
      prevalecerán
      las disposiciones de la versión en español.
      <br><br>
      Podemos proporcionar avisos a los Usuarios a través de nuestros Servicios, por correo electrónico o por cualquier
      otro medio de contacto que los Usuarios nos hayan proporcionado.
      <br><br>
      Los Términos de <b>FREE AGENTS ESPORTS</b> y el uso de los Servicios de <b>FREE AGENTS ESPORTS</b> por parte de
      los
      Usuarios no
      crean, y no se interpretarán, para crear ninguna relación de asociación, empresa conjunta, empleador-empleado,
      agencia o franquiciador-franquiciado entre <b>FREE AGENTS ESPORTS</b> y sus Usuarios.
      <br><br>
      <b>FREE AGENTS ESPORTS</b> puede transferir y ceder sus derechos y / u obligaciones en virtud del presente y / o
      transferir
      los derechos de propiedad y el título de los Servicios de <b>FREE AGENTS ESPORTS</b> y / o el Contenido con
      licencia
      a un
      tercero, sin el consentimiento de los Usuarios o sin previo aviso a los Usuarios. Los clientes no pueden ceder ni
      transferir ninguno de los derechos y obligaciones de los usuarios a continuación sin el consentimiento previo por
      escrito de <b>FREE AGENTS ESPORTS</b>. Cualquier intento o cesión real de los mismos sin el consentimiento previo,
      explícito y por escrito de <b>FREE AGENTS ESPORTS</b>, será nulo y sin efecto.
    </p>

  </div>
</div>
<!-- END: Accordion -->
<div class="nk-gap-4"></div>
