<div class="sponsors">
  <section class="container partners" style="background: url('<%= asset_path("sponsors-img-1.jpg") %>'); ">
    <div class="text-center pt-15 pb-15">
      <%= image_tag("sponsors-img-2.png", class:'img-fluid') %>
    </div>
  </section>
  <section class="mt-80 mb-80">
    <div class="container">
      <div class="nk-carousel nk-carousel-x3" data-autoplay="5000" data-dots="false" data-cell-align="left" data-arrows="true">
        <div class="nk-carousel-inner">

          <% @partners.each do |partner| %>
            <% if partner.active %>
              <div>
                <div class="pl-5 pr-5">
                  <div class="nk-product-cat-3">
                    <a class="nk-product-image" href=<%= partner.url.html_safe %> target="_blank">
                      <%= image_tag(partner.image) %>
                    </a>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </section>
  <section class="mb-80">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <!-- START: Breadcrumbs -->
          <div class="nk-gap-1"></div>
          <%#= render '_partials/breadcrumbs' %>
          <div class="container">
            <ul class="nk-breadcrumbs">
              <li>
                <span>Forma parte de Free Agents</span>
              </li>
            </ul>
            <p class="mt-15">
              Estamos muy felices de saber que estás leyendo esto! Si deseas acompañarnos en esta iniciativa y ser parte de FREE
              AGENTS ESPORTS podés hacerlo enviándonos un mensaje .Te responderemos a la brevedad.
            </p>
          </div>
          <!-- END: Breadcrumbs -->
        </div>
        <div class="col-xl-6">
          <!-- START: Accordion -->
          <div class="container">
            <div class="row">
              <div class="offset-lg-3 col-lg-6 offset-xl-0 col-xl-12 mt-50">
                <div class="nk-widget">
                  <h4 class="nk-widget-title">
                    <span class="text-main-1">Envíanos</span> un mensaje</h4>
                  <div class="nk-widget-content">
                    <%= form_for @sponsor, class: 'nk-form nk-form-ajax' do |f| %>
                      <% if flash[:error].present? %>
                        <p> flash[:error]</p>
                      <% end %>
                      <div class="row vertical-gap sm-gap">
                        <div class="col-md-6">
                          <%= f.email_field :email, placeholder: '*Email', class:'form-control required' %>
                        </div>
                        <div class="col-md-6">
                          <%= f.text_field :nombre, placeholder: '*Nombre', class: 'form-control required' %>
                        </div>
                      </div>
                      <div class="nk-gap"></div>
                      <%= f.text_area :mensaje, rows: 5, placeholder: '*Mensaje', class: 'form-control required' %>
                      <%= f.text_field :nickname, hint: 'leave this field blank', class: 'visibility-hidden' %>
                      <div class="nk-gap-1"></div>
                      <%= f.submit 'Enviar', class:'nk-btn nk-btn-rounded nk-btn-color-white' %>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END: Accordion -->
        </div>
      </div>
    </div>
  </section>
</div>

