<div class="col-md-9">
  <!-- START: Accordion -->
  <div class="container">
    <span><%= link_to 'Nuevo', @breadcrumbs_new, class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 mb-15' %></span>
    <% @abouts.each do |about| %>
      <p>
        <%= about.content %>
        <% if current_user.role.id == 2 %>
          <%= link_to edit_about_path(about) do %>
            <i class="fa fa-edit ml-10"></i>
          <% end %>
          <%= link_to about, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash ml-10"></i>
          <% end %>
        <% end %>
      </p>
    <% end %>
    <p>
      Bienvenidos a FREE AGENTS ESPORTS!!
    </p>
  </div>
  <!-- END: Accordion -->

</div>