<div class="col-md-9">
  <!-- START: Accordion -->
  <div class="container">
    <span><%= link_to 'Nuevo', @breadcrumbs_new, class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 mb-15' %></span>

    <div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
      <% @faqs.each do |faq| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="accordion-1-<%= faq.id %>-heading">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-<%= faq.id %>" href="#accordion-1-<%= faq.id %>" aria-expanded="true"
               aria-controls="accordion-1-<%= faq.id %>">
              <%= faq.faq_title %>
              <span class="panel-heading-arrow fa fa-angle-down"></span>
            </a>
          </div>
          <div id="accordion-1-<%= faq.id %>" class="panel-collapse collapse" role="tabpanel"
               aria-labelledby="accordion-1-<%= faq.id %>-heading">
            <% if current_user.role.id == 2 %>
              <div>
                <%= link_to edit_faq_path(faq) do %>
                  <i class="fa fa-edit ml-10"></i>
                <% end %>
                <%= link_to faq, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash ml-10"></i>
                <% end %>
              </div>
            <% end %>
            <p><%= faq.faq_content %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- END: Accordion -->

</div>