<div class="col-md-9">
  <div class="row">
    <div class="col-lg-4 d-flex py-4">
      <div class="counter-box">
        <i class="fa fa-4x fa-user"></i>
        <p class="nk-post-title">
          <%= User.count %>
        </p>
        <p class="nk-sub-title">Usuarios registrados</p>
      </div>
    </div>
    <div class="col-lg-4 d-flex py-4">
      <div class="counter-box">
        <i class="fab fa-4x fa-youtube"></i>
        <p class="nk-post-title">
          <%= Video.count %>
        </p>
        <p class="nk-sub-title">Videos compartidos</p>
      </div>
    </div>
    <div class="col-lg-4 d-flex py-4">
      <div class="counter-box">
        <i class="fa fa-4x fa-users"></i>
        <p class="nk-post-title">
          <%= Group.count %>
        </p>
        <p class="nk-sub-title">Grupos creados</p>
      </div>
    </div>
  </div>

  <% if @videos_for_check.present? %>
    <div class="row d-inline">
      <h3 class="nk-decorated-h-2">
        <span>Videos nuevos para aprobación</span>
      </h3>
    </div>
    <div class="row">
      <% @videos_for_check.each do |video| %>
        <div class="col-md-6 p-15">
          <%= video.embeded.html_safe %>
          <div class="">
            <%= link_to administrator_index_path(video: video.id), class: 'mx-3' do %>
              Aprobar video <i class="fa fa-check"></i>
            <% end %>
            <%= link_to video_path(id: video.id, admin: 'admin'), class: 'mx-3', method: :delete, data: { confirm: '¿Estás seguro?' } do %>
              Eliminar <i class="fa fa-trash"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>