<div class="col-md-9">
  <div class="row d-inline">
    <h3 class="nk-decorated-h-2">
      <span>Listado de Banners</span>
    </h3>
    <span><%= link_to 'Nuevo', @breadcrumbs_new, class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 mb-15' %></span>
  </div>
  <div class="table-responsive">
    <table class="table">
      <table class="table table-sm text-white">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Contenido</th>
            <th scope="col">Activo</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% if @banners.present? %>
            <% @banners.each do |banner| %>
              <tr>
                <td><%= banner.title %></td>
                <td><%= banner.content %></td>
                <td><%= banner.active ? "Sí" : "No" %></td>
                <td class="d-inline-flex">
                  <%= link_to banner, class: 'mx-3' do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <%= link_to edit_banner_path(banner), class: 'mx-3' do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to banner, class: 'mx-3', method: :delete, data: {confirm: '¿Estás seguro?'} do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </table>
  </div>
</div>