<div class="col-md-9">
  <div class="row d-flex align-items-end mb-15">
    <div class="col-12">
      <h3 class="nk-decorated-h-2">
        <span>Listado de Usuarios</span>
      </h3>
    </div>
    <div class="col-lg-6 col-xl-3 mb-lg-0 mb-15">
      <%= form_with(controller: controller, method: 'get', class: 'd-flex') do |f| %>
        <%= f.text_field :nombre, class: 'form-control', placeholder: 'Buscar usuario por nombre', data: { turbolinks: false } %>
        <div class="text-center">
          <%= f.submit "Aceptar", class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 ml-15' %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 d-flex mb-lg-0 mb-15">
      <%= link_to 'Inhabilitados', administrator_index_path(inhabilitados: 'inhabilitados'), class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 ml-lg-15 ml-0' %>
      <%= link_to 'Ordenar por fecha', administrator_index_path(por_fecha: 'por_fecha'), class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 ml-15' %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-sm text-white">
      <thead>
      <tr>
        <th scope="col">
          <% if params[:nombre].present? %>
            Nombre
          <% else %>
            Nickname
          <% end %>
        </th>
        <th scope="col" class="text-center">Cuenta Tipo</th>
        <!--<th scope="col">Fecha Creación</th>-->
        <th scope="col" class="text-center">Activo</th>
        <th scope="col" class="text-center">Ficha</th>
        <th scope="col" class="text-center">Videos</th>
        <th scope="col" class="text-center">Opciones</th>
      </tr>
      </thead>
      <tbody>
      <% @users_pagination.each do |user| %>
        <tr>
          <td>
            <% if params[:nombre].present? %>
              <%= user.name.truncate(12) %>
            <% else %>
              <%= user.nickname.truncate(12) %>
            <% end %>
          </td>
          <td class="text-center"><%= user.option %></td>
          <!--<td><%#= l(user.created_at, format: '%d-%m-%Y') %></td>-->
          <td class="text-center">
            <% if user.active %>
              Sí
              <%= link_to administrator_index_path(disable_user: user), class: 'ml-3' do %>
                <i class="fa fa-toggle-on"></i>
              <% end %>
            <% else %>
              No
              <%= link_to administrator_index_path(enable_user: user), class: 'ml-3' do %>
                <i class="fa fa-toggle-off"></i>
              <% end %>
              <%# if user.elder_authorization.present? && user.elder_id.present? %>
                <%#= link_to 'Ver autorización', administrator_index_path(authorization: user), class: 'nk-btn nk-btn-rounded nk-btn-color-white .nk-btn-color-dark-3 ml-3' %>
              <%# else %>
                <!--Falta autorización-->
              <%# end %>
            <% end %>
          </td>
          <!--<td><a href="#" data-toggle="modal" data-target="#modalPlayer"><i class="fa fa-address-book"></i></a></td>-->
          <td class="text-center">
            <%= link_to user, data: {'toggle': 'modal', 'target': '#modalPlayer', user: user, created_at: l(user.created_at, format: "%d/%m/%Y")}, class: 'UserInformation' do %>
              <i class="fa fa-address-book"></i>
            <% end %>
          </td>
          <td class="text-center"><%= Video.where(user_id: user.id).count %></td>
          <td class="text-center">
            <%= link_to user, class: 'mx-3' do %>
              <i class="fa fa-eye"></i>
            <% end %>
            <%= link_to edit_user_path(user), class: 'mx-3' do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <% unless user.role_id == 2 %>
              <%= link_to user, class: 'mx-3', method: :delete, data: { confirm: '¿Estás seguro?' } do %>
                <i class="fa fa-trash"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <!-- START: Pagination -->
    <div class="col-lg-12 mb-50">
      <div class="nk-pagination text-center">
        <nav>
          <%= will_paginate(
                @users_pagination,
                previous_label: '<span class="ion-ios-arrow-back"></span>',
                next_label: '<span class="ion-ios-arrow-forward"></span>',
                inner_window: 1, outer_window: 1
              )
          %>
        </nav>
      </div>
    </div>
    <!-- END: Pagination -->
  </div>

</div>