<div class="col-md-9">
  <div class="row d-inline">
    <h3 class="nk-decorated-h-2">
      <span>Listado de Juegos</span>
    </h3>
    <span><%= link_to 'Nuevo', @breadcrumbs_new, class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 mb-15' %></span>
  </div>
  <div class="table-responsive">
    <table class="table">
      <table class="table table-sm text-white">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @games_pagination.each do |game| %>
            <tr>
              <td><%= game.name %></td>
              <td>
                <%= link_to edit_game_path(game), class: 'mx-3' do %>
                  <i class="fa fa-edit"></i>
                <% end %>
                <%= link_to game_path(id: game.id, games: 'list'), class: 'mx-3', method: :delete, data: {confirm: '¿Estás seguro?'} do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </table>
    <!-- START: Pagination -->
    <div class="col-lg-12 mb-50">
      <div class="nk-pagination text-center">
        <nav>
          <%= will_paginate(
                @games_pagination,
                previous_label: '<span class="ion-ios-arrow-back"></span>',
                next_label: '<span class="ion-ios-arrow-forward"></span>',
                inner_window: 1, outer_window: 1
                )
          %>
        </nav>
      </div>
    </div>
    <!-- END: Pagination -->
  </div>
</div>