<div class="col-md-9">
  <div class="row d-inline">
    <h3 class="nk-decorated-h-2">
      <span>Listado de dispositivos</span>
    </h3>
    <span><%= link_to 'Nuevo', @breadcrumbs_new, class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 mb-15' %></span>
  </div>
  <div class="table-responsive">
    <table class="table">
      <table class="table table-sm text-white">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @devices.each do |device| %>
            <tr>
              <td><%= device.name %></td>
              <td>
                <%= link_to edit_device_path(device), class: 'mx-3' do %>
                  <i class="fa fa-edit"></i>
                <% end %>
                <%= link_to device, class: 'mx-3', method: :delete, data: {confirm: '¿Estás seguro?'} do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </table>
  </div>
</div>