<div class="col-md-9">
  <div class="row d-inline">
    <h3 class="nk-decorated-h-2">
      <span>Listado de Equipos</span>
    </h3>
  </div>
  <div class="table-responsive">
    <table class="table">
      <table class="table table-sm text-white">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
           <!-- <th scope="col">Miembros</th>-->
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @groups_pagination.each do |group| %>
            <tr>
              <td><%= group.nickname %></td>
              <td><%#= User.find_by(id: group.user_id).nickname %><%= group.tipo %></td>
              <!--<td>
                <%#= "0" unless group.players.present? %>
                <%#= group.players.scan(/\d*\d/).count unless group.players.nil? %>
              </td>-->
              <td>
                <%= link_to group, class: 'mx-3' do %>
                  <i class="fa fa-eye"></i>
                <% end %>
                <%= link_to edit_user_path(group), class: 'mx-3' do %>
                  <i class="fa fa-edit"></i>
                <% end %>
                <%= link_to group, class: 'mx-3', method: :delete, data: {confirm: '¿Estás seguro?'} do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </table>
    <!-- START: Pagination -->
    <div class="col-lg-12 mb-50">
      <div class="nk-pagination text-center">
        <nav>
          <%= will_paginate(
                @groups_pagination,
                previous_label: '<span class="ion-ios-arrow-back"></span>',
                next_label: '<span class="ion-ios-arrow-forward"></span>',
                inner_window: 1, outer_window: 1
                )
          %>
        </nav>
      </div>
    </div>
    <!-- END: Pagination -->
  </div>
</div>