<div class="col-md-9">
  <!-- START: Accordion -->
  <div class="container">
    <div class="row mt-100">
      <div class="offset-sm-3 col-sm-6">
        <p>
          Por medio del siguiente formulario se envia un email global a cada jugador/equipo.
        </p>
        
        <%= form_with(url: mensaje_global_path, method: 'post', local: true) do |f| %>
          <div class="form-group">
            <label>Enviar mensaje a:</label>
            <%= f.select :destino, options_for_select([['Todos', 'todos'],['Jugadores', 'jugadores'],['Equipos', 'equipos'],['Equipos Pro','pro']]), {}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.text_area :mensaje, class: 'form-control', placeholder: 'Mensaje', rows: '6', data: { turbolinks: false } %>
          </div>
          <div class="text-center">
            <%= f.submit "Aceptar", class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 ml-15 enviar_mensaje' %>
          </div>
          <div class="enviando text-center d-none" style="margin-top: 25px; background-color: #f7c600;">
            <p style="color: #000;">Enviando mensaje global. Por favor, aguarde un momento...</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- END: Accordion -->

</div>

<script type="text/javascript" charset="utf-8">
  $(".enviar_mensaje").click(function (){
      $(".enviando").removeClass('d-none').html("<p>Enviando mensaje global. Por favor, aguarde un momento</p>");
  });
</script>