<div class="container-fluid">
  <div class="row bg-dark-5">

    <div class="col-md-3">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark panel-admin">

        <div class="collapse navbar-collapse show" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to administrator_index_path(home: 'home'), class: 'nav-link'  do %>
                Principal
                <% if @videos_for_check.present? %>
                  <span class="new_notice">
                    <%= @videos_for_check.count %>
                  </span>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to 'Mensaje global', administrator_index_path(mensaje: 'global'), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'About us', administrator_index_path(about: 'about'), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Faqs', administrator_index_path(faqs: 'faqs'), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Banners', administrator_index_path(banners: 'all'), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Partners', administrator_index_path(partners: 'all'), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to administrator_index_path(users: 'all'), class: 'nav-link' do %>
                Usuarios
                <% if @users_for_check.present? %>
                  <span class="new_notice">
                    <%= @users_for_check.count %>
                  </span>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to 'Equipos', administrator_index_path(groups: 'all'), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Juegos', administrator_index_path(games: 'all'), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Dispositivos', administrator_index_path(devices: 'all'), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Países', administrator_index_path(countries: 'all'), class: 'nav-link' %>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>-->
          </ul>

        </div>
      </nav>
    </div>

    <%= render 'home' if params[:home].present? %>
    <%= render 'list_users' if params[:users].present? || params[:disable_user].present? || params[:enable_user].present? || params[:inhabilitados].present? || params[:por_fecha].present? %>
    <%= render 'list_users', nombre: params[:nombre] if params[:nombre] %>
    <%= render 'about' if params[:about].present? %>
    <%= render 'faqs' if params[:faqs].present? %>
    <%= render 'list_groups' if params[:groups].present? %>
    <%= render 'list_games' if params[:games].present? %>
    <%= render 'list_devices' if params[:devices].present? %>
    <%= render 'list_countries' if params[:countries].present? %>
    <%= render 'list_banners' if params[:banners].present? %>
    <%= render 'list_partners' if params[:partners].present? %>
    <%= render 'mensaje_global' if params[:mensaje].present? && params[:mensaje] == 'global' %>
  </div>
</div>
