<div class="nk-gap-2"></div>

<!-- START: Breadcrumbs -->
<div class="nk-gap-1"></div>
<%= render '_partials/breadcrumbs' %>
<div class="nk-gap-1"></div>
<!-- END: Breadcrumbs -->

<!-- START: Accordion -->
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6 mt-50">
      <div class="nk-widget">
        <h4 class="nk-widget-title">
          <% if params[:talento].present? %>
            <span class="text-main-1">Quiero que seas parte de </span><%= params[:grupo] %></h4>
          <% else %>
            <span class="text-main-1">Quiero formar parte de </span><%= params[:grupo] %></h4>
          <% end %>
        <div class="nk-widget-content">
          <%= form_for @contact, class: 'nk-form nk-form-ajax' do |f| %>
            <% if flash[:error].present? %>
              <p> flash[:error]</p>
            <% end %>
            <% if current_user.option == "equipo" %>
              <%= link_to 'Contactar por whatsapp', "https://wa.me/#{params[:whatsapp]}", target: "_blank", class: 'nk-btn nk-btn-rounded nk-btn-color-white' %>
            <% end %>
            <%= f.text_field :usuario, value: params[:usuario], class: 'visibility-hidden' %>

            <div class="nk-gap"></div>
            <%= f.text_area :mensaje, rows: 5, placeholder: '*Mensaje', class: 'form-control required' %>
            <%= f.text_field :nickname, hint: 'leave this field blank', class: 'visibility-hidden' %>
            <div class="nk-gap-1"></div>
            <%= f.submit 'Enviar', class:'nk-btn nk-btn-rounded nk-btn-color-white' %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Accordion -->