<%= form_with(model: game, class: 'nk-form') do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row vertical-gap">
      <div class="offset-0 offset-lg-3 col-lg-6">
        <div class="row vertical-gap">
          <div class="col-sm-12 text-center">
            <%= form.label 'Nombre del juego' %>
            <%= form.text_field :name, class: 'form-control required' %>
          </div>
        </div>
      </div>
      <!--<div class="offset-0 offset-lg-3 col-lg-6">
        <div class="row vertical-gap">
          <div class="col-sm-12 text-center">
            <small>Imagen cuadrada (tamaño recomendado: 126x126px)</small>
            <%#= form.file_field :avatar, class: 'form-control' %>
          </div>
        </div>
        <div class="text-white">
          <i class="fa fa-times" id="avatar_size" style="color: red;"></i> El archivo no supera 1MB <br>
          <i class="fa fa-times" id="avatar_extension" style="color: red;"></i> El archivo es .jpeg, .jpg, .png
        </div>
        <img id="avatar_preview" class="img-fluid p-50">
      </div>-->
      <!--<div class="offset-0 offset-lg-3 col-lg-6">
        <div class="row vertical-gap">
          <div class="col-sm-12 text-center">
            <small>Imagen rectangular (tamaño recomendado: 360x105px)</small>
            <%#= form.file_field :avatar_big, class: 'form-control' %>
          </div>
        </div>
        <div class="text-white">
          <i class="fa fa-times" id="avatar_big_size" style="color: red;"></i> El archivo no supera 1MB <br>
          <i class="fa fa-times" id="avatar_big_extension" style="color: red;"></i> El archivo es .jpeg, .jpg, .png
        </div>
        <img id="avatar_big_preview" class="img-fluid p-50">
      </div>-->
      <div class="col-12">
        <div class="text-center">
          <div class="nk-gap-1"></div>
            <%= form.submit 'Confirmar', class: 'nk-btn nk-btn-rounded nk-btn-color-white', id: 'confirm-button' do %>
              <span class="icon"><i class="ion-paper-airplane"></i></span>
            <% end %>
        </div>
      </div>
    </div>

<% end %>

<script>
    /*$("#game_avatar").change(function(){
        var fileExtension = ['jpeg', 'jpg', 'png'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            $("#avatar_extension").removeClass('fa-check').addClass('fa-times').css('color', 'red');
        } else {
            $("#avatar_extension").removeClass('fa-times').addClass('fa-check').css('color', 'green');
            const file = this.files[0];
            console.log(file);
            if (file) {
                let reader = new FileReader();
                reader.onload = function (event) {
                    console.log(event.target.result);
                    $('#avatar_preview').attr('src', event.target.result);
                }
                reader.readAsDataURL(file);
            }
        }
        if (this.files[0].size <= 1048576){
            $("#avatar_size").removeClass('fa-times').addClass('fa-check').css('color', 'green');
        } else {
            $("#avatar_size").removeClass('fa-check').addClass('fa-times').css('color', 'red');
        }
        if (($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) != -1) && (this.files[0].size <= 1048576)) {
            $("#confirm_button").enable()
        } else {
            $("#confirm_button").disable()
        }
    });*/
    /*$("#game_avatar_big").change(function(){
        var fileExtension = ['jpeg', 'jpg', 'png'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            $("#avatar_big_extension").removeClass('fa-check').addClass('fa-times').css('color', 'red');
        } else {
            $("#avatar_big_extension").removeClass('fa-times').addClass('fa-check').css('color', 'green');
            const file = this.files[0];
            console.log(file);
            if (file) {
                let reader = new FileReader();
                reader.onload = function (event) {
                    console.log(event.target.result);
                    $('#avatar_big_preview').attr('src', event.target.result);
                }
                reader.readAsDataURL(file);
            }
        }
        if (this.files[0].size <= 1048576){
            $("#avatar_big_size").removeClass('fa-times').addClass('fa-check').css('color', 'green');
        } else {
            $("#avatar_big_size").removeClass('fa-check').addClass('fa-times').css('color', 'red');
        }
        if (($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) != -1) && (this.files[0].size <= 1048576)) {
            $("#confirm_button").enable()
        } else {
            $("#confirm_button").disable()
        }
    });*/
</script>