<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">
      <div class="row filtros">
        <div class="col-md-6">
          <%= form_with(controller: controller, method: 'get', class: 'd-flex') do |f| %>
            <%= f.text_field :nombre, class: 'form-control', placeholder: 'Buscar juego', data: { turbolinks: false } %>
            <%= button_tag type: 'submit', class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 ml-15' do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <!-- START: Teams -->
        <% @games_pagination.each do |game| %>
          <div class="col-lg-6 my-2">
            <div class="row listado">
              <div class="col-12">
                <div class="nk-content">
                  <h3 class="h5">
                    <span class="text-main-1">
                      <%= link_to game do %>
                        <%= game.name %> <i class="fa fa-search ml-5"></i>
                      <% end %>
                    </span>
                  </h3>
                  <p class="h5 mt-15">
                    <% if user_signed_in? && current_user.role.id == 2 %>
                      <%= link_to edit_game_path(game) do %>
                        <i class="fa fa-edit"></i>
                      <% end %>
                      <%= link_to game, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash ml-10"></i>
                      <% end %>
                    <% end %>
                  </p>
                </div>
                <div class="nk-opciones pb-15">
                    <%=  @users.select{|user| user.games.scan(/\d*\d/).include?(game.id.to_s)}.count %> jugadores
                  </div>
              </div>
            </div>
          </div>
        <% end %>
        <!-- END: Teams -->
      </div>
      <div class="nk-gap-2"></div>
      <!-- START: Pagination -->
      <div class="col-lg-9">
        <div class="nk-pagination nk-pagination-left">
          <nav>
            <%= will_paginate(
                  @games_pagination,
                  previous_label: '<span class="ion-ios-arrow-back"></span>',
                  next_label: '<span class="ion-ios-arrow-forward"></span>',
                  )
            %>
          </nav>
        </div>
      </div>
      <!-- END: Pagination -->

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>
<div class="nk-gap-2"></div>
