<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row filtros">
    <div class="col-md-6">
      <%= form_with(controller: controller, method: 'get', class: 'd-flex') do |f| %>
        <%= f.text_field :nombre, class: 'form-control', placeholder: 'Buscar jugador', data: { turbolinks: false } %>
        <%= button_tag type: 'submit', class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 ml-15' do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6 boton-filtro">
      <%= link_to 'Limpiar filtros', game_path(params[:id]), class:"nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 mr-5" %>
      <button class="nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3" data-toggle="modal" data-target="#modalFiltrarBusqueda">Filtrar Jugadores</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">
      <div class="row">
        <!-- START: Teams -->
        <% @users.each do |user| %>
          <div class="col-md-6 my-2">
            <div class="nk-team">
              <div class="nk-team-logo">
                <% if user.image.nil? %>
                  <%= image_tag('logo.png', class:'img-fluid') %>
                <% elsif user.image.present? %>
                  <%= image_tag(user.image, class: 'img-fluid') %>
                <% end %>
              </div>
              <div class="nk-team-cont">
                <div class="nk-content">
                  <h3 class="h5 mb-20">
                    <span class="text-main-1"><%= link_to user.nickname, user_path(user) %></span> <br><br>
                    <span class="text-white"> WinRate: <%= user.winrate %></span> <br>
                    <span class="text-white"> Partidas jugadas: <%= user.gameplayed %></span> <br>
                    <span class="text-white"> País: <%= Country.find_by(id: user.country).name unless user.country.nil? || user.country == "" %></span> <br>
                    <span class="text-white"> Rango horario: <%= user.timerange %></span>
                  </h3>
                </div>

              </div>
            </div>
          </div>
        <% end %>
        <!-- END: Teams -->
      </div>
      <div class="nk-gap-2"></div>

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>
<div class="nk-gap-2"></div>