<!-- START: Breadcrumbs -->
<div class="nk-gap-1"></div>
<div class="container">
  <ul class="nk-breadcrumbs">
    <li><%= link_to 'Home', home_path %></li>
    <li>
      <span class="fa fa-angle-right"></span>
    </li>
    <li><%= @breadcrumbs %></li>
    <li>
      <span class="fa fa-angle-right"></span>
    </li>
    <li>
      <span><%= @breadcrumbs_subtitle %></span>
      <% if @button %>
        <span><%= link_to 'Nuevo', @breadcrumbs_new, class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3' %></span>
      <% end %>
    </li>

  </ul>
</div>
<div class="nk-gap-1"></div>
<!-- END: Breadcrumbs -->