<!-- START: Footer -->
<footer class="nk-footer">

  <div class="nk-copyright">
    <div class="container">
      <div class="logo">
        <%= image_tag('logo.png', alt: 'FreeAgents', width: '144') %>
      </div>
      <div class="nk-copyright-left">
        <div class="d-block d-md-none">
          Copyright &copy; 2021 <br> Free Agents <a href="https://themeforest.net/user/_nk?ref=_nK" target="_blank"></a>,
          diseñado por <a href="https://www.omatic.com.ar" target="_blank">Omatic</a>. <br> <%= link_to 'Términos y condiciones', terms_conditions_path %>
        </div>
        <div class="d-none d-md-block">
          Copyright &copy; 2021 | Free Agents <a href="https://themeforest.net/user/_nk?ref=_nK" target="_blank"></a>,
          diseñado por <a href="https://www.omatic.com.ar" target="_blank">Omatic</a>. <%= link_to 'Términos y condiciones', terms_conditions_path %>
        </div>
      </div>
      <div class="nk-copyright-right">
        <ul class="nk-social-links-2">
          <li>
            <a class="nk-social-email" href="mailto:contacto@freeagents.gg">
              <span class="fas fa-envelope"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-twitch" href="https://www.twitch.tv/freeagentsesports">
              <span class="fab fa-twitch"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-instagram" href="https://www.instagram.com/freeagentsesports">
              <span class="fab fa-instagram"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-facebook" href="https://www.facebook.com/FreeAgentsEsports/">
              <span class="fab fa-facebook"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-youtube" href="https://www.youtube.com/channel/UC3LUYHFKerNHuogYIhe0amw">
              <span class="fab fa-youtube"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-twitter" href="https://twitter.com/freeagents11" target="_blank">
              <span class="fab fa-twitter"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- END: Footer -->