<script type="text/javascript" charset="utf-8">
    <% if user_signed_in? && current_user.firsttime == 1 %>
      $(document).on('turbolinks:load', function(){
        $("#modalFirstTime").modal('show');
      });
    <% end %>
</script>
<header class="nk-header nk-header-opaque">
  <!-- START: Top Contacts -->
  <div class="nk-contacts-top">
    <div class="container">
      <div class="nk-contacts-left">
        <ul class="nk-social-links">
          <li>
            <a class="nk-social-email" href="mailto:contacto@freeagents.gg">
              <span class="fas fa-envelope"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-twitch" href="https://www.twitch.tv/freeagentsesports">
              <span class="fab fa-twitch"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-instagram" href="https://www.instagram.com/freeagentsesports">
              <span class="fab fa-instagram"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-facebook" href="https://www.facebook.com/FreeAgentsEsports/">
              <span class="fab fa-facebook"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-youtube" href="https://www.youtube.com/channel/UC3LUYHFKerNHuogYIhe0amw">
              <span class="fab fa-youtube"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-twitter" href="https://twitter.com/freeagents11" target="_blank">
              <span class="fab fa-twitter"></span>
            </a>
          </li>

          <li class="ml-4">
            "If you know what you are worth go and get what you deserve"
          </li>
        </ul>
      </div>
      <div class="nk-contacts-right">
        <ul class="nk-contacts-icons">

          <% if user_signed_in? && current_user.role.id == 2 %>
            <li>
              <%= link_to 'Panel admin', administrator_index_path(home: 'home'), class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor text-white' %>
            </li>
          <% end %>

          <!--<li>
            <a href="#" data-toggle="modal" data-target="#modalSearch">
              <span class="fa fa-search"></span>
            </a>
          </li>-->
          <%
            group_invitation = GroupInvitation.where(user_id: current_user.id) if user_signed_in?
          %>
          <% if group_invitation.present? %>
            <%= link_to group_invitations_path do %>
              <span class="new_notice">
                <%= group_invitation.count %>
              </span>
            <% end %>
          <% end %>

          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user.id), data: {toggle:"tooltip", placement:"bottom"},  title:"Mi perfil" do %>
                <span class="fa fa-user"></span>
              <% end %>
            </li>
            <li>
              <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <a href="#" data-toggle="modal" data-target="#modalLogin" data-toggle="tooltip" data-placement="bottom" title="Iniciar sesión">
                <span class="fa fa-user"></span>
              </a>
            </li>
          <% end %>


        </ul>
      </div>
    </div>
  </div>
  <!-- END: Top Contacts -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-turbolinks="false">
    <div class="container" data-turbolinks="false">
      <%= link_to home_path, class: 'nk-nav-logo menuopt', data: { turbolinks: false } do %>
        <%= image_tag('logo.png', alt: 'FreeAgents', width: '240') %>
      <% end %>
      <button data-turbolinks="false" class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" data-turbolinks="false">
        <ul class="navbar-nav mr-auto" data-turbolinks="false">

          <li class="nav-item dropdown <%= @free_agents_active %>" data-turbolinks="false">
            <a data-turbolinks="false" class="nav-link dropdown-toggle" href="#" id="freeagents" role="button" data-toggle="dropdown" aria-expanded="false">Free Agents</a>
            <div class="dropdown-menu" aria-labelledby="freeagents" data-turbolinks="false">

              <%= link_to 'about us', abouts_path, class: 'dropdown-item', data: { turbolinks: false } %>
              <%= link_to 'Partners', new_sponsor_path, class: 'dropdown-item', data: { turbolinks: false } %>
              <%= link_to 'faqs', faqs_path, class: 'dropdown-item', data: { turbolinks: false } %>

            </div>
          </li>
          <li class="nav-item dropdown <%= @equipos_active %>" data-turbolinks="false">
            <a data-turbolinks="false" class="nav-link dropdown-toggle" href="#" id="equipos" role="button" data-toggle="dropdown" aria-expanded="false">Equipos</a>
            <div class="dropdown-menu" aria-labelledby="equipos" data-turbolinks="false">
              <%= link_to 'Teams ', users_path(equipos: 'equipos', tipo: 'amateur'), class: 'dropdown-item', data: { turbolinks: false } %>
              <%= link_to 'Teams Pro', users_path(equipos: 'equipos', tipo: 'pro'), class: 'dropdown-item', data: { turbolinks: false } %>
            </div>
          </li>
          <li class="nav-item <%= @games_active %> games" data-turbolinks="false">
            <%= link_to 'Games', games_path, class: 'nav-link', data: { turbolinks: false } %>
            <!--<ul class="dropdown">

              <%# find_games.each do |game| %>
                <li><%#= link_to game.name, game %></li>
              <%# end %>

            </ul>-->
          </li>
          <li class="nav-item dropdown <%= @find_active %> pool" data-turbolinks="false">
            <a data-turbolinks="false" class="nav-link dropdown-toggle" href="#" id="busquedas" role="button" data-toggle="dropdown" aria-expanded="false">Búsquedas</a>
            <div class="dropdown-menu" aria-labelledby="busquedas" data-turbolinks="false">
              <%= link_to '¿Buscas equipos?', find_users_path, class: 'dropdown-item', data: { turbolinks: false } %>
              <%= link_to '¿Buscas jugadores?', find_teams_path, class: 'dropdown-item', data: { turbolinks: false } %>
            </div>
          </li>
          <li class="nav-item <%= @ggwp_active %>" data-turbolinks="false"><%= link_to "GGWP", ggwp_path, class: 'nav-link', data: { turbolinks: false } %></li>
        </ul>

      </div>
    </div>
  </nav>
</header>