<script type="text/javascript" charset="utf-8">
    <% if user_signed_in? && current_user.firsttime == 1 %>
      $(document).on('turbolinks:load', function(){
        $("#modalFirstTime").modal('show');
      });
    <% end %>
</script>
<header class="nk-header nk-header-opaque">
  <!-- START: Top Contacts -->
  <div class="nk-contacts-top">
    <div class="container">
      <div class="nk-contacts-left">
        <ul class="nk-social-links">
          <li>
            <a class="nk-social-email" href="mailto:contacto@freeagents.gg">
              <span class="fas fa-envelope"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-twitch" href="#">
              <span class="fab fa-twitch"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-instagram" href="#">
              <span class="fab fa-instagram"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-facebook" href="#">
              <span class="fab fa-facebook"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-youtube" href="#">
              <span class="fab fa-youtube"></span>
            </a>
          </li>
          <li>
            <a class="nk-social-twitter" href="#" target="_blank">
              <span class="fab fa-twitter"></span>
            </a>
          </li>

          <li class="ml-4">
            "If you know what you are worth go and get what you deserve"
          </li>
        </ul>
      </div>
      <div class="nk-contacts-right">
        <ul class="nk-contacts-icons">

          <% if user_signed_in? && current_user.role.id == 2 %>
            <li>
              <%= link_to 'Panel admin', administrator_index_path(home: 'home'), class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor text-white' %>
            </li>
          <% end %>

          <!--<li>
            <a href="#" data-toggle="modal" data-target="#modalSearch">
              <span class="fa fa-search"></span>
            </a>
          </li>-->
          <%
            group_invitation = GroupInvitation.where(user_id: current_user.id) if user_signed_in?
          %>
          <% if group_invitation.present? %>
            <%= link_to group_invitations_path do %>
              <span class="new_notice">
                <%= group_invitation.count %>
              </span>
            <% end %>
          <% end %>

          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user.id) do %>
                <span class="fa fa-user"></span>
              <% end %>
            </li>
            <li>
              <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <a href="#" data-toggle="modal" data-target="#modalLogin">
                <span class="fa fa-user"></span>
              </a>
            </li>
          <% end %>


        </ul>
      </div>
    </div>
  </div>
  <!-- END: Top Contacts -->

  <nav class="nk-navbar nk-navbar-top ">
    <div class="container">
      <div class="nk-nav-table">

        <%= link_to home_url, class: 'nk-nav-logo menuopt', data: { turbolinks: false } do %>
          <%= image_tag('logo.png', alt: 'FreeAgents', width: '199') %>
        <% end %>

        <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">

          <li class="nk-drop-item <%= @free_agents_active %>">
            <a>Free Agents</a>
            <ul class="dropdown">

              <li><%= link_to 'about us', abouts_url, class: 'menuopt', data: { turbolinks: false } %></li>
              <li><%= link_to 'Partners', new_sponsor_url, class: 'menuopt', data: { turbolinks: false } %></li>
              <li><%= link_to 'faqs', faqs_url, class: 'menuopt', data: { turbolinks: false } %></li>

            </ul>
          </li>
          <li class=" <%= @equipos_active %>">
            <%= link_to 'Equipos', groups_url, class: 'menuopt', data: { turbolinks: false } %>
          </li>
          <li class="<%= @games_active %> games">
            <%= link_to 'Games', games_url, class: 'menuopt', data: { turbolinks: false } %>
            <!--<ul class="dropdown">

              <%# find_games.each do |game| %>
                <li><%#= link_to game.name, game %></li>
              <%# end %>

            </ul>-->
          </li>
          <li class="nk-drop-item <%= @find_active %> pool">
            <a>Búsquedas</a>
            <ul class="dropdown">
              <li><%= link_to 'Busco Jugador', find_users_url, class: 'menuopt', data: { turbolinks: false } %></li>
              <li><%= link_to 'Busco Equipo', find_teams_url, class: 'menuopt', data: { turbolinks: false } %></li>
            </ul>
          </li>
          <li class="<%= @ggwp_active %>"><%= link_to "GGWP", ggwp_url, class: 'menuopt', data: { turbolinks: false } %></li>

        </ul>
        <ul class="nk-nav nk-nav-right nk-nav-icons">

          <li class="single-icon hidden-lg-up">
            <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
                <span class="nk-icon-burger">
                  <span class="nk-t-1"></span>
                  <span class="nk-t-2"></span>
                  <span class="nk-t-3"></span>
                </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END: Navbar -->
</header>

<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content hidden-lg-up">
  <div class="nano">
    <div class="nano-content">
      <%= link_to image_tag('logo.png', width: '120'), home_url, class: 'nk-nav-logo menuopt', data: { turbolinks: false } %>
      <div class="nk-navbar-mobile-content">
        <ul class="nk-nav">
          <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- END: Navbar Mobile -->