<!-- START: Search Modal -->
<div class="nk-modal modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="ion-android-close"></span>
        </button>

        <h4 class="mb-0">Buscar</h4>

        <div class="nk-gap-1"></div>
        <form action="#" class="nk-form nk-form-style-1">
          <input type="text" value="" name="search" class="form-control" placeholder="Type something and press Enter">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END: Search Modal -->

<% if !user_signed_in?%>
  <!-- START: Login Modal -->
  <div class="nk-modal modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="ion-android-close"></span>
          </button>

          <h4 class="mb-0">
            <span class="text-main-1"></span> Iniciar sesión</h4>

          <div class="nk-gap-1"></div>
          <div class="row vertical-gap">

            <div class="col-md-12">
              <%= render 'devise/sessions/_partials/new' %>
            </div>

            <!--<div class="col-md-6">
              O tu cuenta de:

              <div class="nk-gap"></div>

              <ul class="nk-social-links-2">
                <li>
                  <a class="nk-social-facebook" href="#">
                    <span class="fab fa-facebook"></span>
                  </a>
                </li>
                <li>
                  <a class="nk-social-google" href="#">
                    <span class="fab fa-google"></span>
                  </a>
                </li>
              </ul>
            </div>-->
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- END: Login Modal -->
<% end %>
<!--first time login-->
<% if user_signed_in? %>
  <div class="nk-modal modal fade" id="modalFirstTime" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="ion-android-close"></span>
          </button>

          <h4 class="mb-0">Bienvenido a FreeAgents</h4>
          <p>Te sugerimos completar los datos de tu perfil</p>
          <%= button_to "Ir a mi perfil", firsttimeuser_path(current_user.id), method: 'put', class: 'nk-btn nk-btn-rounded nk-btn-color-white nk-anchor text-white' %>

          <div class="nk-gap-1"></div>

        </div>
      </div>
    </div>
  </div>

  <%
    if (controller_name == "games" && action_name == "show") ||
      (controller_name == "find_teams" && action_name == "index") ||
      (controller_name == "find_users" && action_name == "index") ||
      (controller_name == 'users' && params[:equipos].present?)
  %>

    <%
      if controller_name == 'find_teams'
        controller = @find_teams
      elsif controller_name == 'find_users'
        controller = @find_users
      elsif controller_name == 'users'
        controller = @users
      elsif controller_name == 'games'
        controller = @games
      end
      filter_options = [['Winrate', 'winrate'], ['Juego', 'juego'], ['Partidas Jugadas', 'partidasjugadas'], ['País', 'pais'], ['Rango Horario', 'rangohorario'], ['Rol', 'rol'], ['Posición', 'posicion']]
    %>
    <div class="nk-modal modal fade" id="modalFiltrarBusqueda" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="ion-android-close"></span>
            </button>
            <h4>Filtros de Búsqueda</h4>
            <%= form_with(controller: controller, method: 'get') do |f| %>
              <%= f.hidden_field :filter, value: 'true' %>
              <% if controller_name == 'find_teams' || controller_name == 'find_users' %>
                <%= f.text_field :winrate, class: 'form-control mt-15', placeholder: 'Winrate', data: { turbolinks: false } %>
                <%= f.text_field :partidas_jugadas, class: 'form-control mt-15', placeholder: 'Partidas jugadas', data: { turbolinks: false } %>
                <%= f.text_field :rango_horario, class: 'form-control mt-15', placeholder: 'Rango horario', data: { turbolinks: false } %>
                <%= f.select :pais, options_for_select(@country_options), { include_blank: 'País' }, class: 'form-control mt-15', data: { turbolinks: false } %>
                <%= f.select :juego, options_for_select(@game_options), { include_blank: 'Juego' }, class: 'form-control mt-15', data: { turbolinks: false } %>
                <%= f.text_field :rol, class: 'form-control mt-15', placeholder: 'Rol', data: { turbolinks: false } %>
                <%= f.text_field :posicion, class: 'form-control mt-15', placeholder: "Posición", data: { turbolinks: false } %>
                <%= f.select :tipo, options_for_select(@tipo_equipo), {include_blank: 'Tipo'}, class: 'form-control mt-15', data: { turbolinks: false } if controller_name == 'find_users' %>
              <% end %>

              <% if controller_name == 'games' %>
                <%= f.text_field :winrate, class: 'form-control mt-15', placeholder: 'Winrate', data: { turbolinks: false } %>
                <%= f.select :country, options_for_select(@country_options), { include_blank: 'País' }, class: 'form-control mt-15', data: { turbolinks: false } %>
                <%= f.select :gameplayed, options_for_select(@game_options), { include_blank: 'Juego' }, class: 'form-control mt-15', data: { turbolinks: false } %>
                <%= f.text_field :timerange, class: 'form-control mt-15', placeholder: 'Rango horario', data: { turbolinks: false } %>
                <%= f.text_field :gamerole, class: 'form-control mt-15', placeholder: 'Rol', data: { turbolinks: false } %>
              <% end %>

              <% if controller_name == 'users' %>
                <%= f.select :country, options_for_select(@country_options), { include_blank: 'País' }, class: 'form-control mt-15', data: { turbolinks: false } %>
                <%= f.select :gameplayed, options_for_select(@game_options), { include_blank: 'Juego' }, class: 'form-control mt-15', data: { turbolinks: false } %>
                <%= f.text_field :liga, class: 'form-control mt-15', placeholder: 'Liga', data: { turbolinks: false } %>
                <%= f.hidden_field :equipos, value: 'equipos' %>
                <%= f.hidden_field :tipo, value: params[:tipo] %>
              <% end %>

              <% if params[:nombre].present? %>
                <%= f.hidden_field :nombre, value: params[:nombre], class: 'd-none' %>
              <% end %>
              <div class="text-center mt-25">
                <%= f.submit "Aceptar", class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

  <% if controller_name == "groups" && action_name == "index" %>
    <div class="nk-modal modal fade" id="modalFiltrarBusqueda" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="ion-android-close"></span>
            </button>

            <h4>Filtros de Búsqueda</h4>
            <%= form_with(controller: @groups, method: 'get') do |f| %>
              <%= f.hidden_field :filter, value: 'true' %>
              <%= f.select :country, options_for_select(@country_options), { include_blank: 'País' }, class: 'form-control mt-15', data: { turbolinks: false } %>
              <%= f.select :games, options_for_select(@game_options), { include_blank: 'Juego' }, class: 'form-control mt-15', data: { turbolinks: false } %>
              <%= f.select :league, options_for_select(@league_options), { include_blank: 'Liga' }, class: 'form-control mt-15', data: { turbolinks: false } %>

              <div class="text-center mt-25">
                <%= f.submit "Aceptar", class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user.role.id == 2 %>
    <% if controller_name == 'administrator' && ( params[:users].present? || params[:nombre].present? || params[:inhabilitados].present? || params[:por_fecha].present? ) %>
      <div class="nk-modal modal fade" id="modalPlayer" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="ion-android-close"></span>
              </button>
              <div id="PlayerContent"></div>

            </div>
          </div>
        </div>
      </div>
    <% end %>
    <script type="text/javascript" charset="utf-8">
        $(".UserInformation").on('click', function (){
            let user = $(this).data('user');
            let user_created_at = $(this).data('created-at')
            $("#PlayerContent").html(
                '<h4 class="mb-0">Ficha de '+ user.nickname +' </h4>' +
                '<div class="nk-gap-1"></div>' +
                '<p class="mb-0">Fecha de creación: '+ user_created_at +'</p>' +
                '<p class="mb-0">Email: '+ user.email +'</p>' +
                '<p class="mb-0">Whatsapp: '+ user.whatsapp +'</p>'
            );
        });
    </script>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        if ($("#filterOptions").val() == 'pais') {
            $("#countryOptions").toggleClass('d-none');
        }
    });
    $("#filterOptions").change(function () {
        if ($(this).val() == 'pais') {
            $("#countryOptions").toggleClass('d-none');
        } else {
            if (!$(this).hasClass('d-none')) {
                $("#countryOptions").addClass('d-none')
            }
        }
    });
</script>