<div class="container mt-50">
  <div class="row vertical-gap">
    <div class="offset-0 offset-lg-4 col-lg-3">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'nk-form text-white') do |f| %>
        <div class="text-center">
          <div class="nk-gap"></div>
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

          <div class="nk-gap"></div>
          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "current-password" %>

          <% if devise_mapping.rememberable? %>
            <div class="field" style="padding: 15px;">
              <%= f.check_box :remember_me %>
              <%= f.label "Recordarme" %>
            </div>
          <% end %>

          <div class="col-md-12">
            <%= f.submit "Aceptar", class: "nk-btn nk-btn-rounded nk-btn-color-white mt-5" %>
          </div>
        </div>
      <% end %>

      <div class="nk-gap-1"></div>

      <div class="mt-5 text-center">
        <!--<small><a href="#">Olvidaste tu clave?</a></small>
    </div>
    <div>
      <small><%#= link_to 'No eres miembro aún? Creá tu perfil y mostrá tu talento a los equipos', new_user_registration_path %></small>-->
        <%= render "devise/shared/links" %>
      </div>

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>