<%= form_with(model: about, class: 'nk-form') do |form| %>
  <% if about.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(about.errors.count, "error") %> prohibited this about from being saved:</h2>

      <ul>
        <% about.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row vertical-gap">
    <div class="offset-lg-3 col-lg-6">
      <div class="row vertical-gap">
        <div class="col-sm-12 text-center">
          <%= form.label 'TEXTO' %>
          <%= form.text_area :content, class: 'form-control required', rows: '12' %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="text-center">
        <div class="nk-gap-1"></div>
        <%= form.submit 'Confirmar', class: 'nk-btn nk-btn-rounded nk-btn-color-white' do %>
          <span class="icon"><i class="ion-paper-airplane"></i></span>
        <% end %>
      </div>
    </div>
  </div>


<% end %>
