<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <%= render 'form', about: @about %>

      <div class="text-center">
        <%= link_to 'Volver', abouts_path %>
      </div>

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>