<%= render '_partials/breadcrumbs' %>

<!-- START: Accordion -->
<div class="container">
  <% @abouts.each do |about| %>
    <p>
      <%= about.content %>
      <% if user_signed_in? && current_user.role.id == 2 %>
        <%= link_to edit_about_path(about) do %>
          <i class="fa fa-edit ml-10"></i>
        <% end %>
        <%= link_to about, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash ml-10"></i>
        <% end %>
      <% end %>
    </p>
  <% end %>
  <p>
    Bienvenidos a FREE AGENTS ESPORTS!!
  </p>
</div>
<!-- END: Accordion -->

<div class="nk-gap-4"></div>
