.nano .nano-content.nano2 {
  position: unset;
}

.show-991 {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.nk-main {
  min-height: 800px;
  //overflow: unset;
}

.nk-footer {
  background: #9147ff;

  .text-main-1 {
    color: #fff !important;
  }

  .nk-copyright-left a {
    color: #fff;
  }

  .logo {
    float: left;
    margin-right: 25px;
  }
}

.nk-btn-color-white,
.nk-btn-color-main-1 {
  background-color: #313d46;
  color: #fff;

  &:visited {
    color: #fff;
  }
}

.nk-btn-hover-color-main-1:hover,
.nk-btn-hover-color-main-1.hover,
.nk-btn-color-main-1:hover,
.nk-btn-color-main-1.hover {
  background-color: #55c7a6 !important;
  border-color: #55c7a6 !important;
}

.nk-btn-color-pink {
  background-color: #d72dac;
  color: #fff;
}

.toast {
  position: fixed;
  top: 232px;
  right: 0;
  background-color: #d72dac;
  color: #fff;
  z-index: 9999;
  padding: 15px;
  width: 275px;
}

.text-main-1 {
  color: #9147ff !important;
}

.ggwp-index {
  text-align: center;

  h4 {
    margin-top: 15px;
  }
}

.nk-drop-item {
  &.games .dropdown {
    //height: 300px;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: #9147ff;
    border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #B3AFB3;
  }

  ::-webkit-scrollbar-track {
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
  }
}

.nk-feature {

  &-1,
  &-2,
  &-3 {
    background-color: #d1d0d8;

    .nk-feature-cont {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80px;
    }

    .nk-feature-icon {
      border-right: unset;

      img {
        max-width: 80%;
      }
    }
  }

  &-title {
    color: #000;
  }
}

.ico {
  width: 20px;
}

.nk-decorated-h-2:after,
.nk-decorated-h-2:before {
  border-bottom-color: #fff;
}

.nk-widget-highlighted {
  background-color: #232323;

  .nk-widget-title {
    background-color: #232323;

    & > span {
      background-color: #232323;
    }
  }

  .nk-widget-content {
    background-color: #232323;
    border: none
  }

  .nk-widget-post + .nk-widget-post,
  .nk-widget-post-2 + .nk-widget-post {
    border: none;
  }

  .nk-widget-post .nk-post-image {
    float: unset;
  }

  .nk-widget-post {
    display: flex;
    align-items: center;
  }

  .nk-post-title {
    margin-left: 15px;
  }
}

.nk-news-box-item--more {
  color: #9147ff !important;
}

body {
  background: url("../../assets/images/bg-top.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.nk-product-title {

  a:hover,
  a.hover,
  a:active,
  a:focus {
    color: #9147ff;
  }
}

.nk-image-slider {
  border-bottom: 3px solid #9147ff;

  .nk-image-slider-thumbs ul li .nk-image-slider-thumbs-overlay {
    background-color: #9147ff;
  }
}

.nk-contacts-icons {

  & > li > a:hover,
  & > li.hover,
  & > li > a:focus,
  & > li > a:active {
    color: #55c7a6;
  }
}

.nk-navbar .nk-nav {

  & li > a:hover,
  & li > a.hover {
    color: #9147ff;
  }

  .dropdown {
    border-bottom: 4px solid #9147ff;
  }
}

.nk-post-title {

  & > a:hover,
  & > a.hover {
    color: #9147ff;
  }
}

.nk-btn-color-white:hover,
.nk-btn-color-white.hover {
  background-color: #d72dac;
  border-color: #d72dac;
  color: #fff;
}

a {
  color: #d72dac;

  &:focus,
  &:hover {
    color: #d72dac;
  }
}

.nk-accordion .panel-heading {

  a:not(.collapsed),
  a:not(.collapsed):focus,
  a:not(.collapsed):hover {
    background-color: #9147ff;
  }
}

.nk-breadcrumbs > li:last-of-type:after {
  border-bottom: 4px solid #9147ff;
}

.nk-navbar .nk-nav li.active > a {
  color: #9147ff;
}

/* INTERNAS */

.nk-breadcrumbs > li a:hover, .nk-breadcrumbs > li a.hover {
  color: #9147ff;
}

.faqs, .registro {
  &.nk-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 80px;
  }
}

.nk-gallery-item-box iframe {
  display: flex;
  width: 100%;
}

.nk-gallery-item-box, .nk-gallery-item-group {
  .nk-gallery-item-overlay {
    background-color: rgba(145, 71, 255, 0.75);
  }
}

.nk-forum > li .nk-forum-title > h2 > a:hover, .nk-forum > li .nk-forum-title > h2 > a.hover, .nk-forum > li .nk-forum-title > h3 > a:hover, .nk-forum > li .nk-forum-title > h3 > a.hover, .nk-forum > li .nk-forum-title > h4 > a:hover, .nk-forum > li .nk-forum-title > h4 > a.hover {
  color: #9147ff;
}

.nk-team-cont {
  .nk-content {
    display: flex;
  }
}

.nk-pagination nav {
  a {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }

  .current {
    min-width: 42px;
    height: 42px;
    line-height: 28px;
    border-radius: 21px;
    padding: 3px;
    color: #d72dac;
    border: 4px solid;
    font-style: normal;
  }
}

.nk-pagination {
  .previous_page {
    padding-right: 14px;
  }

  .next_page {
    padding-left: 14px;
  }
}

.nk-pagination a:hover, .nk-forum-topic > li .nk-forum-topic-author-name > a:hover, .nk-forum-topic > li .nk-forum-topic-author-name > a.hover {
  color: #d72dac;
}

.block {
  display: block;
}

.nk-teammate-card {
  display: flex;

  .player-info {
    margin-top: 2rem;
  }

  p {
    color: #fff;
    margin-bottom: 0;
  }

  .player-social {
    color: #fff;
    display: flex;
  }

  .player-likes {
    position: absolute;
    bottom: -18px;
    left: 20px;
    color: #fff;
    padding: 0 15px;
    background-color: transparent;

    img {
      width: 50px
    }
  }

  .nk-social-links {
    margin-left: 2rem;
  }

  .nk-social-whatsapp {
    &:hover {
      background-color: green;
    }
  }
}

.ggwp-vote {
  h4 {
    line-height: 1.7;
    text-align: center;
  }

  .boton-votacion {
    margin-top: 15px;
  }

  strong {
    font-weight: 900;
    font-size: 24px;
  }
}

.fas {
  &.fa-edit {
    color: #9147ff;
  }
}

.boton-edicion {
  position: absolute;
  right: 15px;
  top: 15px;

  &.avatar {
    top: unset;
    bottom: -18px;
  }
}

.nk-team {
  height: 100%;

  .photo-logo {
    padding-left: 15px;
  }
  .nk-team-cont {
    padding: 40px 10px;
  }
}

.bg-dark-6 {
  background-color: #090b0d;
}

.new_notice {
  background-color: #d72dac;
  color: #fff;
  border-radius: 25px;
  padding: 1px 10px;
  margin-left: 15px;
}

.nk-team .boton_contacto {
  position: relative;
  right: 10px;
  bottom: 10px;
}

.table {
  a:visited {
    color: #d72dac;
  }

  form {
    display: inline-block;
  }
}

.user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtros {
  .boton-filtro {
    text-align: right;
  }
}

.form-control:disabled, .form-control[readonly] {
  background-color: transparent;
}


@media (max-width: 991px) {
  .faqs, .registro {
    &.nk-footer {
      position: unset;
    }
  }
  .nk-team-cont .nk-content {
    display: block;
  }

  .nk-teammate-card .player-info {
    padding: 25px 50px;
  }
}

@media (max-width: 767px) {
  .nk-decorated-h, .nk-decorated-h-2 {
    text-align: center;
  }
  .nk-copyright {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .logo {
        margin-right: 0;
        margin-top: 25px;
      }

      .nk-social-links-2 {
        li {
          margin: 0 10px;
        }
      }
    }
  }
  .filtros {
    display: flex;
    justify-content: center;

    .boton-filtro {
      text-align: center;
      margin-top: 15px;
    }
  }
  .nk-team .boton_contacto {
    right: unset;
    left: 8px;
  }
}

@media (max-width: 420px) {
  .nk-navbar.nk-navbar-top .nk-nav-logo {
    display: block;

    img {
      width: 90px;
    }
  }
  .nk-btn {
    line-height: unset;
  }
}

@media (max-width: 417px) {
  #home .nk-product-cat .nk-product-cont {
    .nk-product-rating {
      flex: 0 0 100%;
    }

    .nk-btn {
      margin-left: 0;
    }
  }
}

@media (max-width: 375px) {
  .nk-contacts-top {
    .nk-contacts-left {
      display: none;
    }

    .nk-contacts-icons {
      li {
        margin: 15px;
      }
    }
  }
}

.background-team {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: right !important;

  @media (max-width: 991px) {
    background-position: unset !important;
  }
}

.padding-teammate {
  padding: 40px 0;
}

#users {
  .nk-team {
    margin: 5px 0;
  }
  .nk-team-logo {
    background-color: #923bff;
  }

  .list-pro-teams {
    background-color: rgba(0, 0, 0, .3);
    padding: 80px 15px 50px;
    margin-top: 50px;

    .pro-icon {
      width: 40px;
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }

  .pro-team-logo {
    width: auto;
    height: 70px;
    position: absolute;
    top: 50px;
  }

  .lista-sub-equipos li:last-of-type:after {
    margin-left: 20px;
  }
}

#find_teams {
  .filtros {
    margin-bottom: 15px;
  }

  .nk-team {
    .options-icons {
      display: flex;
      position: absolute;
      right: 24px;
      top: 8px;
    }
  }

  @media (max-width: 767px) {
    .photo-logo {
      width: 150px;
      padding-top: 50px;
      padding-left: 0;
    }
    .nk-team-cont {
      display: flex;
      flex-direction: column;
      width: 100%;

      p {
        text-align: center;
      }

      .nk-content {
        text-align: center;
        h3 {
          text-align: center;
        }
      }
    }
    .nk-team .boton_contacto {
      position: relative;
      text-align: center;
      margin-top: 25px;
      left: unset;
    }
  }

  @media (max-width: 575px) {
    .nk-team {
      display: flex;
      flex-direction: column;

      .boton_contacto {
        position: relative;
      }
    }
    .nk-team-logo {
      text-align: center;

      img {
        padding: 15px;
      }
    }
  }
}

#find_users {
  .filtros {
    margin-bottom: 15px;
  }

  .nk-team {
    .options-icons {
      display: flex;
      position: absolute;
      right: 24px;
      top: 8px;
    }
  }

  @media (max-width: 767px) {
    .photo-logo {
      width: 150px;
      padding-top: 50px;
      padding-left: 0;
    }
    .nk-team-cont {
      display: flex;
      flex-direction: column;
      width: 100%;

      p {
        text-align: center;
      }

      .nk-content {
        text-align: center;
        h3 {
          text-align: center;
        }
      }
    }
    .nk-team .boton_contacto {
      position: relative;
      text-align: center;
      margin-top: 25px;
      left: unset;
    }
  }

  @media (max-width: 575px) {
    .nk-team {
      display: flex;
      flex-direction: column;

      .boton_contacto {
        position: relative;
      }
    }
    .nk-team-logo {
      text-align: center;

      img {
        padding: 15px;
      }
    }
  }
}

#games {
  .filtros {
    margin-bottom: 15px;
  }

  .nk-team {
    display: flex;

    .nk-team-logo {

      img {
        max-width: 126px;
        max-height: 126px;
      }
    }

    .nk-team-cont {
      width: 80%;
    }

    .options-icons {
      display: flex;
      position: absolute;
      right: 24px;
    }
  }

  @media (max-width: 575px) {
    .nk-content {
      margin-top: 15px;
    }
  }
}

#groups {
  .nk-team {
    display: flex;

    .nk-team-logo {
      img {
        /*max-width: 126px;
        max-height: 126px;*/
      }
    }

    .nk-team-cont {
      width: 80%;
    }
  }
}

#home {
  .nk-product-cat {
    .nk-product-image ~ {
      .nk-product-cont {
        padding-left: 34px;
      }
    }

    .nk-product-cont {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      //padding-left: 55px;

      .nk-product-rating small {
        margin-left: 15px;
      }

      .nk-product-title {
        flex: 0 0 100%;
      }

      .nk-btn, .nk-product-rating {
        margin-top: 25px;
      }

      .nk-btn {
        width: 150px;
        margin: 25px auto;
      }
    }
  }


  .boton-donar {
    background: transparent;
    border: unset;
    cursor: pointer;
    h3 {
      color: #923bff;
    }
    &:hover h3 {
      color: #d72dac;
    }
  }

  .delete-video-button {
    position: absolute;
    padding: 15px;
    bottom: 0;
    right: 0;
  }

  @media (max-width: 991px) {
    .nk-image-slider .nk-image-slider-content {
      display: none;
    }
  }

  @media (max-width: 575px) {
    .nk-product-cat .nk-product-cont {
      align-items: center;
    }
  }
}

#sponsors {
  .nk-gap-2 {
    height: 0 !important;
  }

  .partners {
    img {
      padding: 25px;
    }
  }

  @media (max-width: 1199px) {
    img {
      width: 100%;
    }
  }
}

/* ---- navbar ---- */
.navbar {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
}

.nav-item {
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: 700;

  .nav-link {
    font-size: 16px;
    color: #fff;
  }
}

.navbar-collapse.collapse {
  display: inline-flex !important;
  float: right;
  padding: 30px 0;
}

.navbar-toggler {
  display: none;
}

.dropdown-menu {
  background-color: #9147ff;
  margin: 0;
  padding: 0;
  display: block;
  max-height: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  overflow: hidden;

  a {
    color: #fff;
    font-weight: 700;
    border-top: 1px solid #fff;
  }
}

.show > .dropdown-menu {
  max-height: 106px;
  visibility: visible;
}

@media (max-width: 1199px) {
  .navbar-collapse.collapse {
    padding: 28px 0;
  }
}

@media (max-width: 991px) {
  .hide-991 {
    display: none;
  }
  .show-991 {
    display: flex;
  }
  .navbar-collapse.collapse {
    display: none !important;
    margin-left: unset;
    padding: unset;
    float: unset;

    &.show {
      display: block !important
    }
  }

  .navbar-toggler {
    display: unset;
    position: absolute;
    top: 50px;
    right: 0;
  }
  .navbar-nav {
    text-align: right;
    flex-direction: column;
    align-items: unset;

    .nav-item {
      border-top: 1px solid #9147ff;
      padding: unset;

      .nav-link {
        font-size: 16px;
      }
    }
  }

  .dropdown-item.active, .dropdown-item:active {
    background-color: #000;
  }

  .dropdown-menu {
    right: 0;
    text-align: right;
    border: unset;
  }

  .nk-btn {
    font-size: 0.85rem;
  }
}

@media (max-width: 575px) {
  .navbar .container {
    margin: unset;
  }

  h3, .h3 {
    font-size: 20px;
  }

  .nk-breadcrumbs > li:last-of-type {
    font-size: 20px;
  }
}


/* listados */
.nk-pagination.nk-pagination-left {
  margin-top: 25px;
}

.listado {
  margin: 5px 0;
  background-color: #313d46;
  .bg-avatar{
    background-color: #9147ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 126px;
  }
  .nk-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    a {
      text-decoration: none;
    }
    .h5 {
      margin-bottom: 0;
    }
  }
  .nk-opciones {
    text-align: center;
  }
}