<%= form_with(model: find_team) do |form| %>
  <% if find_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(find_team.errors.count, "error") %> prohibited this find_team from being saved:</h2>

      <ul>
        <% find_team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row vertical-gap">
    <div class="offset-lg-3 col-lg-6">
      <div class="row vertical-gap">
        <div class="col-md-6 text-center">
          <%= form.label 'Juego' %>
          <%= form.select :juego, options_for_select(@games, @find_team.juego),{blank: false}, class: 'form-control required' %>
        </div>
        <div class="col-md-6 text-center">
          <%= form.label 'Posición' %>
          <%= form.text_field :posicion, class: 'form-control required' %>
        </div>
        <div class="col-md-6 text-center">
          <%= form.label 'Partidas jugadas' %>
          <%= form.text_field :partidas_jugadas, class: 'form-control required' %>
        </div>
        <div class="col-md-6 text-center">
          <%= form.label 'Rol' %>
          <%= form.text_field :rol, class: 'form-control required' %>
        </div>
        <div class="col-md-6 text-center">
          <%= form.label 'Winrate' %>
          <%= form.text_field :winrate, class: 'form-control required' %>
        </div>
        <div class="col-md-6 text-center">
          <%= form.label 'Rango horario' %>
          <%= form.text_field :rango_horario, class: 'form-control required' %>
        </div>
        <div class="col-md-6 text-center">
          <%= form.label 'País' %>
          <%= form.select :pais, options_for_select(@countries, @find_team.pais), {blank:false}, class: 'form-control required' %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="text-center">
        <div class="nk-gap-1"></div>
        <%= form.submit 'Confirmar', class: 'nk-btn nk-btn-rounded nk-btn-color-white' do %>
          <span class="icon"><i class="ion-paper-airplane"></i></span>
        <% end %>
        <div class="nk-gap-1"></div>
      </div>
    </div>
  </div>

<% end %>
