<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <!-- START: Teams -->
      <% @find_teams_pagination.each do |find_team| %>
        <div class="nk-team">
          <div class="nk-team-logo">
            <%= image_tag('team-1-lg.jpg') %>
          </div>
          <div class="nk-team-cont">
            <div class="nk-content">
              <h3 class="h5 mb-20">
                <span class="text-main-1"><%= find_team.title %></span>
              </h3>
              <p class="h5 mb-20 ml-30">
                <% if user_signed_in? && ( current_user.role.id == 2 || current_user.id == find_team.user_id )  %>
                  <%= link_to edit_find_team_path(find_team) do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to find_team, method: :delete, data: { confirm: '¿Estás seguro?' } do %>
                    <i class="fa fa-trash ml-10"></i>
                  <% end %>
                <% end %>
              </p>
            </div>
            <p><%= find_team.description %></p>
            <p><small>Contactar con jugador: <%= link_to User.find_by(id: find_team.user_id).name, user_path(User.find_by(id: find_team.user_id).id) %></small></p>
            <% if user_signed_in? && current_user.active? &&  Group.find_by(user_id: current_user.id).present? %>
              <div class="boton_contacto">
                <%= link_to 'Quiero tu talento', contacts_new_path(usuario: User.find_by(id: find_team.user_id).email, grupo: Group.find_by(user_id: current_user.id).name, talento: true), class:'nk-btn nk-btn-rounded nk-btn-color-black' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <!-- END: Teams -->
      <div class="nk-gap-2"></div>
      <!-- START: Pagination -->
      <div class="col-lg-9">
        <div class="nk-pagination nk-pagination-left">
          <nav>
            <%= will_paginate(
                  @find_teams_pagination,
                  previous_label: '<span class="ion-ios-arrow-back"></span>',
                  next_label: '<span class="ion-ios-arrow-forward"></span>',
                  )
            %>
          </nav>
        </div>
      </div>
      <!-- END: Pagination -->

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>
<div class="nk-gap-2"></div>
