<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @find_team.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @find_team.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @find_team.description %>
</p>

<%= link_to 'Edit', edit_find_team_path(@find_team) %> |
<%= link_to 'Back', find_teams_path %>
