/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.panel-admin {
  .navbar-nav {
    flex-direction: column;
    align-items: baseline;
    text-align: left;
  }

  .nav-item {
    padding: 0;
  }
}

.navbar-dark {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(215, 45, 172, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

.bg-dark-5 {
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar-collapse {
  margin-top: 12px;
  margin-left: 12px;
}

.counter-box {
  background: rgb(215, 45, 172);
  background: linear-gradient(90deg, rgba(215, 45, 172, 1) 35%, rgba(145, 71, 255, 1) 100%);
  border-radius: 15px;
  width: 100%;
  height: 150px;

  .fa, .fas, .fab {
    position: absolute;
    bottom: 40px;
    left: 30px;
  }

  .fa, .fas, .fab, p {
    color: #fff;
  }

  .nk-post-title {
    text-align: right;
    font-weight: bold;
    font-size: 40px;
    margin: 0 15px 0 0;
    padding: 0;

    span {
      font-size: 15px;
    }
  }

  .nk-sub-title {
    font-style: normal;
    margin: 0;
    position: absolute;
    right: 30px;
    bottom: 40px;
  }
}

.line-separator {
  border-bottom: 4px solid #9147ff;
}

@media (max-width: 991px) {
}

@media (max-width: 575px) {
  .panel-admin .navbar-nav {
    align-items: unset;
    text-align: center;
  }
}