/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#sponsors {
  .nk-gap-2 {
    height: 0 !important;
  }

  .partners {
    img {
      padding: 25px;
    }
  }

  @media (max-width: 1199px) {
    img {
      width: 100%;
    }
  }
}