<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<style>
    .boton {
        text-decoration: none;
        background-color: #9147ff;
        padding: 25px 50px;
        margin: 25px;
        display: inline-block;
    }

    .boton:hover {
        background-color: #7338cb;
    }
</style>

<div style="width: 800px; margin: 0 auto; background-color: #26104e;">
  <div style="text-align: center;">
    <p style="color: #fff; margin: 0; padding: 5px 10px;">
      <small>"If you know what you are worth go and get what you deserve"</small></p>
  </div>
  <div style="background: rgba(0,0,0,0.3); text-align: center;">
    <a href="https://freeagents.gg" style="color: #fff;">
      <img src="https://freeagents.gg/logo.png" width="240" alt="logo-freeagents">
    </a>
  </div>
  <section style="height: 200px; padding: 150px 50px;">
    <p style="color: #fff;">Bienvenido a FreeAgents <%= @resource.email %>!</p>

    <p style="color: #fff;">
      Este mail es para que confirmes la creación de tu cuenta y puedas acceder al sitio <br>
      Puedes confirmar tu cuenta en el siguiente enlace:
    </p>
    <%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token), class: 'boton', style: 'color: #fff;' %>
    <p style="color: #fff;">
      Recuerda que debes completar tu perfil de jugador/equipo
    </p>

  </section>
  <footer style="background-color: #9147ff;">
    <p style="color: #fff; padding: 5px 10px; text-align: center;">
      <a href="mailto:contacto@freeagents.gg" style="color: #fff;"><i class="fas fa-envelope" style="padding: 0 5px;"></i></a>
      <a href="https://www.twitch.tv/freeagentsesports" style="color: #fff;"><i class="fab fa-twitch" style="padding: 0 5px;"></i></a>
      <a href="https://www.instagram.com/freeagentsesports" style="color: #fff;"><i class="fab fa-instagram" style="padding: 0 5px;"></i></a>
      <a href="https://www.facebook.com/FreeAgentsEsports/" style="color: #fff;"><i class="fab fa-facebook" style="padding: 0 5px;"></i></a>
      <a href="https://www.youtube.com/channel/UC3LUYHFKerNHuogYIhe0amw" style="color: #fff;"><i class="fab fa-youtube" style="padding: 0 5px;"></i></a>
      <a href="https://twitter.com/freeagents11" style="color: #fff;"><i class="fab fa-twitter" style="padding: 0 5px;"></i></a>
    </p>
  </footer>
</div>