<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div style="width: 800px; margin: 0 auto; background-color: #26104e;">
  <div style="text-align: center;">
    <p style="color: #fff; margin: 0; padding: 5px 10px;"><small>"If you know what you are worth go and get what you deserve"</small></p>
  </div>
  <div style="background: rgba(0,0,0,0.3); text-align: center;">
    <a href="https://freeagents.gg" style="color: #fff;">
      <img src="https://freeagents.gg/logo.png" width="240" alt="logo-freeagents">
    </a>
  </div>
  <section style="height: 200px; padding: 150px 50px;">
    <p style="color: #fff;">Hola <%= @resource.email %>!</p>

    <p style="color: #fff;">¿Solicitaste un vínculo para cambiar tu contraseña? Si fuiste tú, puedes continuar con el enlace siguiente; de lo contrario desestima este mensaje.</p>

    <p style="color: #fff;"><%= link_to 'Modificar mi contraseña', edit_password_url(@resource, reset_password_token: @token), style: 'color: #fff;' %></p>

    <p style="color: #fff;">Tu contraseña no será modificada en tanto ingreses al vínculo de arriba e ingreses una nueva contraseña.</p>

  </section>
  <footer style="background-color: #9147ff;">
    <p style="color: #fff; padding: 5px 10px; text-align: center;">
      <a href="mailto:contacto@freeagents.gg" style="color: #fff;"><i class="fas fa-envelope" style="padding: 0 5px;"></i></a>
      <a href="https://www.twitch.tv/freeagentsesports" style="color: #fff;"><i class="fab fa-twitch" style="padding: 0 5px;"></i></a>
      <a href="https://www.instagram.com/freeagentsesports" style="color: #fff;"><i class="fab fa-instagram" style="padding: 0 5px;"></i></a>
      <a href="https://www.facebook.com/FreeAgentsEsports/" style="color: #fff;"><i class="fab fa-facebook" style="padding: 0 5px;"></i></a>
      <a href="https://www.youtube.com/channel/UC3LUYHFKerNHuogYIhe0amw" style="color: #fff;"><i class="fab fa-youtube" style="padding: 0 5px;"></i></a>
      <a href="https://twitter.com/freeagents11" style="color: #fff;"><i class="fab fa-twitter" style="padding: 0 5px;"></i></a>
    </p>
  </footer>
</div>
