<%= form_with(model: group_invitation) do |form| %>
  <% if group_invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_invitation.errors.count, "error") %> prohibited this group_invitation from being saved:</h2>

      <ul>
        <% group_invitation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
