<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">

      <!-- START: Teams -->
      <% @group_invitations_pagination.each do |invite| %>
        <%
          group = Group.find_by(id: invite.group_id)
          group_owner = User.find_by(id: group.user_id)
        %>
        <div class="nk-team">
          <div class="nk-team-cont">
            <div class="nk-content">
              <p class="h5 mb-20 ml-30">
                Recibiste una invitación de <%= link_to group_owner.nickname, user_path(group_owner) %>
                para pertenecer a su equipo <%= link_to group.name, group_path(group) %>
              </p>
            </div>
            <%= link_to 'Aceptar', group_invitations_path(user_id: current_user.id, group_id: invite.group_id, invite_id: invite.id), class: 'ml-30' %>
            <%= link_to 'Cancelar', invite, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'ml-30' %>
          </div>
        </div>
      <% end %>
      <!-- END: Teams -->
      <div class="nk-gap-2"></div>
      <!-- START: Pagination -->
      <div class="col-lg-9">
        <div class="nk-pagination nk-pagination-left">
          <nav>
            <%= will_paginate(
                  @group_invitations_pagination,
                  previous_label: '<span class="ion-ios-arrow-back"></span>',
                  next_label: '<span class="ion-ios-arrow-forward"></span>',
                  )
            %>
          </nav>
        </div>
      </div>
      <!-- END: Pagination -->

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>
<div class="nk-gap-2"></div>