<%= render '_partials/breadcrumbs' %>

<div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-12">
      <% if user_signed_in? %>
        <div class="row filtros">
          <div class="col-md-6">
            <%= form_with(controller: controller, method: 'get', class: 'd-flex') do |f| %>
              <%= f.text_field :nombre, class: 'form-control', placeholder: 'Buscar equipo', data: { turbolinks: false } %>
              <%= button_tag type: 'submit', class: 'nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 ml-15' do %>
                <i class="fas fa-search"></i>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-6 boton-filtro">
            <%= link_to 'Limpiar filtros', find_users_path, class:"nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3 mr-5" %>
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-2 .nk-btn-color-dark-3" data-toggle="modal" data-target="#modalFiltrarBusqueda">Filtrar Equipos</button>
          </div>
        </div>
      <% end %>

      <div class="row">
        <!-- START: Teams -->
        <% @find_users_pagination.each do |find_user| %>
          <%
            user = User.find_by(id: find_user.user_id)
            group = Group.find_by(id: find_user.group_id)
            game = Game.find_by(id: find_user.juego)
            country = Country.find_by(id: find_user.pais)
          %>
          <div class="col-lg-6 my-2">
            <div class="nk-team">
              <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                  <div class="photo-logo">
                    <% if group.image.present? %>
                      <%= image_tag(group.image, width: '100%') %>
                    <% else %>
                      <%= image_tag('logo.png', width: '100%') %>
                    <% end %>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="nk-team-cont">
                    <div class="nk-content flex-column">
                      <h3 class="mb-0"><%= link_to group.name, group_path(group).truncate(12) %></h3>
                      <h3 class="h5 mb-20">
                        <span class="text-main-1">BUSCO JUGADOR</span>
                      </h3>
                    </div>
                    <p class="mb-20">
                      Juego: <%= game.name unless game.nil? %></span> <br>
                      Partidas jugadas: <%= find_user.partidas_jugadas %> <br>
                      Rol: <%= find_user.rol %> <br>
                      Posición: <%= find_user.posicion %> <br>
                      Winrate: <%= find_user.winrate %> <br>
                      País: <%= country.name unless country.nil? %> <br>
                      Rango horario: <%= find_user.rango_horario %>
                    </p>

                    <% if user_signed_in? && current_user.active? && current_user.option == 'jugador' %>
                      <div class="boton_contacto">
                        <%= link_to 'Apuntarme al equipo', contacts_new_path(usuario: user.email, grupo: group.name), class:'nk-btn nk-btn-rounded nk-btn-color-black' %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="options-icons">
                  <% if user_signed_in? && ( current_user.role.id == 2 || current_user.id == find_user.user_id )  %>
                    <%= link_to edit_find_user_path(find_user) do %>
                      <i class="fa fa-edit"></i>
                    <% end %>
                    <%= link_to find_user, method: :delete, data: { confirm: '¿Estás seguro?' } do %>
                      <i class="fa fa-trash ml-10"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <!-- END: Teams -->
      </div>
      <div class="nk-gap-2"></div>
      <!-- START: Pagination -->
      <div class="col-lg-12">
        <div class="nk-pagination text-center">
          <nav>
            <%= will_paginate(
                  @find_users_pagination,
                  previous_label: '<span class="ion-ios-arrow-back"></span>',
                  next_label: '<span class="ion-ios-arrow-forward"></span>',
                  inner_window: 1, outer_window: 1
                  )
            %>
          </nav>
        </div>
      </div>
      <!-- END: Pagination -->

    </div>

  </div>
</div>

<div class="nk-gap-2"></div>
<div class="nk-gap-2"></div>
