<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @find_user.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @find_user.group_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @find_user.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @find_user.description %>
</p>

<%= link_to 'Edit', edit_find_user_path(@find_user) %> |
<%= link_to 'Back', find_users_path %>
