<!DOCTYPE html>
<html>
  <head>
    <title>Free Agents ESports</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon-32x32.png' %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700' %>
    <%= stylesheet_link_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' %>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render '_partials/header' %>
    <% if flash.any? %>
      <script type="text/javascript">
          <% flash.each do |key, value| %>
          <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
          toastr.<%= type %>('<%= value %>')
          <% end %>
      </script>
    <% end %>
    <div class="nk-main" id="<%= controller_name %>">
      <% unless controller_name == "sponsors" %>
        <div class="nk-gap-2"></div>
      <% end %>
      <%= yield %>
    </div>
    <%= render '_partials/footer' %>
    <%= render '_partials/modal' %>

    <!-- START: Scripts -->

    <!-- GSAP -->
    <script src="/bower_components/gsap/src/uncompressed/TweenMax.js" ></script>
    <script src="/bower_components/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

    <!-- Bootstrap -->
    <script src="/bower_components/tether/dist/js/tether.min.js"></script>

    <!-- Sticky Kit -->
    <script src="/bower_components/sticky-kit/dist/sticky-kit.min.js"></script>

    <!-- Jarallax -->
    <script src="/bower_components/jarallax/dist/jarallax.min.js"></script>
    <script src="/bower_components/jarallax/dist/jarallax-video.min.js"></script>

    <!-- imagesLoaded -->
    <script src="/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>

    <!-- Flickity -->
    <script src="/bower_components/flickity/dist/flickity.pkgd.min.js"></script>

    <!-- Photoswipe -->
    <script src="/bower_components/photoswipe/dist/photoswipe.min.js"></script>
    <script src="/bower_components/photoswipe/dist/photoswipe-ui-default.min.js"></script>

    <!-- Jquery Form -->
    <script src="/bower_components/jquery-form/dist/jquery.form.min.js"></script>

    <!-- Jquery Validation -->
    <script src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>

    <!-- Jquery Countdown + Moment -->
    <script src="/bower_components/jquery.countdown/dist/jquery.countdown.min.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/moment-timezone/builds/moment-timezone-with-data.js"></script>

    <!-- Hammer.js -->
    <script src="/bower_components/hammer.js/hammer.min.js"></script>

    <!-- NanoSroller -->
    <script src="/bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js"></script>

    <!-- SoundManager2 -->
    <script src="/bower_components/SoundManager2/script/soundmanager2-nodebug-jsmin.js"></script>

    <!-- Summernote -->
    <script src="/bower_components/summernote/dist/summernote.min.js"></script>

    <!-- nK Share -->
    <script src="/plugins/nk-share/nk-share.js"></script>

    <!-- Prism -->
    <script src="/bower_components/prism/prism.js"></script>
    <!-- GoodGames -->
    <script src="/js/goodgames.min.js"></script>
    <script src="/js/goodgames-init.js"></script>
    <!-- END: Scripts -->

  </body>
</html>
